@import '../../assets/sass/variables';

.changeLanguage {
  color  : $mainColorLight;
  display: inline-block;

  i {
    color       : $infoColor;
    margin-right: 5px;
  }

  button {
    cursor        : pointer;
    text-transform: uppercase;
    background    : transparent;
    border        : none;
    font-size     : 14px;
    color         : $mainColorLight;

    @media (max-width: 425px) {
      margin : 0;
      padding: 0;
    }

    &:active,
    &:focus {
      outline: none;
    }

    &.active,
    &:hover {
      color          : #fff;
      text-decoration: underline;
    }
  }
}