/dist
/node_modules
/build
/demo/dist
/es
/lib
/umd
npm-debug.log*
*.iml
/.idea
yarn-error.log
.babelrc
/storybook-static
/coverage/lcov-report
/coverage/coverage-final.json
/coverage/lcov.info
bundle-analysis.html
.DS_Store