html {
  font-size: 14px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
}
div[class^="rsg--toolbar"],
div[class^="rsg--controls"] {
  display: none;
}

body::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
body::-webkit-scrollbar-thumb {
  background: #04C7E5;
  border-radius: 2px;
}
div[class^="rsg--sidebar"]::-webkit-scrollbar {
width: 5px;
height: 5px;
}
div[class^="rsg--sidebar"]::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 2px;
  margin: 0 10px 0 0
}

div[class^="rsg--sidebar"] {
  background: #04C7E5;
  width: 300px;
  border: none;
}

main[class^="rsg--content"] {
  margin: 0;
  padding: 40px;
  width: auto;
  max-width: 1400px;
}

footer[class^="rsg--footer"] {
  display: none;
}

h1[class^="rsg--heading"] {
  margin: 0 0 6px;
  font-size: 38px;
  font-weight: 700;
}

h2[class^="rsg--heading"] {
  width: 100%;
  -webkit-font-smoothing: antialiased;
  position: relative;
  margin: 0 0 16px;
  font-size: 36px;
  border-bottom: 1px solid #F0F0F1;
  font-weight: 400;
  padding: 0 0 16px 0;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
