 .description-header {
    margin-top    : 70px;
    margin-bottom : 25px;
    font-size     : 20px;
    color         : $mainColor;
    letter-spacing: 0;
    line-height   : 31px;
    border-bottom : 1px dotted #04C7E5;
    margin-right  : 30px;

    @media (max-width: 425px) {
        margin: 30px;
    }
}

.description-text {
    opacity       : 0.9;
    font-size     : 15px;
    color         : $mainTextColorDark;
    letter-spacing: 0;
    line-height   : 26px;
    margin-right  : 30px;

    @media (max-width: 425px) {
        margin            : 30px;
        overflow          : hidden;
        display           : -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
    }
}

.description-show-all {
    @media (max-width: 425px) {
        margin            : 30px;
        margin-top        : 0;
        overflow          : auto;
        display           : inline-block;
        -webkit-line-clamp: initial;
        -webkit-box-orient: initial;
    }
}