.select-per-page {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size  : 14px;
  color      : $mainTextColorDark;

  & > select {
    width      : 75px;
    margin-left: 15px;
  }
}