.create-password {
  background: map-get($background, 'secondary');
  &__title {
    display: flex;
    justify-content: center;
    padding: $distance-9 0 $distance-3;
    background-color: white;
    font-size: 28px;
    color: map-get($grays, 900);
    text-align: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 660px;
    margin: $distance-4 auto;

    &__description {
      text-align: center;

      @media (max-width: map-get($breakpoints, xs)) {
        padding: 0 $distance-2;
      }
    }

    &__input {
      width: 500px;
      margin-top: $distance-3;
      margin-bottom: $distance-3;

      @media (max-width: map-get($breakpoints, xs)) {
        width: 100%;
        padding: 0 $distance-2;
      }
    }
  }
}
