.create-password {
  height: 100vh;
  background: #f5f5f6;
  &__header {
    background: #fff;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    color: map-get($grays, 900);
    padding: $distance-4 0;
  }

  &__body {
    max-width: 500px;
    margin: 0 auto;
    &__subtitle {
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      color: #424f53;
      padding-top: $distance-4;
      padding-bottom: $distance-3;
    }
  }
}
