.create-password {
  height: 100vh;
  background: map-get($background, 'secondary');
  &__title {
    display: flex;
    justify-content: center;
    padding: $distance-9 0 $distance-3;
    background-color: white;
    font-size: 28px;
    color: map-get($grays, 900);
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 660px;
    margin: $distance-4 auto;

    &__description {
      text-align: center;
    }

    &__input {
      width: 500px;
      margin-top: $distance-3;
      margin-bottom: $distance-3;
    }
  }
}
