.didNotReceiveEmailModal {
  ol {
    margin: 0;
    padding: 0 $distance-2;

    li {
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
    }
    button {
      display: contents;
      text-decoration: underline;
      font-weight: normal;
    }
  }

  &__footer {
    margin-top: $distance-2;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: map-get($neutrals, 900);

    a {
      color: map-get($turquoise, 500);
      text-decoration: underline;
    }
  }
}
