.set-password {
  background-color: map-get($background, secondary);
  height: 100vh;

  &__title {
    display: flex;
    justify-content: center;
    background-color: white;
    padding: $distance-9 0 $distance-3;
    font-size: 28px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 660px;
    margin: $distance-6 auto;

    &--description {
      text-align: center;

      & div:first-child {
        margin-bottom: $distance-2;
      }
    }

    &--email-input {
      width: 500px;
      margin-top: $distance-4;
      margin-bottom: $distance-4;
    }
  }
}
