@font-face {
  font-family: 'icomoon';
  src        : url('../../assets/fonts/icomoon.eot?a5kt6r');
  src        : url('../../assets/fonts/icomoon.eot?a5kt6r#iefix') format('embedded-opentype'),
    url('../../assets/fonts/icomoon.ttf?a5kt6r') format('truetype'),
    url('../../assets/fonts/icomoon.woff?a5kt6r') format('woff'),
    url('../../assets/fonts/icomoon.svg?a5kt6r#icomoon') format('svg');
  font-weight : normal;
  font-style  : normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family   : 'icomoon' !important;
  font-style    : normal;
  font-weight   : normal;
  font-variant  : normal;
  text-transform: none;
  line-height   : 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-camera:before {
  content: "\e900";
}

.icon-cheveron-down:before {
  content: "\e901";
}

.icon-cheveron-left:before {
  content: "\e902";
}

.icon-cheveron-right:before {
  content: "\e903";
}

.icon-cheveron-up:before {
  content: "\e904";
}

.icon-close:before {
  content: "\e905";
}

.icon-down-arrow:before {
  content: "\e906";
}

.icon-facebook1:before {
  content: "\e907";
}

.icon-globe:before {
  content: "\e908";
}

.icon-google:before {
  content: "\e90a";
}

.icon-google-plus1:before {
  content: "\e90b";
}

.icon-google-plus3:before {
  content: "\e90c";
}

.icon-hamburger:before {
  content: "\e90d";
}

.icon-home:before {
  content: "\e90e";
}

.icon-httpslock:before {
  content: "\e90f";
}

.icon-ic-box-calendar-white:before {
  content: "\e910";
}

.icon-ic-box-clock-timer-white:before {
  content: "\e911";
}

.icon-ic-browser-chrome:before {
  content: "\e912";
}

.icon-ic-browser-opera:before {
  content: "\e913";
}

.icon-ic-browser-safari:before {
  content: "\e914";
}

.icon-ic-cause-white:before {
  content: "\e916";
}

.icon-ic-charities-benefited:before {
  content: "\e917";
}

.icon-ic-comment:before {
  content: "\e91a";
}

.icon-ic-crowdfunding:before {
  content: "\e91c";
}

.icon-ic-doc:before {
  content: "\e91e";
}

.icon-ic-donations:before {
  content: "\e91f";
}

.icon-ic-edit-request:before {
  content: "\e921";
}

.icon-ic-employees-involved:before {
  content: "\e922";
}

.icon-ic-facebook:before {
  content: "\e923";
}

.icon-ic-feed:before {
  content: "\e924";
}

.icon-ic-file:before {
  content: "\e925";
}

.icon-ic-file-upload:before {
  content: "\e926";
}

.icon-ic-go-back:before {
  content: "\e92b";
}

.icon-ic-goods:before {
  content: "\e92c";
}

.icon-ic-hourglass-ended:before {
  content: "\e92e";
}

.icon-ic-hours:before {
  content: "\e92f";
}

.icon-ic-instagram:before {
  content: "\e931";
}

.icon-ic-location:before {
  content: "\e932";
}

.icon-ic-menu-auctions:before {
  content: "\e933";
}

.icon-ic-menu-donations:before {
  content: "\e934";
}

.icon-ic-menu-manage-store:before {
  content: "\e935";
}

.icon-ic-menu-payments:before {
  content: "\e936";
}

.icon-ic-menu-requests-gray:before {
  content: "\e937";
}

.icon-ic-menu-store:before {
  content: "\e938";
}

.icon-ic-notification-bell:before {
  content: "\e939";
}

.icon-icon-delete:before {
  content: "\e93b";
}

.icon-icon-faq:before {
  content: "\e93c";
}

.icon-icon-feed:before {
  content: "\e93d";
}

.icon-icon-giftcards:before {
  content: "\e93e";
}

.icon-icon-growdfunding:before {
  content: "\e93f";
}

.icon-icon-manage-employees:before {
  content: "\e940";
}

.icon-icon-payments:before {
  content: "\e941";
}

.icon-icons-manage-employees:before {
  content: "\e943";
}

.icon-icon-statistics:before {
  content: "\e944";
}

.icon-icon-volunteering:before {
  content: "\e945";
}

.icon-ic-ppt:before {
  content: "\e947";
}

.icon-ic-request-goods-gray:before {
  content: "\e948";
}

.icon-ic-request-volunteering-gray:before {
  content: "\e949";
}

.icon-ic-settings:before {
  content: "\e94a";
}

.icon-ic-status-comments:before {
  content: "\e94d";
}

.icon-ic-status-volunteers:before {
  content: "\e94e";
}

.icon-ic-twitter:before {
  content: "\e951";
}

.icon-ic-txt:before {
  content: "\e952";
}

.icon-ic-up:before {
  content: "\e953";
}

.icon-ic-verification-phone-code:before {
  content: "\e954";
}

.icon-ic-view-request:before {
  content: "\e955";
}

.icon-ic-volunteering:before {
  content: "\e956";
}

.icon-ic-website:before {
  content: "\e957";
}

.icon-ic-xls:before {
  content: "\e958";
}

.icon-import-employees:before {
  content: "\e959";
}

.icon-instagram:before {
  content: "\e95a";
}

.icon-left-arrow:before {
  content: "\e95b";
}

.icon-linkedin21:before {
  content: "\e95c";
}

.icon-mail4:before {
  content: "\e95d";
}

.icon-menu-mobile:before {
  content: "\e95e";
}

.icon-pdf:before {
  content: "\e960";
}

.icon-pinterest1:before {
  content: "\e961";
}

.icon-right:before {
  content: "\e962";
}

.icon-right-arrow:before {
  content: "\e963";
}

.icon-star-full:before {
  content: "\e964";
}

.icon-telegram:before {
  content: "\e965";
}

.icon-twitter1:before {
  content: "\e966";
}

.icon-up-arrow:before {
  content: "\e967";
}

.icon-vimeo1:before {
  content: "\e968";
}

.icon-youtube1:before {
  content: "\e96a";
}