@mixin media-breakpoint-xxs {
  @media (max-width: map-get($breakpoints, xxs)) {
    @include text-overflow-ellipsis;
    max-width: 160px;
  }
}

@mixin media-breakpoint-xs {
  @media (max-width: map-get($breakpoints, xs)) {
    @include text-overflow-ellipsis;
    max-width: 215px;
  }
}

.account-selector {
  display: flex;
  align-items: center;
  border-radius: 18px;
  padding: $distance-2;

  &:hover {
    background-color: map-get($grays, 50);
    cursor: pointer;
  }

  &__img {
    border-radius: 50%;
    height: 60px;
    width: 60px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: $distance-2;
  }

  &__name {
    font-weight: 700;
    font-size: 18px;
    color: map-get($main-text-colors, title) !important;
    @include media-breakpoint-xs;
    @include media-breakpoint-xxs;
  }

  &__email {
    color: map-get($main-text-colors, dark);
    @include media-breakpoint-xs;
    @include media-breakpoint-xxs;
  }
}
