.alertBox {
  display: flex;
  justify-content: flex-start;
  gap: $distance-2;
  width: 100%;
  position: absolute;
  padding: $distance-2 19px;
  border-radius: 8px;
  top: 0;
  left: 0;
  right: 0;

  &__img {
    font-size: 18px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: $distance-1;

    &--title {
      color: map-get($main-text-colors, title);
      font-weight: 700;
      font-size: 18px;
      margin-bottom: unset;
    }

    &--subtitle {
      color: map-get($main-text-colors, title);
      display: block;
      font-weight: 400;
      font-size: 16px;
    }
  }

  &__info {
    background-color: map-get($blue, 0);
    @include svg-change-color(map-get($turquoise, 500));
  }
  &__success {
    background-color: map-get($positive, 0);
    @include svg-change-color(map-get($positive, 500));
  }
  &__warning {
    background-color: map-get($warning, 0);
    @include svg-change-color(map-get($golden-tainoi, 500));
  }

  &__danger {
    background-color: map-get($negative, 0);
    @include svg-change-color(map-get($negative, 500));
  }
}
