.badge {
  display: flex;
  align-items: center;
  width: fit-content;
  border-radius: 100px;
  border: 0px;

  &.squared {
    border-radius: $border-radius-1;
  }

  &:focus {
    outline: none;
  }

  &.cursor-pointer {
    cursor: pointer;
  }

  &.full-width {
    width: 100%;
  }

  &.type-default {
    &__black {
      color: map-get($base, white);
      background-color: map-get($base, black);
      @include svg-change-color(map-get($base, white));
    }

    &__dark-gray {
      color: map-get($base, white);
      background-color: map-get($neutrals, 700);
      @include svg-change-color(map-get($base, white));
    }

    &__white {
      color: map-get($base, black);
      background-color: map-get($background, secondary);
      @include svg-change-color(map-get($neutrals, 700));
    }
    &__secondary {
      color: map-get($base, white) !important;
      background-color: map-get($neutrals, 700);
    }

    &__turquoise {
      color: map-get($base, white);
      background-color: map-get($turquoise, 500);
      @include svg-change-color(map-get($base, white));
    }

    &__green {
      color: map-get($positive, 500);
      background-color: get-rgba(map-get($positive, 500));
      @include svg-change-color(map-get($positive, 500));
    }

    &__red {
      color: map-get($negative, 500);
      background-color: get-rgba(map-get($negative, 500));
      @include svg-change-color(map-get($negative, 500));
    }

    &__yellow {
      color: map-get($warning, 500);
      background-color: get-rgba(map-get($warning, 500));
      @include svg-change-color(map-get($warning, 500));
    }

    &__blue {
      color: map-get($blue, 500);
      background-color: get-rgba(map-get($blue, 500));
      @include svg-change-color(map-get($blue, 500));
    }

    &__dark-blue {
      color: map-get($base, white);
      background-color: map-get($blue, 500);
      @include svg-change-color(map-get($base, white));
    }

    &__default {
      color: map-get($base, black);
      background-color: map-get($neutrals, 100);
      @include svg-change-color(map-get($base, black));
    }

    &__primary {
      color: map-get($base, white) !important;
      background-color: map-get($theme-colors, primary);
      @include svg-change-color(map-get($base, white));
    }

    &__info {
      color: map-get($colors, white) !important;
      background-color: map-get($theme-colors, secondary);
      @include svg-change-color(map-get($base, white));
    }

    &__success {
      color: map-get($colors, white) !important;
      background-color: map-get($theme-colors, success);
      @include svg-change-color(map-get($base, white));
    }

    &__danger {
      color: map-get($colors, white) !important;
      background-color: map-get($theme-colors, danger);
      @include svg-change-color(map-get($base, white));
    }

    &__warning {
      color: map-get($colors, white) !important;
      background-color: map-get($theme-colors, warning);
      @include svg-change-color(map-get($base, white));
    }

    &__dark {
      color: map-get($neutrals, 900) !important;
      background-color: map-get($base, white);
      border: 1px solid map-get($neutrals, 200);
      @include svg-change-color(map-get($neutrals, 900));
    }
  }

  &.type-text {
    &__black {
      color: map-get($base, black);
      @include svg-change-color(map-get($base, black));
    }

    &__dark-gray {
      color: map-get($neutrals, 700);
      @include svg-change-color(map-get($neutrals, 700));
    }

    &__white {
      color: map-get($neutrals, 400);
      @include svg-change-color(map-get($neutrals, 400));
    }

    &__turquoise {
      color: map-get($turquoise, 400);
      @include svg-change-color(map-get($turquoise, 400));
    }

    &__green {
      color: map-get($positive, 400);
      @include svg-change-color(map-get($positive, 400));
    }

    &__red {
      color: map-get($negative, 400);
      @include svg-change-color(map-get($negative, 400));
    }

    &__yellow {
      color: map-get($warning, 400);
      @include svg-change-color(map-get($warning, 400));
    }

    &__blue {
      color: map-get($blue, 400);
      @include svg-change-color(map-get($blue, 400));
    }

    &__dark-blue {
      color: map-get($blue, 500);
      @include svg-change-color(map-get($blue, 500));
    }

    &__default {
      color: map-get($base, black);
      background-color: map-get($neutrals, 100);
      @include svg-change-color(map-get($base, black));
    }

    &__primary {
      color: map-get($colors, white) !important;
      background-color: map-get($theme-colors, primary);
      @include svg-change-color(map-get($base, black));
    }

    &__info {
      color: map-get($colors, white) !important;
      background-color: map-get($theme-colors, secondary);
      @include svg-change-color(map-get($base, black));
    }

    &__success {
      color: map-get($colors, white) !important;
      background-color: map-get($theme-colors, success);
      @include svg-change-color(map-get($base, black));
    }

    &__danger {
      color: map-get($colors, white) !important;
      background-color: map-get($theme-colors, danger);
      @include svg-change-color(map-get($base, black));
    }

    &__warning {
      color: map-get($colors, white) !important;
      background-color: map-get($theme-colors, warning);
      @include svg-change-color(map-get($base, black));
    }

    &__dark {
      color: map-get($neutrals, 900) !important;
      background-color: map-get($base, white);
      border: 1px solid map-get($neutrals, 200);
      @include svg-change-color(map-get($base, black));
    }
  }

  &__content {
    display: flex;
    align-items: center;
  }

  &__xs {
    align-items: start;
    padding: 0 8px;
    min-height: 18px;
    span {
      line-height: 19px;
      height: 16px;
      align-items: center;
      font-weight: 600;
      font-size: 12px;
    }
  }

  &__sm {
    font-weight: 600;
    font-size: 14px;
    padding: $distance-1 / 2 $distance-1;
    min-height: 20px;
  }

  &__md {
    font-weight: 600;
    font-size: 16px;
    padding: $distance-1 $distance-2;
  }

  &__lg {
    font-weight: 600;
    font-size: 18px;
    padding: $distance-2 $distance-3;
  }

  &.with-icon {
    padding-left: $distance-1 / 2;
  }

  .icon-component {
    margin-right: $distance-1 / 2;
  }
}
