.badge {
  display: flex;
  align-items: center;
  width: fit-content;
  border-radius: 100px;
  border: 0px;

  &.squared {
    border-radius: $border-radius-1;
  }

  &:focus {
    outline: none;
  }

  &.cursor-pointer {
    cursor: pointer;
  }

  &.full-width {
    width: 100%;
  }

  &__default {
    color: map-get($base, black);
    background-color: map-get($neutrals, 100);
  }

  &__primary {
    color: map-get($colors, white) !important;
    background-color: map-get($theme-colors, primary);
  }

  &__secondary {
    color: map-get($base, white) !important;
    background-color: map-get($neutrals, 700);
  }

  &__white {
    color: map-get($base, black) !important;
    background-color: map-get($base, white);
  }

  &__info {
    color: map-get($colors, white) !important;
    background-color: map-get($theme-colors, secondary);
  }

  &__success {
    color: map-get($colors, white) !important;
    background-color: map-get($theme-colors, success);
  }

  &__danger {
    color: map-get($colors, white) !important;
    background-color: map-get($theme-colors, danger);
  }

  &__warning {
    color: map-get($colors, white) !important;
    background-color: map-get($theme-colors, warning);
  }

  &__dark {
    color: map-get($neutrals, 900) !important;
    background-color: map-get($base, white);
    border: 1px solid map-get($neutrals, 200);
    font-weight: normal !important;
    font-size: 14px !important;
    line-height: 20px;
    padding: 6px 12px !important;
  }

  &__xs {
    align-items: start;
    padding: 0 8px;
    min-height: 18px;
    span {
      line-height: 19px;
      height: 16px;
      align-items: center;
      font-weight: 600;
      font-size: 12px;
    }
  }

  &__sm {
    font-weight: 600;
    font-size: 14px;
    padding: $distance-1 / 2 $distance-1;
    min-height: 24px;
    // line-height: 20px;
  }

  &__md {
    font-weight: 600;
    font-size: 16px;
    padding: $distance-1 $distance-2;
  }

  &__lg {
    font-weight: 600;
    font-size: 18px;
    padding: $distance-2 $distance-3;
  }

  @include svg-change-color(map-get($neutrals, 700));

  .icon-component {
    margin-right: $distance-1;
  }
}
