a.btn-esolidar {
  width: fit-content;
}

.btn-esolidar {
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  padding: 6px 16px;
  min-width: 64px;
  border-radius: $border-radius-1;
  display: flex;
  justify-content: center;
  align-items: center;

  white-space: nowrap;
  -webkit-transition: all 700ms cubic-bezier(0.115, 0.65, 0.215, 1);
  -webkit-transition: all 700ms cubic-bezier(0.115, 0.65, 0.215, 1.005);
  -moz-transition: all 700ms cubic-bezier(0.115, 0.65, 0.215, 1.005);
  -o-transition: all 700ms cubic-bezier(0.115, 0.65, 0.215, 1.005);
  transition: all 700ms cubic-bezier(0.115, 0.65, 0.215, 1.005);
  -webkit-transition-timing-function: cubic-bezier(0.115, 0.65, 0.215, 1);
  -webkit-transition-timing-function: cubic-bezier(0.115, 0.65, 0.215, 1.005);
  -moz-transition-timing-function: cubic-bezier(0.115, 0.65, 0.215, 1.005);
  -o-transition-timing-function: cubic-bezier(0.115, 0.65, 0.215, 1.005);
  transition-timing-function: cubic-bezier(0.115, 0.65, 0.215, 1.005);

  &.btn &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    outline: none;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &__icon-left {
    display: flex;
    align-items: center;
    margin-right: 12px;
  }

  &__icon-right {
    display: flex;
    align-items: center;
    margin-left: 12px;
  }

  &__badge {
    display: flex;
    align-items: center;
    margin-left: 12px;
  }

  &.full-width {
    width: 100%;
  }

  &.btn {
    &-sm {
      height: 35px;
      font-size: 14px;
    }

    &-md {
      height: 38px;
      font-size: 16px;
    }

    &-lg {
      height: 44px;
      font-size: 20px;
    }

    &-xl {
      height: 52px;
      padding: 10px 26px;
      font-size: 20px;
    }

    &-primary {
      color: map-get($base, black);
      background-color: map-get($colors, white);
      border: 1px solid map-get($theme-colors, primary);
      box-shadow: none;

      &:hover {
        color: map-get($theme-colors, primary);
        background-color: map-get($turquoise, 100);
        border-color: map-get($turquoise, 100);
      }
    }

    &-primary-full {
      border: 1px solid map-get($theme-colors, primary);
      color: map-get($colors, white) !important;
      background-color: map-get($theme-colors, primary);

      &:hover {
        background-color: map-get($theme-colors-light, primary);
        border-color: map-get($theme-colors-light, primary);
      }
    }

    &-info {
      color: map-get($base, black);
      background-color: map-get($colors, white);
      border: 1px solid map-get($theme-colors, secondary);
      box-shadow: none;

      &:hover {
        color: white;
        background-color: map-get($theme-colors-light, secondary);
        border-color: map-get($theme-colors-light, secondary);
      }
    }

    &-info-full {
      border: 1px solid map-get($theme-colors, secondary);
      color: map-get($colors, white) !important;
      background-color: map-get($theme-colors, secondary);

      &:hover {
        background-color: map-get($theme-colors-light, secondary);
        border-color: map-get($theme-colors-light, secondary);
      }
    }

    &-success {
      color: map-get($base, black);
      background-color: map-get($colors, white);
      border: 1px solid map-get($theme-colors, success);
      box-shadow: none;

      &:hover {
        color: white;
        background-color: map-get($theme-colors-light, primary);
        border-color: map-get($theme-colors-light, primary);
      }
    }

    &-success-full {
      border: 1px solid map-get($theme-colors, success);
      color: map-get($colors, white) !important;
      background-color: map-get($theme-colors, success);

      &:hover {
        background-color: map-get($theme-colors-light, primary);
        border-color: map-get($theme-colors-light, primary);
      }
    }

    &-danger {
      color: map-get($base, black);
      background-color: map-get($colors, white);
      border: 1px solid map-get($theme-colors, danger);
      box-shadow: none;

      &:hover {
        color: white;
        background-color: map-get($theme-colors-light, danger);
        border-color: map-get($theme-colors-light, danger);
      }
    }

    &-danger-full {
      border: 1px solid map-get($theme-colors, danger);
      color: map-get($colors, white) !important;
      background-color: map-get($theme-colors, danger);

      &:hover {
        background-color: map-get($theme-colors-light, danger);
        border-color: map-get($theme-colors-light, danger);
      }
    }

    &-warning {
      color: map-get($base, black);
      background-color: map-get($colors, white);
      border: 1px solid map-get($theme-colors, warning);
      box-shadow: none;

      &:hover {
        color: white;
        background-color: map-get($theme-colors-light, warning);
        border-color: map-get($theme-colors-light, warning);
      }
    }

    &-warning-full {
      border: 1px solid map-get($theme-colors, warning);
      color: map-get($colors, white) !important;
      background-color: map-get($theme-colors, warning);

      &:hover {
        background-color: map-get($theme-colors-light, warning);
        border-color: map-get($theme-colors-light, warning);
      }
    }

    &-dark {
      color: map-get($base, black);
      background-color: map-get($colors, white);
      border: 1px solid map-get($theme-colors-light, dark);
      box-shadow: none;

      &:hover {
        color: map-get($base, black);
        background-color: map-get($theme-colors-light, dark);
        border-color: map-get($theme-colors-light, dark);
      }

      &.disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }

    &-dark-full {
      border: 1px solid map-get($theme-colors-dark, dark);
      color: map-get($colors, white) !important;
      background-color: map-get($theme-colors-dark, dark);

      &:hover {
        background-color: map-get($theme-colors-dark, dark);
        border-color: map-get($theme-colors-dark, dark);
      }
    }

    &-link {
      color: map-get($theme-colors, primary);
      background-color: transparent;
      box-shadow: none;
      border: none;

      &:hover {
        color: map-get($theme-colors-dark, primary);
        background-color: transparent;
        border-color: transparent;
        text-decoration: none;

        & .text {
          text-decoration: underline;
        }
      }
    }
  }
}
