a.btn-esolidar {
  width: fit-content;
}

.btn-esolidar {
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  padding: $distance-1 $distance-2;
  min-width: 64px;
  border-radius: $border-radius-1;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  gap: 12px;

  @include animate();

  &.btn &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    outline: none;
  }

  &:disabled,
  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &__icon {
    display: flex;
    align-items: center;
  }

  &__icon-left,
  &__icon-right,
  &__badge {
    display: flex;
    align-items: center;
  }

  &.full-width {
    width: 100%;
  }

  &.btn {
    &-sm {
      height: 32px;
      font-size: 14px;
      padding: 6px $distance-2;
    }

    &-md {
      height: 40px;
      font-size: 16px;
      padding: $distance-1 $distance-2;
    }

    &-lg {
      height: 48px;
      font-size: 18px;
      padding: 12px 20px;
    }

    &-xl {
      height: 52px;
      padding: 10px 26px;
      font-size: 20px;
    }

    &-icon {
      min-width: 40px;
      width: 40px;
    }

    &-primary,
    &-success {
      color: map-get($base, black);
      background-color: map-get($colors, white);
      border: 2px solid map-get($theme-colors, primary);
      box-shadow: none;

      &:hover:not(.disabled) {
        color: map-get($theme-colors, primary);
        background-color: map-get($turquoise, 100);
        border-color: map-get($turquoise, 100);
      }

      &:focus {
        @include box-shadow(0px 0px 0px 4px change-color(map-get($turquoise, 500), $alpha: 0.08));
      }
    }

    &-primary-full,
    &-success-full {
      color: map-get($base, white) !important;
      border: 2px solid map-get($theme-colors, primary);
      background-color: map-get($theme-colors, primary);

      &:hover:not(.disabled) {
        background-color: map-get($turquoise, 400);
        border-color: map-get($turquoise, 400);
      }

      &:focus {
        @include box-shadow(0px 0px 0px 4px change-color(map-get($turquoise, 500), $alpha: 0.08));
      }

      &.disabled {
        opacity: 0.32;
      }
    }

    &-secondary {
      color: map-get($base, black);
      background-color: map-get($background, primary);
      border: 2px solid map-get($neutrals, 100);
      box-shadow: none;

      &:hover:not(.disabled) {
        border-color: map-get($neutrals, 900);
      }

      &:focus {
        @include box-shadow(0px 0px 0px 4px change-color(map-get($turquoise, 500), $alpha: 0.08));
      }

      &.disabled {
        color: map-get($neutrals, 400);
        background-color: map-get($background, secondary);
      }
    }

    &-info {
      color: map-get($base, black);
      background-color: map-get($colors, white);
      border: 2px solid map-get($theme-colors, secondary);
      box-shadow: none;

      &:hover:not(.disabled) {
        color: white;
        background-color: map-get($theme-colors-light, secondary);
        border-color: map-get($theme-colors-light, secondary);
      }
    }

    &-info-full {
      border: 2px solid map-get($theme-colors, secondary);
      color: map-get($colors, white) !important;
      background-color: map-get($theme-colors, secondary);

      &:hover:not(.disabled) {
        background-color: map-get($theme-colors-light, secondary);
        border-color: map-get($theme-colors-light, secondary);
      }
    }

    &-danger {
      color: map-get($base, black);
      background-color: map-get($colors, white);
      border: 2px solid map-get($theme-colors, danger);
      box-shadow: none;

      &:hover:not(.disabled) {
        color: white;
        background-color: map-get($theme-colors-light, danger);
        border-color: map-get($theme-colors-light, danger);
      }
    }

    &-danger-full {
      border: 2px solid map-get($theme-colors, danger);
      color: map-get($colors, white) !important;
      background-color: map-get($theme-colors, danger);

      &:hover:not(.disabled) {
        background-color: map-get($theme-colors-light, danger);
        border-color: map-get($theme-colors-light, danger);
      }
    }

    &-warning {
      color: map-get($base, black);
      background-color: map-get($colors, white);
      border: 2px solid map-get($theme-colors, warning);
      box-shadow: none;

      &:hover:not(.disabled) {
        color: white;
        background-color: map-get($theme-colors-light, warning);
        border-color: map-get($theme-colors-light, warning);
      }
    }

    &-warning-full {
      border: 2px solid map-get($theme-colors, warning);
      color: map-get($colors, white) !important;
      background-color: map-get($theme-colors, warning);

      &:hover:not(.disabled) {
        background-color: map-get($theme-colors-light, warning);
        border-color: map-get($theme-colors-light, warning);
      }
    }

    &-dark {
      color: map-get($base, black);
      background-color: map-get($colors, white);
      border: 2px solid map-get($theme-colors-light, dark);
      box-shadow: none;

      &:hover:not(.disabled) {
        color: map-get($base, black);
        background-color: map-get($theme-colors-light, dark);
        border-color: map-get($theme-colors-light, dark);
      }

      &.disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }

    &-dark-full {
      border: 2px solid map-get($theme-colors-dark, dark);
      color: map-get($colors, white) !important;
      background-color: map-get($theme-colors-dark, dark);

      &:hover:not(.disabled) {
        background-color: map-get($theme-colors-dark, dark);
        border-color: map-get($theme-colors-dark, dark);
      }
    }

    &-link {
      color: map-get($theme-colors, primary);
      background-color: transparent;
      box-shadow: none;
      border: none;

      &:hover:not(.disabled) {
        color: map-get($theme-colors-dark, primary);
        background-color: transparent;
        border-color: transparent;
        text-decoration: none;

        & .text {
          text-decoration: underline;
        }
      }
    }

    &-ghost {
      color: map-get($neutrals, 700);
      background-color: transparent;
      box-shadow: none;
      border: none;

      &:hover:not(.disabled) {
        color: map-get($theme-colors, primary);
        background-color: change-color(map-get($turquoise, 500), $alpha: 0.08);
        border-color: transparent;
        text-decoration: none;
      }

      &:focus {
        @include box-shadow(0px 0px 0px 4px change-color(map-get($turquoise, 500), $alpha: 0.08));
      }

      &.disabled {
        color: map-get($neutrals, 400);
        background-color: map-get($background, secondary);
      }
    }

    &-negative {
      border: 2px solid map-get($theme-colors, danger);
      color: map-get($colors, white) !important;
      background-color: map-get($theme-colors, danger);

      &:hover:not(.disabled) {
        background-color: map-get($theme-colors-light, danger);
        border-color: map-get($theme-colors-light, danger);
      }

      &:focus {
        @include box-shadow(0px 0px 0px 4px change-color(map-get($turquoise, 500), $alpha: 0.08));
      }
    }
  }
}
