.card-component {
  position: relative;
  background: map-get($colors, white);
  border: 1px solid map-get($grays, 300);
  overflow: hidden;
  margin-bottom: 30px;
  border-radius: $distance-1;
  @include animate();
  @include box-shadow(map-get($elevation, 50));

  button {
    position: relative;
    z-index: 2;
  }

  a {
    text-decoration: none;
    color: initial;
    cursor: pointer;
  }

  &__actions {
    position: relative;
    z-index: 3;
  }

  &:hover {
    @include box-shadow(map-get($elevation, 500));
    .bg-image {
      -ms-transform: scale(1.1, 1.1);
      -webkit-transform: scale(1.1, 1.1);
      transform: scale(1.1, 1.1);
    }
  }

  &__image {
    overflow: hidden;
    position: relative;
    .bg-image {
      background-color: map-get($neutrals, 100);
      height: 200px;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      overflow: hidden;
      -webkit-transition: all 700ms cubic-bezier(0.115, 0.65, 0.215, 1);
      -webkit-transition: all 700ms cubic-bezier(0.115, 0.65, 0.215, 1.005);
      -moz-transition: all 700ms cubic-bezier(0.115, 0.65, 0.215, 1.005);
      -o-transition: all 700ms cubic-bezier(0.115, 0.65, 0.215, 1.005);
      transition: all 700ms cubic-bezier(0.115, 0.65, 0.215, 1.005);
      -webkit-transition-timing-function: cubic-bezier(0.115, 0.65, 0.215, 1);
      -webkit-transition-timing-function: cubic-bezier(0.115, 0.65, 0.215, 1.005);
      -moz-transition-timing-function: cubic-bezier(0.115, 0.65, 0.215, 1.005);
      -o-transition-timing-function: cubic-bezier(0.115, 0.65, 0.215, 1.005);
      transition-timing-function: cubic-bezier(0.115, 0.65, 0.215, 1.005);
    }
  }

  &__body {
    margin-left: $distance-2;
    margin-right: $distance-2;
    height: 151px;
    border-bottom: 1px solid map-get($grays, 300);

    &--relative {
      position: relative;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: $distance-4;
    padding-bottom: $distance-2;
    margin-left: $distance-2;
    margin-right: $distance-2;
  }

  &__average {
    position: absolute;
    top: $distance-2;
    left: $distance-2;

    &-value {
      color: map-get($base, black);
    }

    &-total {
      color: map-get($neutrals, 400);
    }
  }

  &__countdown {
    margin-top: -66px;
    position: absolute;
    width: 100%;
  }

  &__title {
    padding-top: 20px;
    margin-top: $distance-2;
    margin-bottom: $distance-1;
    font-size: 16px;
    font-weight: 700;
    color: map-get($grays, 900);
    letter-spacing: -0.3px;
    line-height: 24px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;

    a::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
  }

  &__progressbar {
    padding-bottom: $distance-5;
  }

  &__support {
    font-size: 15px;
    color: map-get($grays, 900);
    letter-spacing: -0.3px;
    line-height: 22px;

    a {
      color: map-get($grays, 900);
      text-decoration: underline;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
    }

    .receipient-name {
      color: map-get($main-text-colors, dark);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
    }
  }

  &__supporting-label {
    font-weight: 600;
  }

  &__badge {
    position: absolute;
    z-index: 1;
    top: $distance-2;
    left: $distance-2;
  }

  .card-auction-subtitle {
    font-size: 12px;
    color: map-get($main-text-colors, dark);
  }

  .card-auction-bid {
    font-size: 16px;
    font-weight: 700;
    color: map-get($colors, black);
  }

  .card-project-status {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    background: map-get($colors, white);
    border-radius: $border-radius-1;
    border: 1px solid change-color(map-get($base, black), $alpha: 0.08);
    padding: 22px;
    @include box-shadow(map-get($elevation, 50));
  }

  .project__ods {
    display: flex;
    margin-top: $distance-4;
    gap: $distance-1;

    img {
      width: 40px;
      height: 40px;
      border-radius: $border-radius-1 / 2;
    }

    .more {
      display: flex;
      width: 40px;
      height: 40px;
      border: 1px solid change-color(map-get($base, black), $alpha: 0.04);
      align-items: center;
      justify-content: center;
      font-weight: bold;
    }
  }

  &__logo {
    width: 48px;
    height: 48px;
    position: absolute;
    top: $distance-2;
    left: $distance-2;
    border-radius: 50%;
    background-size: cover;
    z-index: 9;
    border: 1px solid get-rgba(map-get($base, black), 8);
  }

  &__featured {
    background: map-get($base, black);
    border-radius: $distance-3;
    color: map-get($colors, white);
    font-size: 14px;
    font-weight: 600;
    padding: 0px 6px;
    position: absolute;
    right: $distance-2;
    top: $distance-2;
    z-index: 9;
    display: flex;
    align-items: center;

    svg {
      padding-right: 5px;
    }
  }

  // CardNonProfit
  &.cardNonProfit {
    .card-component__body {
      height: 210px;

      .card-component__title,
      .card-component__cardNonProfit-body-location {
        @include text-multiline-ellipsis(1);
      }

      @media (max-width: map-get($breakpoints, xs)) {
        height: auto;
        padding-bottom: $distance-2;
      }
    }

    .card-component__body {
      border-bottom: 0px;
    }
  }

  &__cardNonProfit {
    &-donation-button {
      margin-top: 28px;
    }
    &-body {
      &-location-label {
        font-size: 12px;
        line-height: 16px;
        color: map-get($main-text-colors, dark);
        min-height: 18px;
      }
      &-location {
        font-size: 14px;
        line-height: 20px;
        color: map-get($main-text-colors, title);
        margin-bottom: $distance-3;
        min-height: 22px;
      }
      &-summary {
        font-size: 14px;
        line-height: 20px;
        color: map-get($main-text-colors, dark);

        @include text-multiline-ellipsis(3);
      }
    }
  }
}

.cardNonProfit__inline {
  display: flex;

  &.card-component {
    margin-bottom: 0;
  }

  .card-component__image {
    flex: 272px;
    flex-grow: 0;
    flex-shrink: 0;

    .bg-image {
      min-height: 272px;
      height: 100%;
      width: 272px;
    }
  }

  .card-component__title {
    margin-bottom: $distance-1;
    margin-top: 0;
    padding-top: 0;
    font-size: 21px;
    font-weight: 700;

    a::after {
      z-index: 1;
    }
  }

  .card-component__body {
    padding: $distance-3;
    height: auto !important;
  }

  .card-component__cardNonProfit-donation-button {
    margin-top: $distance-3;
  }
}

.cardNonProfitList {
  &--col2 {
    display: flex;
    flex-wrap: wrap;
    gap: $distance-3;

    &:not(:last-child) {
      margin-bottom: $distance-3;
    }

    .card-component {
      margin-bottom: 0;
      flex: 0 0 calc(50% - 16px);
    }
  }

  &--col3 {
    display: flex;
    flex-wrap: wrap;
    gap: $distance-3;

    &:not(:last-child) {
      margin-bottom: $distance-3;
    }

    .card-component {
      margin-bottom: 0;
      flex: 0 0 calc(33.3333333333% - 16px);
    }
  }
}