.changeLanguage {
  color: map-get($theme-colors-light, primary);
  display: inline-block;

  i {
    color: map-get($colors, light-blue);
    margin-right: 5px;
  }

  button {
    cursor: pointer;
    text-transform: uppercase;
    background: transparent;
    border: none;
    font-size: 14px;
    color: map-get($theme-colors-light, primary);

    &:active,
    &:focus {
      outline: none;
    }

    &.active,
    &:hover {
      color: map-get($colors, white);
      text-decoration: underline;
    }
  }
}
