.change-profile-user-image {
  .thumb-box {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin: 0 !important;
    overflow: hidden;

    #change-profile-user-image__button-upload {
      min-width: 40px;
      width: 40px;
      height: 40px;
      position: absolute;
      left: 105px;
      padding: 0 11px;
    }

    .thumb {
      width: 148px !important;
      height: 148px !important;
      min-width: 148px;
      min-height: 148px;
      background-size: cover;
      background-position: 50% 50%;
      border-radius: 50%;
      border: 2px solid map-get($neutrals, 100);

      &:hover {
        cursor: pointer;
      }

      @media (max-width: 1024px) {
        width: 148px !important;
        height: 148px !important;
      }
    }

    .thumbInput {
      margin-top: 30px;
    }
  }

  .dropzone-box {
    text-align: center;
    top: -50px;

    .btn-esolidar__icon-left {
      margin-right: -10px !important;
    }

    .error-files {
      margin-top: 15px;
      top: 33px;
      position: absolute;
    }
  }
}
