.checkout {
  margin-top: 80px;

  @media (max-width: map-get($breakpoints, xs)) {
    margin-top: 25px;
  }

  h2 {
    color: map-get($theme-colors, primary);
    font-size: 20px;
    text-align: left;
    margin-bottom: 10px;
    margin-top: 60px;

    @media (max-width: map-get($breakpoints, xs)) {
      margin-top: 30px;
    }
  }
}

.checkbox-inline .form-group .checkbox {
  left: 0px;
  top: 5px;
}

.no-padding {
  padding: 0;
}

a.btn-next-step {
  padding: 5px 30px;
}

.box {
  margin-bottom: 15px;

  h3 {
    margin: 0;
    padding: 0;
    font-size: 19px;
    color: map-get($main-text-colors, dark);
  }

  .paragraph {
    color: map-get($main-text-colors, light);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  @media (max-width: map-get($breakpoints, xs)) {
    &.box-mobile-padding {
      padding: 20px !important;
    }
  }
}

.cart-item {
  .form-group {
    margin: 0;
    margin-top: 15px;

    label {
      margin: 0;
    }
  }

  img {
    margin: 10px 0;
    float: left;
    margin-right: 20px;
    margin-left: 10px;
  }

  h3 {
    margin: 10px 0;
    color: map-get($main-text-colors, dark);
  }

  .price {
    padding: 35px 0;
    text-align: center;
    color: map-get($main-text-colors, dark);

    @media (max-width: map-get($breakpoints, xs)) {
      padding: 0;
      text-align: right;
      margin-top: 15px;
    }
  }

  .cart-item-row {
    height: 150px;

    @media (max-width: map-get($breakpoints, xs)) {
      height: auto !important;
    }

    .checkbox-inline {
      .form-group {
        label {
          width: 100%;
        }
      }
    }

    .checkbox {
      top: 25px;
    }
  }
}

.btn-remove-item {
  border: none;
  background: transparent;
  text-decoration: underline;
  margin-top: 35px;
  color: map-get($main-text-colors, dark);

  @media (max-width: map-get($breakpoints, xs)) {
    margin: 0;
    padding-top: 0;
  }
}

.no-items {
  padding: 170px;
  text-align: center;

  @media (max-width: map-get($breakpoints, xs)) {
    padding: 80px 20px;
  }
}

.payment-methods {
  padding-top: 35px;
  padding-left: 20px;
  min-height: 300px;

  .method-row {
    border-bottom: 1px solid map-get($grays, 200);

    .form-group {
      margin: 15px 0;
    }

    img {
      float: right;
      margin: 0 3px;
      margin-top: -3px;

      @media (max-width: map-get($breakpoints, xs)) {
        display: none;
      }
    }
  }

  .radio-inline {
    padding: 0;
    display: inline;
  }

  .tab-pane {
    height: 300px;
  }
}

.paypal-checkout {
  padding: 40px;
  padding-top: 25px;
}

.mb-way {
  padding: 25px;

  .error {
    color: map-get($theme-colors, danger);
    padding-top: 5px;
  }
}

.pay-now {
  border: 2px solid map-get($colors, green);
  color: map-get($colors, white) !important;
  background: map-get($colors, green);
  border-radius: 100px;
  padding: 8px 40px;
  font-size: 16px;

  &:hover {
    background: darken(map-get($colors, green), 10%);
    border-color: darken(map-get($colors, green), 10%);
  }

  &:focus {
    outline: none;
  }

  padding: 7px 30px;
  margin-top: 25px;
}

.total-ckeckout-box {
  margin-top: 92px;
  color: map-get($main-text-colors, dark);

  h3 {
    color: map-get($theme-colors, primary);
    text-align: right;
    border-bottom: 1px solid map-get($theme-colors, primary);
    padding-bottom: 5px;
  }

  .title {
    font-weight: 700;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-top: 15px;
    max-width: 200px;
  }

  .price {
    padding-top: 15px;
    font-weight: 700;
  }

  .subtotal {
    margin-top: 20px;
    font-weight: 700;

    .text-label {
      padding-top: 15px;
    }

    .price {
      border-top: 1px solid;
      padding-top: 15px;
    }
  }
}

.loading-payment {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8);
  z-index: 9999;

  .loading-message {
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    padding-top: 140px;
    font-weight: bold;
  }
}

.thankyou {
  h1 {
    margin-top: 60px;

    @media (max-width: map-get($breakpoints, xs)) {
      margin-top: 25px;
    }
  }

  .box {
    margin-bottom: 70px;
    overflow: hidden;
  }

  p {
    color: map-get($main-text-colors, light);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  h3 {
    color: map-get($theme-colors, primary);
  }

  .share-icon {
    float: left;
    margin-right: 10px;
  }

  .share-label-text {
    margin-top: 15px;
    margin-bottom: 25px;
    color: map-get($theme-colors, primary);
    font-size: 24px;
  }
}

.credit-card {
  padding-top: 15px;

  .wpwl-form {
    width: 100%;
    max-width: 100%;
  }

  .wpwl-form-card {
    background: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin: 0;
  }

  .wpwl-label {
    font-family: map-get($fonts, family);
    font-size: 12px;
    font-weight: 900;
    line-height: 19px;
    color: map-get($input, label-color);
    text-transform: uppercase;
    letter-spacing: 0;
  }

  .wpwl-label-brand {
    padding-top: 10px;
  }

  .wpwl-control-brand,
  .wpwl-control {
    height: 40px;
    background-color: map-get($colors, white);
    border: 2px solid map-get($grays, 400);
    border-radius: 3px;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-appearance: none;
    font-family: 'Arial';
    font-size: 15px;
    color: map-get($input, label-color);
    letter-spacing: -0.31px;
    resize: none;

    &:focus {
      border: 2px solid map-get($main-text-colors, light);
      box-shadow: none;
    }
  }
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (max-width: map-get($breakpoints, xs)) {
  .loading-message {
    padding: 0 30px;
  }

  .wpwl-brand-card {
    display: none;
  }

  .share-icon-box {
    padding: 0 70px;
    text-align: center;

    .share-icon {
      margin-bottom: 10px;
    }
  }
}

.checkout-supports {
  font-weight: 200;
  color: map-get($main-text-colors, light);
}

.stripe-checkout {
  padding-bottom: 30px;

  .stripe-credit-card-checkout {
    .checkout {
      margin: 0;

      label {
        font-family: map-get($fonts, family);
        font-size: 12px;
        font-weight: 900;
        line-height: 19px;
        color: map-get($main-text-colors, dark);
        text-transform: uppercase;
        letter-spacing: 0;
        display: inline-block;
        width: 100%;
      }

      .StripeElement {
        height: 40px;
        background-color: map-get($colors, white);
        border: 2px solid map-get($grays, 400);
        border-radius: 3px;
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-appearance: none;
        font-family: map-get($fonts, family);
        font-size: 15px;
        color: map-get($input, label-color);
        letter-spacing: -0.31px;
        line-height: 24px;
        resize: none;
        margin-bottom: 15px;
        padding: 10px;
      }
    }

    .error {
      color: map-get($theme-colors, danger);

      .StripeElement {
        border: 2px solid map-get($theme-colors, danger);
      }
    }
  }
}

.laoding-stripe {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  background-color: rgba(255, 255, 255, 0.7);
}

.next-step,
.btn-prev-step {
  float: none !important;
}

.btn-no-style {
  background: transparent;
  border: none;
  padding: 0;
}
