.checkbox-inline {
  position: relative;
  padding: 0;

  .form-group {
    margin-bottom: 0;
    color: map-get($input, label-color);

    input[type='checkbox'] {
      position: absolute;
      visibility: hidden;
      margin: 0;
    }

    input[type='checkbox']:checked ~ .checkbox {
      &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 16px;
        height: 16px;
        background: url('#{$cdn-static-url}/frontend/assets/checkbox.svg') 0 -16px no-repeat;
      }
    }

    label {
      position: relative;
      padding-left: 25px;
    }

    .checkbox {
      left: 0px;
      top: 0px;
      content: '';
      position: absolute;
      width: 16px;
      height: 16px;
      background: url('#{$cdn-static-url}/frontend/assets/checkbox.svg') 0 0 no-repeat;
    }

    span {
      position: relative;

      font-size: 15px;
      color: map-get($input, label-color);
      letter-spacing: 0;
      line-height: 26px;
      padding-left: 5px;
      font-weight: bold;
    }

    .label {
      &.sm {
        font-size: 14px;
        margin-top: -1px;
      }

      &.md {
        font-size: 16px;
        margin-top: -3px;
      }

      &.lg {
        font-size: 18px;
        margin-top: -5px;
      }
    }
  }

  .help-block {
    color: map-get($theme-colors, danger);
  }
}
