.cards-list {
  padding-bottom: 0;

  .add-card {
    background: transparent;
    border: none;
    color: map-get($colors, green);
    text-decoration: underline;
  }

  label {
    margin-bottom: 0 !important;
  }

  .expired {
    color: red;
    padding: 0 !important;
  }

  .checkbox {
    top: 4px !important;
  }
}
