.crowdfunding-thumb {
  background: map-get($colors, white);
  border: 1px solid map-get($grays, 300);
  border-radius: 3px;
  height: 400px;
  margin-bottom: 30px;

  .bg-image {
    height: 200px;
    background-size: cover;
    background-position: 50% 50%;

    .date {
      padding-top: 15px;
      padding-left: 15px;

      ._date {
        border-radius: 3px;
        display: inline-block;
        padding: 7px 10px 2px 10px;

        .label-text {
          font-size: 10px;
          color: map-get($colors, white);
          letter-spacing: 0;
        }

        .date-text {
          font-size: 15px;
          color: map-get($colors, white);
          letter-spacing: 0;
          line-height: 26px;
        }
      }

      .soon {
        background-color: map-get($colors, light-blue);
      }

      .running {
        background-color: #31bd79;
      }

      .ended {
        background-color: map-get($colors, red);
      }
    }
  }

  .title {
    font-size: 15px;
    color: map-get($main-text-colors, dark);
    letter-spacing: -0.3px;
    line-height: 22px;
    height: 85px;
    padding-top: 20px;
    display: block;
    display: -webkit-box;
    max-width: 400px;
    margin-bottom: 20px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    img {
      float: right;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-left: 15px;
      margin-top: 5px;
    }
  }

  .raised-percent {
    padding: 15px;

    .raised-goal {
      background: map-get($grays, 100);
      height: 10px;
      border-radius: 5px;
      overflow: hidden;
    }

    .percent-text {
      font-size: 12px;
      color: map-get($main-text-colors, dark);
      letter-spacing: 0;
      line-height: 12px;
      padding-left: 0;
      text-align: right;
    }

    .percent {
      background: map-get($status-colors, active);
      border-radius: 5px;
      height: 10px;
    }
  }

  .raised {
    border-top: 1px solid map-get($grays, 300);
    padding: 0 15px;

    .raised-label {
      font-size: 12px;
      color: map-get($grays, 500);
      letter-spacing: 0;
      text-transform: uppercase;
      padding-top: 17px;
      display: inline;

      @media (max-width: map-get($breakpoints, xs)) {
        width: 50%;
        display: inline-block;
        top: -6px;
      }
    }

    .raised-value {
      font-size: 21px;
      color: map-get($theme-colors, primary);
      letter-spacing: -0.5px;
      line-height: 33px;
      padding-top: 9px;

      @media (max-width: map-get($breakpoints, xs)) {
        width: 50%;
        display: inline-block;
        top: -2px;
      }
      white-space: nowrap;
    }
  }
}

.crowdfunding-thumb-component {
  background: map-get($colors, white);
  border: 1px solid map-get($grays, 300);
  border-radius: 3px;
  margin-bottom: 30px;

  &:hover {
    .bg-image {
      -ms-transform: scale(1.1, 1.1);
      -webkit-transform: scale(1.1, 1.1);
      transform: scale(1.1, 1.1);
    }
  }

  .crowdfunding-thumb-component-image {
    overflow: hidden;
    position: relative;
    .bg-image {
      height: 200px;
      background-size: cover;
      background-position: 50% 50%;
      overflow: hidden;
      -webkit-transition: all 700ms cubic-bezier(0.115, 0.65, 0.215, 1);
      -webkit-transition: all 700ms cubic-bezier(0.115, 0.65, 0.215, 1.005);
      -moz-transition: all 700ms cubic-bezier(0.115, 0.65, 0.215, 1.005);
      -o-transition: all 700ms cubic-bezier(0.115, 0.65, 0.215, 1.005);
      transition: all 700ms cubic-bezier(0.115, 0.65, 0.215, 1.005);
      -webkit-transition-timing-function: cubic-bezier(0.115, 0.65, 0.215, 1);
      -webkit-transition-timing-function: cubic-bezier(0.115, 0.65, 0.215, 1.005);
      -moz-transition-timing-function: cubic-bezier(0.115, 0.65, 0.215, 1.005);
      -o-transition-timing-function: cubic-bezier(0.115, 0.65, 0.215, 1.005);
      transition-timing-function: cubic-bezier(0.115, 0.65, 0.215, 1.005);
    }
  }

  .crowdfunding-thumb-component-body {
    margin-left: $distance-2;
    margin-right: $distance-2;

    .crowdfunding-thumb-component-countdown {
      margin-top: -50px;
      position: relative;
      z-index: 9;
    }

    .crowdfunding-thumb-component-title {
      margin-top: $distance-2;
      margin-bottom: $distance-1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 15px;
      color: map-get($main-text-colors, dark);
      letter-spacing: -0.3px;
      line-height: 22px;
    }

    .crowdfunding-thumb-component-progressbar {
      padding-bottom: $distance-5;
    }

    .crowdfunding-thumb-component-support {
      padding: $distance-2 0;
      margin-top: $distance-3;
      border-top: 1px solid map-get($grays, 300);
      font-size: 15px;
      color: map-get($main-text-colors, dark);
      letter-spacing: -0.3px;
      line-height: 22px;

      a {
        color: map-get($main-text-colors, dark);
        text-decoration: underline;
      }
    }
  }
}
