.contribute-row-box {
  padding: 10px 20px 10px 0px;

  .contribute-thumb {
    float: left;

    img {
      border-radius: 50%;
      margin-right: 10px;
      width: 40px;
    }
  }

  .contribute-row-text {
    color: map-get($main-text-colors, dark);

    font-size: 13px;
    line-height: 22px;
    display: block;
    margin-left: 50px;

    .user {
      font-family: map-get($fonts, heavy);
      font-size: 15px;
      color: map-get($main-text-colors, dark);
      letter-spacing: 0;
      line-height: 26px;
      display: block;
    }
  }

  .contribute-row-date {
    color: map-get($main-text-colors, dark);

    font-size: 12px;
    font-weight: 500;
    line-height: 24px;
    display: block;
    text-transform: capitalize;
    float: right;
  }

  &.blink {
    background: transparent;
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: 1;
    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
  }
}

.see-more-contributors {
  border: none;
  background: transparent;
  color: map-get($theme-colors, primary);
  text-decoration: underline;
}
