.donation-box {
  .currency-symbol {
    position: absolute;
    top: 35px;
    left: 25px;
    font-family: map-get($fonts, heavy);
    font-size: 20px;
    color: map-get($grays, 400);
    letter-spacing: 0;
    line-height: 22px;
  }

  input {
    padding-left: 10px;
    height: 40px;
    background-color: map-get($colors, white);
    border: 2px solid map-get($grays, 400);
    border-radius: 3px;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-appearance: none;
    font-family: map-get($fonts, family);
    font-size: 15px;
    color: map-get($main-text-colors, dark);
    letter-spacing: -0.31px;
    line-height: 24px;
    padding-top: 10px;
    resize: none;
  }

  .has-error {
    .help-block {
      color: map-get($colors, red) !important;
      font-size: 12px;
      top: -10px;
      position: relative;
    }
  }

  .btn-submit {
    width: 100%;
    margin-top: 20px;
    padding-left: 0;
    padding-right: 0;

    @media (max-width: map-get($breakpoints, xs)) {
      margin-top: 15px;
    }
  }

  .control-label {
    margin-bottom: 0px;
    line-height: 0;
    display: block;
  }

  .control-label span {
    line-height: 15px;
  }

  .control-label-note {
    color: map-get($main-text-colors, dark);
    font-size: 11px;
  }
}
