.custom-modal,
.modal {
  z-index: 9999;
}

.modal-backdrop.show {
  opacity: 75%;
  z-index: 9999;
}

.custom-modal {
  .modal-content {
    border-radius: $border-radius-2;
    box-shadow: 0px 0px 16px 0px #00000026;
    border: 1px solid map-get($neutrals, 200);
    @include thin-scroll-bar();

    @media (max-height: map-get($breakpoints, md)) {
      max-height: calc(100vh - 3.5rem) !important;
    }

    .modal-header {
      padding: $distance-3;

      & .modal-title {
        display: flex;
        gap: $distance-1;
        justify-content: space-between;
        width: 100%;

        & .custom-modal__title {
          font-weight: 700;
          color: map-get($base, black);
          display: flex;
          flex-wrap: wrap;
          gap: $distance-1;

          &-icon {
            margin-right: $distance-3;
          }
        }
      }
    }
    .modal-body {
      padding: 0 $distance-3;
      @include thin-scroll-bar();
    }

    .modal-footer {
      padding: $distance-3;
      gap: $distance-2;

      & > * {
        gap: $distance-2;
        margin: 0;
      }
    }
  }
}
