.custom-modal,
.modal {
  z-index: 9999;
}

.modal-backdrop.show {
  opacity: 75%;
}

.custom-modal {
  .modal-content {
    padding: $distance-1;
    border-radius: $border-radius-2;
    box-shadow: 0px 0px 16px 0px #00000026;
    border: 1px solid map-get($neutrals, 200);

    .modal-header {
      padding: $distance-2;

      & .modal-title {
        display: flex;
        gap: $distance-1;
        justify-content: space-between;
        width: 100%;

        & .custom-modal__title {
          font-weight: 700;
          color: map-get($base, black);
          display: flex;
          flex-wrap: wrap;
          gap: $distance-1;

          &-icon {
            margin-right: $distance-3;
          }
        }

        & .custom-modal__close {
          cursor: pointer;
          padding-top: $distance-1;
        }
      }
    }
    .modal-body {
      padding: 0 $distance-2 $distance-1 $distance-2;
    }

    .modal-footer {
      padding: $distance-2;

      & > * {
        margin: 0;
      }
    }
  }
}
