.datepicker-component {
  .size-xs {
    max-width: map-get($widths, xs);
  }
  .size-sm {
    max-width: map-get($widths, sm);
  }
  .size-md {
    max-width: map-get($widths, md);
  }
  .size-lg {
    max-width: map-get($widths, lg);
  }

  .icon {
    z-index: 1;
  }

  .with-icon {
    .form-control {
      padding-left: $distance-5;
    }
  }

  .form-control {
    @include input-form();

    &:hover {
      @include input-hover();
    }

    &:disabled {
      @include input-disabled();
    }

    &:focus {
      @include input-focus();
    }
  }

  .with-time {
    .react-datepicker {
      width: 395px;
      padding-right: 0;

      &__navigation--previous {
        right: 140px;
      }
    }
  }

  .react-datepicker-popper[data-placement^='bottom'] {
    margin-top: 5px;
  }

  .left-icon {
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 14px;
  }

  .react-datepicker {
    box-shadow: map-get($elevation, 50);
    font-family: map-get($fonts, main);
    font-size: 0.8rem;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid map-get($neutrals, 200);
    border-radius: $border-radius-2;
    display: inline-block;
    position: relative;
    padding-left: 16px;
    padding-right: 16px;
    overflow: hidden;

    &-popper {
      z-index: 1;
    }

    &__triangle {
      display: none;
    }

    &__header {
      background-color: white;
      border: none;
      padding: 0;
      font-size: 24px;
      line-height: 32px;
      text-transform: capitalize;
    }

    &__time-container {
      border-left: 1px solid map-get($neutrals, 200);
    }

    &__navigation--next--with-time:not(.react-datepicker__navigation--previous--with-today-button),
    &__navigation--next--with-time:not(.react-datepicker__navigation--next--with-today-button) {
      right: 110px;
    }

    &__current-month {
      text-align: left;
      padding: $distance-2;
      padding-left: 10px;
      font-size: 24px;
      line-height: 32px;
    }

    &__month {
      margin: 0;
      margin-bottom: 16px;
    }

    &__day {
      width: 40px;
      height: 40px;
      line-height: 40px;
      font-size: 16px;
      margin: 0;

      &--today {
        font-weight: 600;
        background-color: map-get($background, secondary);
        border-radius: $border-radius-1 !important;

        &:hover {
          color: map-get($base, white);
        }
      }

      &:hover {
        background-color: get-rgba(map-get($turquoise, 300));
        color: map-get($turquoise, 500);
      }

      &--outside-month {
        color: map-get($neutrals, 400);
      }

      &--disabled {
        color: map-get($neutrals, 400);

        &:hover {
          color: map-get($neutrals, 400);
          background-color: map-get($base, white);
        }
      }
    }

    &__day--in-selecting-range {
      background-color: map-get($turquoise, 0);
      color: map-get($turquoise, 500);
      border-radius: $border-radius-1;
    }

    &__day-names {
      margin: 0;
      padding: 0;
      line-height: 0;
    }

    &__day-name {
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
      text-align: center;
      letter-spacing: 0.08em;
      text-transform: uppercase;
      width: 40px;
      color: map-get($neutrals, 700);
      margin: 0;
    }

    &__day--outside-month {
      color: map-get($neutrals, 400);
    }

    &__day--selected,
    &__day--keyboard-selected {
      background-color: map-get($turquoise, 500) !important;
      border-radius: $border-radius-1;
      color: white;
      &:focus-visible {
        border: none;
      }
      &:hover {
        color: map-get($base, white);
      }
    }

    &__day {
      &--in-range {
        background-color: get-rgba(map-get($turquoise, 300)) !important;
        color: map-get($turquoise, 500);
        border-radius: 0px;

        &:first-child {
          border-radius: $border-radius-1 0 0 $border-radius-1;
        }

        &:last-child {
          border-radius: 0 $border-radius-1 $border-radius-1 0;
        }
      }
      &--range-start {
        background-color: map-get($turquoise, 500) !important;
        border-radius: $border-radius-1 !important;
        color: map-get($base, white) !important;
        position: relative;
        transform-style: preserve-3d;

        &:after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: get-rgba(map-get($turquoise, 300));
          transform: translateZ(-1px);
          border-radius: $border-radius-1 0 0 $border-radius-1;
        }

        &:hover {
          color: map-get($base, white);
        }
      }

      &--range-end {
        background-color: map-get($turquoise, 500) !important;
        border-radius: $border-radius-1 !important;
        color: map-get($base, white);
        transform-style: preserve-3d;
        position: relative;

        &:after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: get-rgba(map-get($turquoise, 300));
          transform: translateZ(-1px);
          border-radius: 0 $border-radius-1 $border-radius-1 0;
        }

        &:hover {
          color: map-get($base, white);
        }
      }

      &--selected {
        &:hover {
          color: map-get($base, white);
        }
      }
    }

    &__time-list-item--selected {
      background-color: map-get($turquoise, 500) !important;
    }

    &__highlighted {
      position: relative;
      &:before {
        content: '';
        position: absolute;
        bottom: 4px;
        background-color: map-get($turquoise, 300);
        width: 5px;
        height: 5px;
        border-radius: 3px;
        left: 18px;
        z-index: 9;
      }
    }

    &__custom-header {
      display: flex;
      justify-content: space-between;
      padding: $distance-2 0;

      &-month {
        border: none;
        background-color: map-get($base, white);
        font-size: 24px;
        line-height: 32px;
        text-transform: capitalize;
        font-weight: 700;

        &:focus,
        &:focus-visible {
          outline: none;
        }
      }

      button.react-datepicker__custom-header-month {
        padding: 0;
        &:hover {
          color: map-get($turquoise, 500);
        }
      }

      &-buttons {
        display: flex;
        align-items: center;
      }
    }

    &__container-months {
      position: absolute;
      top: 0;
      left: 0;
      background: map-get($base, white);
      right: 0;
      height: 330px;
      z-index: 10;

      &-view-header {
        display: flex;
        justify-content: space-between;
        padding: $distance-2 0;
        align-items: center;
      }

      &-list {
        align-items: center;
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: $distance-1 / 2;

        &-option {
          border: none;
          display: flex;
          font-size: 16px;
          align-items: center;
          justify-content: center;
          padding: 24px 0;
          background: map-get($base, white);
          border-radius: $distance-1;

          &:focus,
          &:focus-visible {
            outline: none;
          }

          &:hover {
            background-color: get-rgba(map-get($turquoise, 300));
            color: map-get($turquoise, 500);
          }

          &.active {
            background-color: map-get($turquoise, 500);
            color: map-get($base, white);
          }
        }
      }
    }
  }

  .react-datepicker__time-box {
    @include thin-scroll-bar();
  }
}
