.datepicker-component {
  .size-xs {
    max-width: map-get($widths, xs);
  }
  .size-sm {
    max-width: map-get($widths, sm);
  }
  .size-md {
    max-width: map-get($widths, md);
  }
  .size-lg {
    max-width: map-get($widths, lg);
  }

  .icon {
    z-index: 1;
  }

  .with-icon {
    .form-control {
      padding-left: $distance-4;
    }
  }

  .form-control {
    @include input-form();

    &:hover {
      @include input-hover();
    }

    &:disabled {
      @include input-disabled();
    }

    &:focus {
      @include input-focus();
    }
  }

  .with-time {
    .react-datepicker {
      width: 395px;
      padding-right: 0;

      &__navigation--previous {
        right: 140px;
      }
    }
  }

  .react-datepicker-popper[data-placement^='bottom'] {
    margin-top: 5px;
  }

  .react-datepicker {
    box-shadow: map-get($elevation, 100);
    font-family: map-get($fonts, main);
    font-size: 0.8rem;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid map-get($neutrals, 200);
    border-radius: $border-radius-1;
    display: inline-block;
    position: relative;
    padding-left: 16px;
    padding-right: 16px;
    overflow: hidden;

    &__triangle {
      display: none;
    }

    &__header {
      background-color: white;
      border: none;
      padding: 0;
      font-size: 24px;
      line-height: 32px;
      text-transform: capitalize;

      &__dropdown {
        background-color: map-get($base, white);
        position: absolute;
        top: 15px;
        left: $distance-1;

        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
      }
    }

    &__time-container {
      border-left: 1px solid map-get($neutrals, 200);
    }

    &__navigation--previous {
      left: auto;
      right: 50px;
      top: 20px;
      background: url('#{$cdn-static-url}/frontend/icons/ic-prev-arrow.svg') 50% 50% no-repeat;
      border: none;
      width: 22px;
      height: 22px;

      &:focus,
      &:focus-visible {
        outline: none;
      }
    }

    &__navigation--next {
      right: 25px;
      top: 20px;
      border: none;
      width: 22px;
      height: 22px;
      background: url('#{$cdn-static-url}/frontend/icons/ic-next-arrow.svg') 50% 50% no-repeat;

      &:focus,
      &:focus-visible {
        outline: none;
      }
    }

    &__navigation--next--with-time:not(.react-datepicker__navigation--previous--with-today-button),
    &__navigation--next--with-time:not(.react-datepicker__navigation--next--with-today-button) {
      right: 110px;
    }

    &__current-month {
      text-align: left;
      padding: $distance-2;
      padding-left: 10px;
      font-size: 24px;
      line-height: 32px;
    }

    &__day {
      width: 40px;
      height: 40px;
      line-height: 40px;
      font-size: 16px;
      margin: 0;

      &--today {
        &:hover {
          color: map-get($base, white);
        }
      }

      &:hover {
        background-color: change-color(map-get($turquoise, 300), $alpha: 0.08);
        color: map-get($turquoise, 500);
      }

      &--outside-month {
        color: map-get($neutrals, 400);
      }

      &--disabled {
        color: map-get($neutrals, 400);
        cursor: not-allowed;

        &:hover {
          color: map-get($neutrals, 400) !important;
          background-color: map-get($base, white);
        }
      }
    }

    &__day--in-selecting-range {
      background-color: map-get($turquoise, 0);
      color: map-get($turquoise, 500);
      border-radius: 8px;
    }

    &__day-names {
      margin: 0;
      padding: 0;
      line-height: 0;
    }

    &__day-name {
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
      text-align: center;
      letter-spacing: 0.08em;
      text-transform: uppercase;
      width: 40px;
      color: map-get($neutrals, 700);
      margin: 0;
    }

    &__day--outside-month {
      color: map-get($neutrals, 400);
    }

    &__day--selected,
    &__day--keyboard-selected {
      background-color: map-get($turquoise, 500) !important;
      border-radius: $border-radius-1;
      color: white;
      &:focus-visible {
        border: none;
      }
    }

    &__day {
      &--in-range {
        background-color: change-color(map-get($turquoise, 300), $alpha: 0.08) !important;
        color: map-get($turquoise, 500);
        border-radius: 0px;

        &:first-child {
          border-radius: 8px 0 0 8px;
        }

        &:last-child {
          border-radius: 0 8px 8px 0;
        }
      }
      &--range-start {
        background-color: map-get($turquoise, 500) !important;
        border-radius: 8px;
        color: map-get($base, white) !important;
        position: relative;
        transform-style: preserve-3d;

        &:after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: change-color(map-get($turquoise, 300), $alpha: 0.08);
          transform: translateZ(-1px);
          border-radius: 8px 0 0 8px;
        }

        &:hover {
          color: map-get($base, white);
        }
      }

      &--range-end {
        background-color: map-get($turquoise, 500) !important;
        border-radius: 8px !important;
        color: map-get($base, white);
        transform-style: preserve-3d;
        position: relative;

        &:after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: change-color(map-get($turquoise, 300), $alpha: 0.08);
          transform: translateZ(-1px);
          border-radius: 0 8px 8px 0;
        }

        &:hover {
          color: map-get($base, white);
        }
      }

      &--selected {
        &:hover {
          color: map-get($base, white);
        }
      }
    }

    &__time-list-item--selected {
      background-color: map-get($turquoise, 500);
    }

    &__highlighted {
      position: relative;
      &:before {
        content: '';
        position: absolute;
        bottom: 4px;
        background-color: map-get($turquoise, 300);
        width: 5px;
        height: 5px;
        border-radius: 3px;
        left: 18px;
        z-index: 9;
      }
    }

    &__month {
      margin: 0;
      margin-top: $distance-1;
      padding-bottom: 16px;

      &-read-view--down-arrow {
        display: none;
      }

      &-option--selected {
        display: none;
      }

      &-dropdown {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        position: absolute;
        z-index: 99;
        top: 0;
        left: -10px;
        width: 290px;
        height: 305px;
        border: none;
        background-color: map-get($base, white);
      }

      &-option {
        display: flex;
        width: 33%;
        font-size: 16px;
        align-items: center;
        justify-content: center;
        padding: 28px 0;
        background: map-get($base, white);

        &:first-of-type,
        &:first-of-type {
          border-radius: 0;
        }

        &:hover {
          background-color: change-color(map-get($turquoise, 300), $alpha: 0.08);
          color: map-get($turquoise, 500);
        }
      }
    }

    &__year {
      margin: 0;
      margin-top: $distance-1;
      padding-bottom: 16px;

      &-read-view--down-arrow {
        display: none;
      }

      &-option--selected {
        display: none;
      }

      &-dropdown {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        position: absolute;
        z-index: 99;
        top: 0;
        left: -10px;
        width: 290px;
        height: 305px;
        border: none;
        background-color: map-get($base, white);
      }

      &-option {
        display: flex;
        width: 33%;
        font-size: 16px;
        align-items: center;
        justify-content: center;
        padding: 28px 0;
        background: map-get($base, white);

        &:first-of-type,
        &:first-of-type {
          border-radius: 0;
        }

        &:hover {
          background-color: change-color(map-get($turquoise, 300), $alpha: 0.08);
          color: map-get($turquoise, 500);
        }
      }
    }
  }

  .react-datepicker__time-box {
    @include thin-scroll-bar();
  }
}
