.description-header,
.shipping-header,
.payment-header {
  margin-top: 0px;
  margin-bottom: 25px;

  font-size: 20px;
  color: map-get($theme-colors, primary);
  letter-spacing: 0;
  line-height: 31px;
  border-bottom: 1px dotted map-get($theme-colors, primary);
  margin-right: 30px;

  @media (max-width: map-get($breakpoints, xs)) {
    margin-top: 0px;
    margin: 15px 0;
  }
}
