.component-detail-title {
  .detail-title-back {
    color: map-get($turquoise, 500);
    text-decoration: underline;
  }

  .detail-title-h1 {
    font-size: 36px;
    color: map-get($grays, 900);
    margin: 0;
    padding: 0;
  }
  .detail-title-supporting {
    font-size: 14px;
    .detail-title-supporting-href {
      margin-left: $distance-1;
      color: map-get($turquoise, 500);
      font-weight: 700;
      font-size: 15px;
    }

    .detail-title-supporting-name {
      margin-left: $distance-1;
      color: map-get($turquoise, 500);
      font-weight: 700;
      font-size: 15px;
    }
  }
}
