.detail-info-box {
  display: flex;
  flex-direction: column;
  justify-content: start;
  border: 1px solid map-get($neutrals, 400);
  border-radius: $border-radius-1;
  max-width: 600px;
  width: 100%;
  overflow: hidden;
  background-color: white;

  &__header {
    border-bottom: 1px solid map-get($neutrals, 400);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__body {
    margin: $distance-3;
    margin-bottom: 0;
  }

  &__organized {
    margin-top: auto;
    margin: 0 $distance-3;
    padding-top: $distance-3;
    padding-bottom: $distance-4;

    & p {
      color: map-get($neutrals, 700);
      margin-bottom: $distance-2;
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 96px;
    margin: 0 $distance-3 $distance-3 $distance-3;
    padding-top: $distance-4;
    border-top: 1px solid map-get($neutrals, 200);
  }
}
