.documents {
  font-size: 15px;
  color: map-get($main-text-colors, dark);
  letter-spacing: 0;
  line-height: 26px;

  .box {
    margin-bottom: 25px;

    h3 {
      font-size: 24px;
    }

    p {
      font-size: 14px;
    }
  }

  .document-row {
    margin-bottom: $distance-2;
    position: relative;
  }

  .loading-logo {
    min-height: 450px;
  }

  @media (max-width: map-get($breakpoints, xs)) {
    margin-top: 15px;
  }

  .deleteButton {
    background-color: transparent;
    border: 0px;
    color: map-get($theme-colors, danger);
    margin-left: 10px;
    font-size: 13px;
  }
}

.noResult-div {
  text-align: center;
  padding-top: 50px;
}
