.dropzone-box {
  max-width: 720px;

  & .upload-file {
    .drop-zone-box {
      text-align: center;
      margin: 0;
      background-color: white;
      color: map-get($neutrals, 700);
      border-color: map-get($neutrals, 200);
      border-style: dashed;
      border-width: 2px;
      transition: all 0.2s ease;
      border-radius: $border-radius-1;
      min-height: 160px;
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;

      &.with-icon {
        min-height: 240px;
      }

      .drop-icon {
        margin-bottom: $distance-2;
      }

      i {
        margin-bottom: $distance-2;
        font-size: 60px;
      }

      a {
        color: map-get($blue, 500);
        text-decoration: underline;
      }

      &:focus {
        outline: none !important;
        border-color: #81cce5;
      }

      &:hover {
        border-color: #81cce5;
        color: map-get($blue, 500);
        @include animate();
      }

      p {
        color: map-get($neutrals, 700);
        margin: 0;

        .error {
          font-size: 12px;
        }
      }

      .Loading {
        min-height: 122px;
      }

      &.disabled {
        background-color: map-get($background, secondary);
        border-color: map-get($neutrals, 200) !important;
        color: map-get($neutrals, 400);

        a {
          color: map-get($neutrals, 400);
        }

        &:hover {
          cursor: no-drop;
        }
      }
    }

    & .rejected-files {
      color: map-get($status-colors, deleted);
      font-size: 12px;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .gallery-thumb {
    position: relative;
    width: 64px !important;
    height: 64px !important;
    margin: 0 25px;

    .no-image {
      width: 64px;
      border: 2px solid map-get($grays, 400);
      border-radius: 3px;
      background: map-get($colors, white);
      padding: 20px;
      display: inline-block;
      margin: 0 15px;
    }

    img {
      position: absolute;
      left: 50%;
      top: 50%;
      height: 100%;
      width: auto;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  }
}
