.esolidar-dropdown.show {
  .btn-ghost {
    color: map-get($theme-colors, primary);
    background-color: change-color(map-get($turquoise, 500), $alpha: 0.08);
    border: transparent !important;

    @include svg-change-color(map-get($theme-colors, primary));
  }
}

.esolidar-dropdown {
  display: inline-block;
  
  &__toggle {
    padding: 0;
    margin: 0;
    background: none;
    outline: none;
    border: 0;

    &:hover {
      text-decoration: none;

      .btn-ghost {
        border: transparent !important;
      }
    }

    button {
      border: 1px solid map-get($neutrals, 200) !important;
    }
  }

  &__menu {
    background-color: map-get($background, primary);
    border: 1px solid map-get($neutrals, 200);
    border-radius: $border-radius-2;
    box-shadow: map-get($elevation, 100);
    padding: $distance-2;
    min-width: 240px;
  }

  &__divider {
    margin: $distance-2;
    border-color: map-get($neutrals, 400);
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: $distance-1;
    padding: $distance-1 $distance-2;
    color: map-get($neutrals, 900);

    &:hover,
    &:focus {
      color: map-get($turquoise, 500);
      background-color: get-rgba(map-get($turquoise, 500));
      border-radius: $border-radius-1;

      @include svg-change-color(map-get($turquoise, 500));
    }

    &:active {
      background-color: change-color(map-get($turquoise, 500), $alpha: 0.08);
      border-radius: $border-radius-1;
      color: map-get($turquoise, 500);

      @include svg-change-color(map-get($turquoise, 500));
    }

    &.disabled {
      color: map-get($neutrals, 400);

      @include svg-change-color(map-get($neutrals, 400));
    }

    &--text {
      margin-right: auto;
    }
  }
}
