.sidebar {
  .sidebar-menu {
    margin: 0;
    padding: 0;
  }

  li,
  .navbar-collapse > ul.mr-auto.navbar-nav li {
    list-style: none;
    border: 1px solid transparent;

    .menu-soon {
      float: right;
      margin-top: 5px;
      opacity: 0.5;
    }

    a {
      font-size: 15px;
      color: map-get($main-text-colors, dark);
      letter-spacing: 0;
      line-height: 21px;
      padding: 10px 20px;
      display: block;
      white-space: nowrap;
      min-width: 250px;

      &:hover,
      &:active,
      &:focus {
        color: map-get($theme-colors, primary);
        border-left: 2px solid map-get($theme-colors, primary);
        padding-left: 18px;
      }

      @media only screen and (max-width: map-get($breakpoints, md)) {
        min-width: 100%;
      }

      .icon {
        width: 21px;
        height: 21px;
        margin-top: 2px;
        margin-right: 20px;
        background-image: url('https://static.esolidar.com/frontend/icons/menu-icons-esolidar-new.svg');
        background-repeat: no-repeat;
        background-size: 270px;
        float: left;
      }
      i {
        font-size: 18px;
        color: #738598;
        width: 21px;
        height: 21px;
        margin-top: 3px;
        margin-right: 20px;
        float: left;
      }

      .feed {
        background-position: 0 -21px;
      }

      .auction {
        background-position: -21px -21px;
      }

      .employees {
        background-position: -41px -21px;
      }

      .giftcards {
        background-position: -61px -21px;
      }

      .match {
        background-position: -81px -21px;
      }

      .crowdfunding {
        background-position: -228px -21px;
      }

      .crowdfunding-public {
        background-position: -102px -21px;
      }

      .payments {
        background-position: -124px -21px;
      }

      .ic-statistics {
        background-position: -144px -21px;
      }

      .volunteering {
        background-position: -170px -21px;
      }

      .survey-icon {
        background-position: -188px -21px;
      }

      .documents {
        background-position: -207px -21px;
      }

      .projects {
        background-position: -250px -21px;
      }
    }

    &.active {
      i {
        color: #0c8380;
      }

      .menu-soon {
        opacity: 1;
      }

      .feed {
        background-position: 0 0;
      }

      .auction {
        background-position: -21px 0;
      }

      .employees {
        background-position: -41px 0;
      }

      .giftcards {
        background-position: -61px 0;
      }

      .match {
        background-position: -81px 0;
      }

      .crowdfunding {
        background-position: -228px 0;
      }

      .crowdfunding-public {
        background-position: -102px 0;
      }

      .payments {
        background-position: -124px 0;
      }

      .ic-statistics {
        background-position: -144px 0;
      }

      .volunteering {
        background-position: -170px 0;
      }

      .survey-icon {
        background-position: -188px 0;
      }

      .documents {
        background-position: -207px 0;
      }

      .projects {
        background-position: -250px 0;
      }
    }

    &:hover {
      .feed {
        background-position: 0 0;
      }

      .auction {
        background-position: -21px 0;
      }

      .employees {
        background-position: -41px 0;
      }

      .giftcards {
        background-position: -61px 0;
      }

      .match {
        background-position: -81px 0;
      }

      .crowdfunding {
        background-position: -228px 0;
      }

      .crowdfunding-public {
        background-position: -102px 0;
      }

      .payments {
        background-position: -124px 0;
      }

      .ic-statistics {
        background-position: -144px 0;
      }

      .volunteering {
        background-position: -170px 0;
      }

      .survey-icon {
        background-position: -188px 0;
      }

      .documents {
        background-position: -207px 0;
      }

      .projects {
        background-position: -250px 0;
      }
    }
  }
}
