.file-card {
  display: flex;
  background-color: map-get($background, primary);
  border-radius: $border-radius-1;
  box-shadow: 0 0 0 1px map-get($neutrals, 100), 0px 2px 4px rgba(26, 27, 28, 0.04);
  border: none;
  padding: $distance-2;
  gap: $distance-2;
  @include animate();

  .esolidar-preview {
    &__image {
      width: 56px;
      height: 56px;

      img {
        width: 100% !important;
        height: 100%;
      }
    }
    &__no-image {
      width: 56px;
      height: 56px;

      img {
        margin: 16px 10px;
      }
    }
  }

  p {
    padding: 0;
    margin: 0;
  }

  &__body {
    margin-right: auto;

    &-title {
      display: flex;
      gap: $distance-1;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: map-get($base, black);
    }

    &-subtitle {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: map-get($base, 700);
      padding-bottom: $distance-2 !important;
    }

    &-helper {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: map-get($neutrals, 700);
    }
  }
  &__buttons {
    display: flex;
    align-items: center;
    gap: $distance-1;
  }

  &:hover {
    &:not(.disabled) {
      box-shadow: 0 0 0 2px map-get($turquoise, 500);
      @include animate(all, 100ms);
    }
  }
}
