.filter-group {
  &__radio[type='radio'] {
    position: absolute;
    visibility: hidden;
  }

  &__label:not(:first-child) {
    margin-left: $distance-1;
  }

  &-btn-label {
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 28px;
    color: map-get($neutrals, 700);
    font-weight: 600;
    padding: $distance-1 $distance-2;
    background-color: white;
    border-radius: $border-radius-1;
    cursor: pointer;
    @include animate();

    .counter {
      background-color: map-get($neutrals, 100);
      border-radius: 10px;
      height: 18px;
      min-width: 18px;
      margin-left: $distance-1;
      padding: 0 5px;
      color: map-get($neutrals, 700);
      line-height: 18px;
      text-align: center;
      justify-content: center;
      @include animate();
    }

    &:hover {
      background-color: change-color(map-get($turquoise, 500), $alpha: 0.08);
      @include animate();

      .counter {
        background-color: map-get($turquoise, 500);
        color: white;
        @include animate();
      }
    }

    &:focus {
      background-color: white;
      border: 2px solid map-get($turquoise, 500);
      color: map-get($turquoise, 500);
      @include animate();

      .counter {
        background-color: map-get($turquoise, 500);
        color: white;
        @include animate();
      }
    }
  }

  &__radio[type='radio']:checked ~ &-btn-label {
    color: map-get($turquoise, 500);
    background-color: change-color(map-get($turquoise, 500), $alpha: 0.08);

    .counter {
      color: white;
      background-color: map-get($turquoise, 500);
    }

    &:hover {
      background-color: change-color(map-get($turquoise, 500), $alpha: 0.24);
    }

    &:focus {
      background-color: change-color(map-get($turquoise, 500), $alpha: 0.08);
    }
  }

  &__radio[type='radio']:disabled ~ &-btn-label {
    color: map-get($neutrals, 400);
    background-color: white;
    cursor: not-allowed;

    .counter {
      color: map-get($neutrals, 400);
      background-color: map-get($neutrals, 100);
    }
  }

  &__radio[type='radio'][disabled]:checked ~ &-btn-label {
    color: map-get($neutrals, 400);
    background-color: map-get($neutrals, 100);
    cursor: not-allowed;

    .counter {
      color: white;
      background-color: map-get($neutrals, 400);
    }
  }
}
