.fullscreen-modal {
  background: map-get($base, white);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  z-index: 9999;
  @include animate();

  &.open {
    left: 0;
  }

  &.closed {
    left: 100%;
    .wizard__header,
    .wizard__paginator {
      @include animate();
      left: 100%;
    }
  }

  &__header {
    display: flex;
    justify-content: end;
    padding: $distance-3;
  }

  &__body {
    overflow: auto;
    // @include thin-scroll-bar();
  }

  // &__no-header {
  //   overflow: auto;
  // }

  // &__header-close {
  //   background-color: map-get($base, white);
  //   display: flex;
  //   justify-content: end;
  // }

  // &__footer {
  //   position: fixed;
  //   bottom: 0;
  //   left: 0;
  //   right: 0;
  //   height: 72px;
  // }
}
