$border-radius: 3px;
$border-color: map-get($neutrals, 100);
$background-color: map-get($base, white);
$background-gradient: linear-gradient(0deg, rgba(217, 217, 217, 1) 0%, rgba(238, 238, 238, 1) 100%);

.rdw {
  &-editor {
    &-wrapper {
      padding: $distance-2 !important;
      border: 0.132rem solid $border-color !important;
      background-color: white !important;
      border-radius: $border-radius-1;
      overflow: hidden;
      @include animate();

      &-disabled {
        @include input-disabled();
      }

      &-error {
        border: 1px solid red !important;
      }

      &-focus {
        &:not(.rdw-editor-wrapper-mui) {
          @include input-focus();
        }
      }

      &:hover {
        &:not(.rdw-editor-wrapper-disabled) {
          border: 2px solid map-get($turquoise, 500) !important;
        }
      }

      &-mui {
        border-radius: 4px !important;

        &:hover {
          &:not(.rdw-editor-wrapper-focus):not(.rdw-editor-wrapper-error) {
            border-color: rgba(0, 0, 0, 0.87) !important;
          }
        }

        &.rdw-editor-wrapper-focus {
          &.rdw-editor-wrapper-error {
            box-shadow: 0 0 0 1px red;
            border-color: red !important;
          }

          &:not(.rdw-editor-wrapper-error) {
            box-shadow: 0 0 0 1px #2196f3;
            border-color: #2196f3 !important;
          }
        }
      }
    }

    &-main {
      &.disabled {
        border-bottom: none !important;
      }

      & .DraftEditor-root {
        & .public-DraftEditor-content {
          height: 172px !important;
          overflow: auto !important;
        }

        & .public-DraftEditorPlaceholder-root {
          color: map-get($neutrals, 400);
          font-size: 16px;
        }
      }
    }

    &-toolbar {
      border: unset !important;
      margin: 0 !important;
      padding: unset !important;
      padding-left: 2px !important;
      padding-top: 2px !important;
      gap: 2px !important;
      margin-bottom: $distance-3 !important;
      @include animate();

      & .rdw-inline-wrapper {
        margin-bottom: 0 !important;
        gap: 2px;
      }

      & .rdw-list-wrapper {
        margin-bottom: 0 !important;
        gap: 2px;
      }

      & .rdw-link-wrapper {
        margin-bottom: 0 !important;
        gap: 2px;
      }

      &.disabled {
        @include animate();
        @include input-disabled();
        border-top: none !important;
        outline: none !important;

        .rdw-option {
          &-wrapper {
            &:hover,
            &:active,
            &:focus-visible {
              box-shadow: none !important;
              outline: none !important;
              cursor: default;
            }
          }
        }
      }

      &:not(.disabled) {
        .rdw-option {
          &-wrapper {
            &:hover {
              box-shadow: none !important;
              outline: 2px solid map-get($neutrals, 700) !important;
            }
          }
        }
      }

      .rdw-option {
        &-wrapper {
          border: none !important;
          padding: 0 !important;
          width: 30px !important;
          height: 30px !important;
          border-radius: $border-radius !important;
          background-color: transparent !important;
          margin: 0px;
        }

        &-active {
          box-shadow: none !important;
          background-color: map-get($turquoise, 100) !important;
        }
      }
    }
  }

  &-embedded {
    &-modal {
      width: 265px !important;
      height: 250px !important;

      &-header-label:first-of-type {
        width: 110px !important;
      }
    }
  }

  &-image {
    &-modal {
      width: 265px !important;

      &-header-label:first-of-type {
        width: 115px !important;
      }
    }

    &-imagewrapper {
      & > img {
        max-width: 100% !important;
      }
    }
  }

  &-link {
    &-modal {
      width: 265px !important;
      height: 200px !important;
    }
  }

  &-dropdown {
    &-wrapper {
      border: none !important;
      border-radius: $border-radius !important;
      background-color: $background-color !important;

      &:hover {
        box-shadow: none !important;
        background: $background-gradient !important;
      }

      &:active {
        box-shadow: none !important;
        background-color: #d6d6d6 !important;
      }
    }
  }

  &-dropdown {
    &-selectedtext {
      padding: 0 7px !important;
      color: inherit !important;

      > span {
        padding-top: 4px !important;
      }
    }

    &-optionwrapper {
      border: 1px solid #d9d9d9 !important;
      width: 100% !important;
      border-radius: $border-radius !important;

      &:hover {
        box-shadow: none !important;
      }
    }
  }

  &-colorpicker {
    &-option {
      box-shadow: none !important;
      width: 20px !important;
      height: 20px !important;
    }

    &-modal {
      &-options {
        justify-content: center !important;
        margin: unset !important;
      }
    }
  }

  &-fontsize {
    &-dropdown {
      min-width: 50px !important;
    }
  }

  &-dropdownoption {
    &-active {
      font-weight: bold !important;
    }
  }

  &-block-wrapper {
    border: none;
    border-radius: 3px;
    padding: 0;

    & .rdw-custom-dropdown {
      margin: 0 !important;

      & .rdw-custom-ul {
        &.hidden {
          visibility: hidden;
        }

        & li {
          display: flex;
          justify-content: center;
          color: #455c75 !important;

          &:hover {
            background: #f1f1f1;
          }

          &.active {
            font-weight: bold;
          }
        }
      }
    }
  }
}

.rdw-link-modal {
  border-radius: $border-radius-1 !important;
  box-shadow: map-get($elevation, 200) !important;
  top: 35px !important;
  bottom: auto !important;
  padding: $distance-1 !important;

  &-target-option {
    display: none;
  }

  &-buttonsection {
    margin-top: 4px !important;
  }
}

.rdw-image-modal-alt-input,
.rdw-image-modal-size-input,
.rdw-embedded-modal-size-input,
.rdw-link-modal-input {
  height: 32px !important;
  padding: 0 7px !important;
  margin: 0 !important;
  margin-bottom: $distance-1 !important;
  border-radius: 4px !important;
}

.rdw-image-modal-btn,
.rdw-embedded-modal-btn,
.rdw-link-modal-btn {
  min-width: 80px !important;
  height: unset !important;
  border-radius: $border-radius-1 !important;
  padding: 5px 10px !important;

  &:hover {
    box-shadow: none !important;
    &:enabled {
      border: 1px solid map-get($neutrals, 700) !important;
    }

    &:disabled {
      cursor: default !important;
    }
  }
}

.rdw-colorpicker-modal {
  height: auto !important;

  &-options {
    overflow: hidden !important;
  }
}

.public-DraftStyleDefault-block {
  margin: 0 !important;
}

.helper-text__error {
  color: #f44336;
  margin-left: 14px;
  margin-right: 14px;
  margin-top: 4px;
  margin-bottom: 0;
  font-size: 0.75rem;
  text-align: left;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  line-height: 1.66;
  letter-spacing: 0.03333em;
}
