[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-alert-triangle:before {
  content: '\e9ab';
}
.icon-bell:before {
  content: '\e967';
}
.icon-bell-off:before {
  content: '\e968';
}
.icon-calendar:before {
  content: '\e969';
}
.icon-camera1:before {
  content: '\e96a';
}
.icon-camera-off:before {
  content: '\e96b';
}
.icon-check:before {
  content: '\e96c';
}
.icon-check-circle:before {
  content: '\e96d';
}
.icon-check-square:before {
  content: '\e96e';
}
.icon-chevron-down:before {
  content: '\e96f';
}
.icon-chevron-left:before {
  content: '\e970';
}
.icon-chevron-right:before {
  content: '\e971';
}
.icon-chevron-up:before {
  content: '\e972';
}
.icon-chevrons-down:before {
  content: '\e973';
}
.icon-chevrons-left:before {
  content: '\e974';
}
.icon-chevrons-right:before {
  content: '\e975';
}
.icon-chevrons-up:before {
  content: '\e976';
}
.icon-corner-down-left:before {
  content: '\e977';
}
.icon-corner-down-right:before {
  content: '\e978';
}
.icon-corner-left-down:before {
  content: '\e979';
}
.icon-corner-left-up:before {
  content: '\e97a';
}
.icon-corner-right-down:before {
  content: '\e97b';
}
.icon-corner-right-up:before {
  content: '\e97c';
}
.icon-corner-up-left:before {
  content: '\e97d';
}
.icon-corner-up-right:before {
  content: '\e97e';
}
.icon-download:before {
  content: '\e97f';
}
.icon-edit:before {
  content: '\e980';
}
.icon-edit-2:before {
  content: '\e981';
}
.icon-external-link:before {
  content: '\e982';
}
.icon-eye1:before {
  content: '\e983';
}
.icon-eye-off:before {
  content: '\e984';
}
.icon-file:before {
  content: '\e985';
}
.icon-file-minus:before {
  content: '\e986';
}
.icon-file-plus:before {
  content: '\e987';
}
.icon-file-text:before {
  content: '\e988';
}
.icon-filter:before {
  content: '\e989';
}
.icon-flag:before {
  content: '\e98a';
}
.icon-heart2:before {
  content: '\e98b';
}
.icon-info:before {
  content: '\e9ae';
}
.icon-list:before {
  content: '\e98c';
}
.icon-lock1:before {
  content: '\e98d';
}
.icon-minus:before {
  content: '\e98e';
}
.icon-more-horizontal:before {
  content: '\e991';
}
.icon-more-vertical:before {
  content: '\e995';
}
.icon-move:before {
  content: '\e996';
}
.icon-paperclip:before {
  content: '\e997';
}
.icon-plus1:before {
  content: '\e998';
}
.icon-search:before {
  content: '\e999';
}
.icon-send:before {
  content: '\e99a';
}
.icon-settings:before {
  content: '\e99b';
}
.icon-share:before {
  content: '\e99c';
}
.icon-share-2:before {
  content: '\e99d';
}
.icon-shopping-bag:before {
  content: '\e99e';
}
.icon-shopping-cart:before {
  content: '\e99f';
}
.icon-sliders:before {
  content: '\e9a0';
}
.icon-star:before {
  content: '\e9a1';
}
.icon-tag:before {
  content: '\e9a2';
}
.icon-trash:before {
  content: '\e9a3';
}
.icon-trash-2:before {
  content: '\e9a4';
}
.icon-truck:before {
  content: '\e9a5';
}
.icon-unlock:before {
  content: '\e9a6';
}
.icon-x:before {
  content: '\e9a7';
}
.icon-x-circle:before {
  content: '\e9a8';
}
.icon-x-square:before {
  content: '\e9af';
}
.icon-plus2:before {
  content: '\e9a9';
}
.icon-camera2:before {
  content: '\e9aa';
}
.icon-user-business:before {
  content: '\e966';
}
.icon-language:before {
  content: '\e95e';
  color: #abb1b3;
}
.icon-twitter1:before {
  content: '\e95c';
}
.icon-ic-switch-keyboard-language:before {
  content: '\e95d';
}
.icon-camera:before {
  content: '\e900';
}
.icon-cheveron-down:before {
  content: '\e901';
}
.icon-cheveron-left:before {
  content: '\e902';
}
.icon-cheveron-right:before {
  content: '\e903';
}
.icon-cheveron-up:before {
  content: '\e904';
}
.icon-close:before {
  content: '\e905';
}
.icon-down-arrow:before {
  content: '\e906';
}
.icon-facebook:before {
  content: '\e907';
}
.icon-globe:before {
  content: '\e908';
}
.icon-go-home:before {
  content: '\e909';
}
.icon-google:before {
  content: '\e90a';
}
.icon-google-plus:before {
  content: '\e90b';
}
.icon-google-plus3:before {
  content: '\e90c';
}
.icon-hamburger:before {
  content: '\e90d';
}
.icon-headphones:before {
  content: '\e90e';
}
.icon-heart:before {
  content: '\e90f';
}
.icon-home:before {
  content: '\e910';
}
.icon-httpslock:before {
  content: '\e911';
}
.icon-ic-box-calendar-white:before {
  content: '\e912';
}
.icon-ic-box-clock-timer-white:before {
  content: '\e913';
}
.icon-ic-browser-chrome:before {
  content: '\e914';
}
.icon-ic-browser-opera:before {
  content: '\e915';
}
.icon-ic-browser-safari:before {
  content: '\e916';
}
.icon-ic-cause-white:before {
  content: '\e917';
}
.icon-ic-charities-benefited:before {
  content: '\e918';
}
.icon-ic-comment:before {
  content: '\e919';
}
.icon-ic-crowdfunding:before {
  content: '\e91a';
}
.icon-ic-doc:before {
  content: '\e91b';
}
.icon-ic-donations:before {
  content: '\e91c';
}
.icon-ic-edit-request:before {
  content: '\e91d';
}
.icon-ic-employees-involved:before {
  content: '\e91e';
}
.icon-ic-facebook:before {
  content: '\e91f';
}
.icon-ic-feed:before {
  content: '\e920';
}
.icon-ic-file:before {
  content: '\e921';
}
.icon-ic-file-upload:before {
  content: '\e922';
}
.icon-ic-go-back:before {
  content: '\e923';
}
.icon-ic-goods:before {
  content: '\e924';
}
.icon-ic-hourglass-ended:before {
  content: '\e925';
}
.icon-ic-hours:before {
  content: '\e926';
}
.icon-ic-im-in:before {
  content: '\e927';
}
.icon-ic-instagram:before {
  content: '\e928';
}
.icon-ic-location:before {
  content: '\e929';
}
.icon-ic-menu-auctions:before {
  content: '\e92a';
}
.icon-ic-menu-donations:before {
  content: '\e92b';
}
.icon-ic-menu-manage-store:before {
  content: '\e92c';
}
.icon-ic-menu-payments:before {
  content: '\e92d';
}
.icon-ic-menu-requests-gray:before {
  content: '\e92e';
}
.icon-ic-menu-store:before {
  content: '\e92f';
}
.icon-ic-notification-bell:before {
  content: '\e930';
}
.icon-icon-delete:before {
  content: '\e931';
}
.icon-icon-faq:before {
  content: '\e932';
}
.icon-icon-feed:before {
  content: '\e933';
}
.icon-icon-giftcards:before {
  content: '\e934';
}
.icon-icon-growdfunding:before {
  content: '\e935';
}
.icon-icon-ic-volunteering:before {
  content: '\e936';
}
.icon-icon-manage-employees:before {
  content: '\e937';
}
.icon-icon-payments:before {
  content: '\e938';
}
.icon-icons-manage-employees:before {
  content: '\e939';
}
.icon-icon-statistics:before {
  content: '\e93a';
}
.icon-icon-volunteering:before {
  content: '\e93b';
}
.icon-ic-ppt:before {
  content: '\e93c';
}
.icon-ic-request-goods-gray:before {
  content: '\e93d';
}
.icon-ic-settings:before {
  content: '\e93e';
}
.icon-ic-status-comments:before {
  content: '\e93f';
}
.icon-ic-status-volunteers:before {
  content: '\e940';
}
.icon-ic-survey:before {
  content: '\e941';
}
.icon-ic-txt:before {
  content: '\e942';
}
.icon-ic-up:before {
  content: '\e943';
}
.icon-ic-verification-phone-code:before {
  content: '\e944';
}
.icon-ic-view-request:before {
  content: '\e945';
}
.icon-ic-volunteering:before {
  content: '\e946';
}
.icon-ic-website:before {
  content: '\e947';
}
.icon-ic-xls:before {
  content: '\e948';
}
.icon-import-employees:before {
  content: '\e949';
}
.icon-instagram:before {
  content: '\e94a';
}
.icon-left-arrow:before {
  content: '\e94b';
}
.icon-linkedin2:before {
  content: '\e94c';
}
.icon-mail4:before {
  content: '\e94d';
}
.icon-menu-mobile:before {
  content: '\e94e';
}
.icon-pdf:before {
  content: '\e94f';
}
.icon-pinterest:before {
  content: '\e950';
}
.icon-right:before {
  content: '\e951';
}
.icon-right-arrow:before {
  content: '\e952';
}
.icon-star-full:before {
  content: '\e953';
}
.icon-telegram:before {
  content: '\e954';
}
.icon-twitter:before {
  content: '\e955';
}
.icon-up-arrow:before {
  content: '\e956';
}
.icon-vimeo:before {
  content: '\e957';
}
.icon-youtube:before {
  content: '\e958';
}
.icon-times-rectangle-o:before {
  content: '\e9b0';
}
.icon-window-close-o:before {
  content: '\e9b0';
}
.icon-user-plus:before {
  content: '\e95f';
}
.icon-user-o:before {
  content: '\e960';
}
.icon-group:before {
  content: '\e961';
}
.icon-users:before {
  content: '\e961';
}
.icon-user-circle-o:before {
  content: '\e962';
}
.icon-user-circle:before {
  content: '\e963';
}
.icon-user-times:before {
  content: '\e964';
}
.icon-user:before {
  content: '\e965';
}
.icon-file-picture:before {
  content: '\e959';
}
.icon-clock:before {
  content: '\e95a';
}
.icon-clock2:before {
  content: '\e95b';
}
.icon-lock:before {
  content: '\e98f';
}
.icon-unlocked:before {
  content: '\e990';
}
.icon-equalizer:before {
  content: '\e992';
}
.icon-equalizer2:before {
  content: '\e993';
}
.icon-cog:before {
  content: '\e994';
}
.icon-bin:before {
  content: '\e9ac';
}
.icon-bin2:before {
  content: '\e9ad';
}
.icon-link:before {
  content: '\e9cb';
}
.icon-eye:before {
  content: '\e9ce';
}
.icon-eye-blocked:before {
  content: '\e9d1';
}
.icon-heart1:before {
  content: '\e9da';
}
.icon-happy2:before {
  content: '\e9e0';
}
.icon-sad2:before {
  content: '\e9e6';
}
.icon-wondering2:before {
  content: '\e9fc';
}
.icon-plus:before {
  content: '\ea0a';
}
.icon-share2:before {
  content: '\ea82';
}
.icon-whatsapp:before {
  content: '\ea93';
}
