.input-label-component {
  &__label {
    display: flex;
    align-items: center;
    margin-bottom: $distance-1;

    label {
      margin-bottom: unset;
      @include text-overflow-ellipsis;
    }

    .label-optional {
      margin-left: $distance-1;
      margin-right: auto;
      font-size: 14px;
      color: map-get($main-text-colors, dark);
      text-transform: lowercase;
      font-weight: 100;
    }

    .tooltipOverlay {
      margin-left: $distance-1;
    }
  }
}
