.institutions-list {
  .npo-pin-thumb {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    float: left;
    background-size: cover;
    background-position: 50% 50%;
    border: 1px solid #f5f5f5;
  }

  .name {
    font-family: map-get($fonts, main);
    font-size: 15px;
    color: map-get($input, label-color);
    letter-spacing: 0;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px;
  }

  .npo-thumb {
    position: relative;
    margin-top: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid map-get($grays, 400);

    a {
      display: inline-block;
      width: 100%;
    }
  }

  label {
    width: 100%;
  }

  input[type='radio'] {
    display: none;
  }

  label input[type='radio'] ~ span {
    position: relative;
    display: inline-block;
    padding: 3px 0 3px 25px;
  }

  .npo-thumb input[type='radio']:checked ~ .name {
    color: map-get($theme-colors, primary);
  }

  .npo-thumb label.active .name {
    color: map-get($theme-colors, primary);
  }

  .btn-select {
    border: 2px solid map-get($grays, 500);
    color: map-get($main-text-colors, light);
    background: map-get($colors, white);
    float: right;
    margin-top: 3px;
    border-radius: 20px;
    padding: 5px 25px;
    font-family: map-get($fonts, main);
    font-size: 12px;

    &:hover {
      background: #e6e6e6;
      border-color: #e6e6e6;
    }
  }

  .npo-thumb input[type='radio']:checked ~ .btn-select {
    border: 2px solid map-get($theme-colors, primary);
    color: map-get($theme-colors, primary) !important;
  }

  .npo-thumb label.active .btn-select {
    border: 2px solid map-get($theme-colors, primary);
    color: map-get($theme-colors, primary) !important;
  }

  .search-institutions {
    margin-bottom: 25px;
    background: map-get($colors, white) url('#{$cdn-static-url}/frontend/icons/icon-search.svg')
      no-repeat 10px 50%;
    padding-left: 40px;
  }

  .no-results {
    padding-top: 70px;
    color: map-get($theme-colors, primary);
    font-size: 16px;
  }
}

.btn-donate {
  border: 2px solid map-get($colors, green);
  color: map-get($colors, white) !important;
  background: map-get($colors, green);
  border-radius: 100px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 17px;
  -webkit-transition: all 0.7s cubic-bezier(0.115, 0.65, 0.215, 1.005);
  transition: all 0.7s cubic-bezier(0.115, 0.65, 0.215, 1.005);
  -webkit-transition-timing-function: cubic-bezier(0.115, 0.65, 0.215, 1);
  -webkit-transition-timing-function: cubic-bezier(0.115, 0.65, 0.215, 1.005);
  -moz-transition-timing-function: cubic-bezier(0.115, 0.65, 0.215, 1.005);
  -o-transition-timing-function: cubic-bezier(0.115, 0.65, 0.215, 1.005);
  transition-timing-function: cubic-bezier(0.115, 0.65, 0.215, 1.005);
}
