.login-to-interact {
  position: relative;
  border: 1px solid map-get($neutrals, 400);
  border-radius: $distance-1;
  padding: $distance-2;
  margin-bottom: $distance-3;

  &__text {
    padding-right: $distance-1;
  }

  &__button {
    text-decoration: underline;
    padding: 0;
    display: inline-flex;
  }
}
