.menu {
  ul {
    margin: 0px;
    padding: 0px;

    li {
      display: flex;
      flex-grow: 1;
      width: 100%;
      list-style: none;

      a {
        padding: $distance-2;
        color: map-get($main-text-colors, dark);
        font-size: 16px;

        i {
          font-size: 18px;
          margin-left: 5px;
          margin-right: 5px;
        }

        span {
          padding-left: $distance-1;
        }
      }
    }
  }
}
