$desktop-width: 375px;
$mobile-width: 300px;

@mixin dropdown-arrow {
  bottom: 100%;
  left: 91%;
  border: solid transparent;
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.notification-box {
  .notification-icon {
    border: none;
    box-shadow: none;
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    border-radius: 0;
    margin-right: $distance-1;
    position: relative;

    .number {
      display: block !important;
      position: absolute;
      background: #ec5854;
      top: 8px;
      left: $distance-3;
      right: initial;
      padding: 0px 8px;
      height: 17px;
      font-size: 12px;
      color: #fff;
      border-radius: 100px;
      line-height: 18px;
      text-align: center;
    }

    .caret {
      display: none;
    }

    &:hover,
    &:active {
      background: transparent;
    }
  }

  .btn-default:active,
  .btn-default.active,
  .open > .dropdown-toggle.btn-default {
    background-color: transparent;
    border: none;
  }

  .dropdown-menu {
    width: $desktop-width;
    border-radius: 18px;
    padding: 0;
    top: 10px !important;

    @media (max-width: map-get($breakpoints, sm)) {
      width: $mobile-width;
    }

    &:before {
      @include dropdown-arrow();
      border-color: rgba(199, 199, 199, 0);
      border-bottom-color: #c7c7c7;
      border-width: 11px;
      margin-left: -11px;
    }

    &:after {
      @include dropdown-arrow();
      border-color: rgba(255, 255, 255, 0);
      border-bottom-color: map-get($colors, white);
      border-width: 10px;
      margin-left: -10px;
    }

    .notification-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      border-bottom: 1px solid map-get($grays, 300);
      font-size: 12px;

      .notification-header-title {
        color: map-get($main-text-colors, dark);
        font-weight: 900;
        text-transform: uppercase;
        padding: 6px 16px;
      }

      .notification-header-mark-read {
        font-weight: 500;
      }
    }

    .notification-list {
      overflow: auto;
      list-style: none;
      padding: 0;
      margin: 0;
      width: calc(#{$desktop-width} - 2px);
      max-height: 500px;

      @media (max-width: map-get($breakpoints, sm)) {
        width: calc(#{$mobile-width} - 2px);
      }

      @media (min-width: map-get($breakpoints, lg)) {
        height: 500px;
      }

      .notification-row {
        border-bottom: 1px solid map-get($grays, 300);
        position: relative;
        overflow: auto;

        &.unread {
          background-color: map-get($blue, 0);
        }

        &:hover {
          background-color: map-get($turquoise, 0);
        }

        &:last-of-type {
          @media (max-width: map-get($breakpoints, lg)) {
            border-bottom-left-radius: 18px;
            border-bottom-right-radius: 18px;
          }
        }

        .btn-markAsRead {
          &:hover {
            text-decoration: none;
          }
        }

        .notification-row-box {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          padding: 10px 20px 10px 10px;

          img {
            border-radius: 50%;
            margin-right: 10px;
            width: 40px;
          }

          .text {
            color: map-get($main-text-colors, dark);
            font-size: 13px;

            u {
              color: map-get($theme-colors, primary);
            }
          }

          .date {
            color: map-get($main-text-colors, dark);
            font-size: 12px;
            text-transform: capitalize;
          }
        }
      }
    }
  }
}
