.toolkit-pagination {
  justify-content: center;
  text-align: center;

  > li > a,
  > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    text-decoration: none;
    color: map-get($main-text-colors, dark);
    background-color: white;
    border: 1px solid map-get($neutrals, 100);
    border-radius: $border-radius-1;
    margin: 0 $distance-1/2;
    color: map-get($base, black);
    min-width: 40px;
    height: 40px;
  }

  > .active > a,
  > .active > span,
  > .active > a:hover,
  > .active > span:hover,
  > .active > a:focus,
  > .active > span:focus {
    z-index: 3;
    cursor: default;
    border: 1px solid map-get($turquoise, 500);
    background-color: map-get($turquoise, 500);
    color: white;
    border-radius: $border-radius-1;
  }

  .go-first {
    &:hover {
      #pag-left-arrow {
        stroke: map-get($theme-colors, primary);
      }
    }
  }

  li {
    &.disabled {
      display: none;
    }
  }

  li:first-child,
  li:last-child {
    display: none;
  }

  li:first-child,
  li:last-child {
    display: none;
  }

  > .disabled > a {
    opacity: 0.3;
    cursor: default;
  }

  > li > a .next-page,
  > li > a .prev-page {
    width: 60px;
    height: 20px;
  }

  > li > a .next-page,
  > li > span .next-page {
    background: url('#{$cdn-static-url}/frontend/icons/icon-next-page.svg') 100% 50% no-repeat;
    display: flex;
    justify-content: flex-start;
  }

  > li > a .prev-page,
  > li > span .prev-page {
    background: url('#{$cdn-static-url}/frontend/icons/icon-prev-page.svg') 0 50% no-repeat;
    display: flex;
    justify-content: flex-end;
  }
}
