.toolkit-pagination {
  justify-content: center;

  > li > a,
  > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: map-get($main-text-colors, dark);
    background-color: transparent;
    border: none;
    margin-left: -1px;

    &:hover {
      color: map-get($theme-colors, primary);
    }
  }

  > .active > a,
  > .active > span,
  > .active > a:hover,
  > .active > span:hover,
  > .active > a:focus,
  > .active > span:focus {
    z-index: 3;
    background-color: transparent;
    border-color: transparent;
    color: map-get($theme-colors, primary);
    border-bottom: 2px solid map-get($theme-colors, primary);
    cursor: default;
  }

  .go-first {
    &:hover {
      #pag-left-arrow {
        stroke: map-get($theme-colors, primary);
      }
    }
  }

  li:first-child,
  li:last-child {
    display: none;
  }

  li:first-child,
  li:last-child {
    display: none;
  }

  > .disabled > a {
    opacity: 0.3;
    cursor: default;
  }

  > li > a .next-page,
  > li > a .prev-page {
    width: 20px;
    height: 20px;
  }

  > li > a .next-page,
  > li > span .next-page {
    background: url('#{$cdn-static-url}/frontend/icons/icon-next-page.svg') 50% 50% no-repeat;
  }

  > li > a .prev-page,
  > li > span .prev-page {
    background: url('#{$cdn-static-url}/frontend/icons/icon-prev-page.svg') 50% 50% no-repeat;
  }
}
