.password-field {
  position: relative;

  button {
    position: absolute;
    right: 12px;
    top: 34px;
    cursor: pointer;
    border: none;
    background: none;

    &:focus {
      outline: none;
    }
  }
}
