.esolidar-preview {
  display: flex;
  &__image {
    position: relative;
    @include animate(outline, 100ms);

    img {
      width: 216px;
      height: 144px;
      outline: 1px solid change-color(map-get($base, black), $alpha: 0.08);
    }

    &-delete-image {
      padding: 0;
      position: absolute;
      top: $distance-1;
      right: $distance-1;
      border-radius: 50%;
      border: none;
      background: change-color(map-get($turquoise, 500), $alpha: 0.08);
      opacity: 0;
      width: 32px;
      height: 32px;
      font-size: 10px;
      line-height: 10px;
      color: map-get($turquoise, 500);

      &:focus,
      &:focus-visible {
        outline: none;
      }
      @include animate(outline, 100ms);
    }

    &-fullscreen {
      position: absolute;
      top: $distance-1;
      right: $distance-1;
      gap: 0;
      color: map-get($turquoise, 500);
      padding: 0;
      min-width: 40px;
      opacity: 0;
      @include animate(outline, 100ms);
    }

    &-badge {
      position: absolute;
      bottom: $distance-1;
      left: $distance-1;
    }
  }
  &.hover-image {
    .esolidar-preview__image {
      &-delete-image,
      &-fullscreen {
        opacity: 0;
        @include animate(outline, 100ms);

        &:focus,
        &:focus-visible {
          outline: none;
        }
      }

      &:hover {
        img {
          outline: 2px solid map-get($turquoise, 500);
          @include animate(outline, 100ms);
        }

        .esolidar-preview__image-delete-image,
        .esolidar-preview__image-fullscreen {
          background-color: get-rgba(map-get($base, black), 65);
          border-radius: 50%;
          opacity: 1;
          @include svg-change-color(map-get($base, white));
        }
      }
    }
  }

  &__no-image {
    width: 216px;
    height: 144px;
    align-items: center;
    justify-content: center;
    display: flex;
    background: map-get($neutrals, 100);
    border: 2px solid change-color(map-get($base, black), $alpha: 0.08);

    img {
      outline: none;
      width: 36px;
      height: 24px;
    }

    &.hover-placeholder {
      &:hover {
        border: 2px solid map-get($turquoise, 500);
        @include animate(outline, 100ms);
      }
    }
  }
}
