.profile-avatar {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &__thumb {
    border-radius: 50%;

    &.lg {
      width: 40px;
      height: 40px;
    }

    &.md {
      width: 32px;
      height: 32px;
    }

    &.sm {
      width: 24px;
      height: 24px;
    }
  }

  &__name {
    color: map-get($neutrals, 700);
    margin-left: $distance-2;
    @include text-overflow-ellipsis();

    @media (max-width: map-get($breakpoints, xs)) {
      margin-left: $distance-1;
    }

    &.bold {
      font-weight: bold;
    }
  }
}
