.project-detail {
  .back {
    display: inline-block;
    color: map-get($main-text-colors, dark);
    text-decoration: underline;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 26px;
    padding: 5px 0;
    margin: 30px 0;
    border: none;
    background: transparent;

    img {
      margin-right: 15px;
    }
  }

  .box {
    background-color: map-get($colors, white);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
    border: 1px solid map-get($grays, 200);
    border-radius: 4px;
    padding: 20px;

    h3 {
      font-size: 20px;
      letter-spacing: 0;
      line-height: 28px;
    }

    h4 {
      margin: 0px 0 10px 0;
      font-size: 18px;
      font-weight: bold;
      letter-spacing: 0;
    }

    p {
      font-size: 15px;
      color: map-get($main-text-colors, dark);
      letter-spacing: 0;
      line-height: 26px;
    }

    li {
      font-size: 15px;
      color: map-get($main-text-colors, dark);
      letter-spacing: 0;
    }
  }

  .ods-thumb {
    padding: 15px;
    display: inline-block;
    width: 100%;

    .ods {
      width: 55px;
      height: 60px;
      float: left;
      margin-right: 5px;
      margin-bottom: 10px;
      background-size: cover;
      margin-left: 5px;
    }

    & .rating {
      text-align: center;

      & .full {
        color: map-get($status-colors, pending);
      }

      & .empty {
        color: map-get($grays, 400);
      }
    }
  }

  .category-name {
    padding: 0 5px;
    color: map-get($main-text-colors, dark);
    margin-bottom: $distance-1;
  }

  .project-thumb {
    .image {
      margin: 15px;
      background: #d6d6d6;
      text-align: center;
    }

    h4 {
      margin: 0 5px 10px 5px;
      font-size: 18px;
      font-weight: bold;
      letter-spacing: 0;
    }
  }

  .image-button {
    margin: 0;
    padding: 0;
    background: transparent;
    border: none;
  }

  .no-image {
    width: 100%;
    height: 150px;
    background-color: #d6d6d6;
  }
}

.admin-buttons {
  button {
    width: 80%;
    margin-bottom: 15px;
  }
}

.project-detail-info {
  .in-review-info {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #e9ecef;
    border: 1px solid map-get($grays, 200);

    &.top {
      min-height: 60px;
      margin-bottom: -4px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }

    &.bottom {
      min-height: 80px;
      margin-top: -4px;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }

  .box {
    margin-bottom: 0;
    box-shadow: none;

    .question-group {
      box-shadow: none;
      transition: box-shadow 0.2s ease;

      &:not(:last-of-type) {
        margin-bottom: 25px;
      }

      &.in-review {
        border: 1px solid #e1e4e8;
        padding: 15px;
        border-radius: 4px;

        &.selected {
          box-shadow: 0 3px 2px map-get($grays, 400), 0 3px 6px map-get($grays, 400);
          transition: box-shadow 0.2s ease;
        }

        &.error {
          border-color: map-get($theme-colors, danger);
          box-shadow: none;
        }
      }

      .answer {
        display: flex;

        .checkbox-inline {
          margin-left: auto;

          * {
            cursor: pointer;
          }

          .form-group > label {
            margin-bottom: 1.5rem;
          }
        }
      }

      .description {
        margin-top: 10px;
        margin-bottom: 0;
      }
    }
  }
}
