.profile-avatar {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &__thumb {
    border-radius: 50%;
    border: 1px solid get-rgba(map-get($base, black));

    &.click:hover {
      cursor: pointer;
    }

    &.thumb {
      &-lg {
        width: 48px;
        height: 48px;
      }

      &-md {
        width: 32px;
        height: 32px;
      }

      &-sm {
        width: 24px;
        height: 24px;
      }
    }
  }

  &__info {
    &.margin {
      margin-left: $distance-2;
      overflow: hidden;

      @media (max-width: map-get($breakpoints, xs)) {
        margin-left: $distance-1;
      }
    }

    &--name {
      color: map-get($base, black);
      font-size: 18px;
      line-height: 24px;
      @include text-overflow-ellipsis();

      &.click:hover {
        cursor: pointer;
        color: map-get($theme-colors, primary);
      }

      &.bold {
        font-weight: 700;
      }
    }

    &--link {
      padding: 0 !important;
      height: auto !important;
      font-size: 14px !important;
      color: map-get($theme-colors, primary);
      font-weight: 600;
      line-height: 20px;
      gap: 8px !important;
      @include animate();
      @include svg-change-color(map-get($theme-colors, primary));

      &:hover {
        color: map-get($theme-colors-dark, primary);
        @include svg-change-color(map-get($theme-colors-dark, primary));

        & .text {
          text-decoration: underline;
        }
      }
    }
  }
}
