.project-detail-component {
  &__columns {
    display: flex;
    gap: $distance-5;

    @media (max-width: map-get($breakpoints, md)) {
      gap: 0;
    }

    & > * {
      flex: 100% 1;
      display: flex;
      flex-direction: column;
    }

    &--right {
      gap: $distance-3;
      max-width: 400px;
      width: 100%;

      @media (max-width: map-get($breakpoints, md)) {
        max-width: unset;
        border-bottom: 1px solid map-get($neutrals, 200);
        padding-top: $distance-7;
      }
    }

    @media (max-width: map-get($breakpoints, md)) {
      flex-direction: column;
    }

    & .nonprofit-detail__balance {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: $distance-5;
      border-bottom: 1px solid map-get($neutrals, 200);
      padding-bottom: $distance-5;

      @media (max-width: map-get($breakpoints, md)) {
        flex-direction: column;
        align-items: flex-start;
        gap: $distance-3;
        border-top: 1px solid map-get($neutrals, 200);
        padding-top: $distance-5;
        order: 3;
      }

      &--amount {
        display: flex;
        flex-direction: column;

        > div {
          &:last-of-type {
            font-size: 18px;
            line-height: 24px;
            font-weight: 700;
            color: map-get($base, black);
            white-space: nowrap;
            text-align: end;

            @media (max-width: map-get($breakpoints, md)) {
              text-align: left;
            }
          }
        }
      }
    }

    & .nonprofit-detail__mission {
      margin-top: $distance-8;

      h3 {
        margin-bottom: $distance-2;
      }

      @media (max-width: map-get($breakpoints, md)) {
        margin-top: $distance-4;
      }

      & > p {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: map-get($base, black);
      }
    }

    .click:hover {
      color: map-get($base, black) !important;
    }
  }

  &__initiatives {
    &-empty {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    h2 {
      margin-top: $distance-5;
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      color: map-get($base, black);
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-list {
      grid-template-columns: repeat(3, 320px);
      display: grid;
      grid-gap: 32px;
      margin-bottom: 32px;
    }
  }

  &__content {
    padding-top: $distance-5;

    h3 {
      display: flex;
      align-items: center;
      gap: $distance-1;
      font-style: normal;
      font-weight: 700;
      font-size: 21px;
      line-height: 28px;
      color: map-get($base, black);
    }

    p {
      @extend .body-regular;
      color: map-get($base, black) !important;
    }

    &-description {
      margin-top: $distance-4;
    }
    &-custom {
      h3 {
        margin-top: $distance-4;
      }

      ul {
        margin: 0;
        padding: 0 $distance-3;
      }
    }

    .content-updates {
      margin-top: $distance-5;
      text-align: center;

      h3 {
        display: unset;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
        color: map-get($base, black);
      }

      p {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: map-get($neutrals, 700);
        padding-top: $distance-1;
      }
    }

    .content-comments {
      margin-top: $distance-5;
    }

    &-documents {
      margin-top: $distance-5;

      > .btn-esolidar {
        margin-bottom: $distance-3;
      }

      .file-card {
        margin-bottom: $distance-2;
      }
    }
  }
}
