.radio-inline {
  position: relative;
  padding: 0;

  .form-group {
    margin-bottom: 0;
    color: map-get($input, label-color);

    input[type='radio'] {
      position: absolute;
      visibility: hidden;
    }

    input[type='radio']:checked ~ .checkbox {
      &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 16px;
        height: 16px;
        background: url('#{$cdn-static-url}/frontend/assets/ic-radiobox.svg') 0 -16px no-repeat;
      }
    }

    label {
      position: relative;
      padding-left: 25px;
      width: 100%;
      line-height: 18px;
    }

    .checkbox {
      content: '';
      position: absolute;
      left: 0;
      top: 1px;
      width: 16px;
      height: 16px;
      background: url('#{$cdn-static-url}/frontend/assets/ic-radiobox.svg') 0 0 no-repeat;
    }
  }

  // .help-block {
  //   color: map-get($theme-colors, danger);
  // }

  .message {
    font-size: 13px;
    color: #8e8e8e;
  }
}
