.reviews {
  & .no-reviews {
    font-size: 15px;
    color: map-get($main-text-colors, dark);
  }

  & .overall-rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px !important;

    @media (max-width: map-get($breakpoints, xs)) {
      flex-direction: column;
    }

    & .title {
      @media (max-width: map-get($breakpoints, xs)) {
        align-self: flex-start;
        margin-bottom: 15px;
      }
    }

    & .info {
      display: flex;
      flex-direction: column;

      @media (max-width: map-get($breakpoints, xs)) {
        margin-left: unset;
      }

      & .numbers {
        font-size: 25px;
        color: map-get($grays, 500);
        text-align: center;

        & .average {
          font-size: 35px;
          color: map-get($main-text-colors, dark);
        }
      }
    }
  }

  & .user-review {
    padding: 30px !important;

    & .title {
      margin-bottom: 30px;
    }

    & .review {
      & .header {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        & .img {
          width: 40px;
          border-radius: 50%;
        }

        & .name {
          margin-right: auto;
          margin-left: 15px;
          color: map-get($main-text-colors, dark);
        }

        & .rating {
          @media (max-width: map-get($breakpoints, xs)) {
            display: inline-flex !important;
          }
        }
      }

      & .body {
        margin-top: 20px;

        & .edit-button {
          float: right;
        }
      }

      & .form {
        margin-top: 20px;
        border: 1px solid map-get($grays, 300);
        border-radius: 2px;

        & .form-control {
          border: none;
          border-radius: 0;
          height: 120px;
          resize: none;

          &:focus {
            border: none;
            border-radius: 0;
          }
        }

        & .rate {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          background-color: map-get($grays, 100);
          color: map-get($main-text-colors, dark);
          padding: 10px;

          @media (max-width: map-get($breakpoints, xs)) {
            flex-direction: column;
          }
        }
      }

      & .actions {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 12px;

        & > button:first-of-type {
          margin-right: 8px;
        }

        @media (max-width: map-get($breakpoints, xs)) {
          justify-content: center;
        }
      }
    }
  }

  & .other-reviews {
    padding: 30px !important;

    & .title {
      margin-bottom: 30px;
    }

    & .review {
      &:not(:first-of-type) {
        padding-top: 15px;
      }

      &:not(:last-of-type) {
        border-bottom: 1px solid map-get($grays, 300);
      }

      & .header {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 20px;

        & .img {
          width: 40px;
          border-radius: 50%;
        }

        & .name {
          margin-right: auto;
          margin-left: 15px;
          color: map-get($main-text-colors, dark);
        }
      }
    }
  }

  & .rating {
    text-align: center;

    & .full {
      color: map-get($status-colors, pending);
    }

    & .empty {
      color: map-get($grays, 400);
    }
  }
}
