.selectColor {
  position: relative;

  &__input.form-group {
    input.form-control {
      box-shadow: 0px 2px 2px get-rgba(map-get($base, black), 4) !important;

      &:focus {
        box-shadow: 0px 0px 0px 4px get-rgba(map-get($turquoise, 500), 8);
      }
    }
    &.has-error {
      input.form-control {
        border-width: 2px;
        &:hover,
        &:active {
          box-shadow: inherit !important;
        }
        &:focus {
          box-shadow: 0px 0px 0px 4px get-rgba(map-get($turquoise, 500), 8) !important;
        }
      }
    }
  }

  .inputColor {
    width: 24px;
    height: 24px;
    border-radius: $border-radius-1 / 2;
    border: 1px solid get-rgba(map-get($base, black), 4);
    background-color: map-get($turquoise, 300);
  }
  .twitter-picker {
    position: absolute !important;
    // top: $distance-7;
    right: 0;
  }
}
