.share-label {
  span {
    font-size: 12px;
    font-weight: 900;
    line-height: 19px;
    color: #455c75;
    text-transform: uppercase;
    letter-spacing: 0;
  }
}

.share-icon {
  margin-right: 10px;
  width: 40px;
  display: inline-block;
}
