.shareModal {
  .modal-body {
    padding: 0 $distance-3 $distance-4 $distance-3 !important;
  }

  &.modal-sm {
    @media (min-width: map-get($breakpoints, sm)) {
      max-width: 360px;
    }
  }

  ul {
    padding: 0;
    margin: 0 $distance-1 0 $distance-1;

    li {
      list-style: none;
      margin-bottom: $distance-2;

      &:last-child {
        margin-bottom: 0;
      }

      &.separator {
        padding-bottom: 24.5px;
        margin-bottom: 24.5px;
        border-bottom: 1px solid map-get($neutrals, 200);
      }

      a {
        display: block;
        cursor: pointer;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: map-get($base, black);
        text-decoration: none;
        padding: $distance-1;
        border-radius: $border-radius-1;

        &:active,
        &:visited {
          background-color: map-get($neutrals, 100);
        }
        &:hover {
          background-color: map-get($background, secondary);
        }
        &:focus {
          background-color: map-get($base, white);
          box-shadow: 0px 0px 0px 4px get-rgba(map-get($theme-colors, primary), 8);
        }

        &:hover,
        &:active,
        &:focus {
          text-decoration: none;
        }

        .share-icon {
          font-size: 16px;
          text-decoration: none;
          justify-content: center;
          border-radius: 50%;
          height: 40px;
          width: 40px;
          display: inline-flex;
          vertical-align: middle;
          align-items: center;
          border: 0px;
          cursor: pointer;
          position: relative;
          margin-right: $distance-2;

          &:focus,
          &:hover,
          &:active {
            color: map-get($base, white);
            text-decoration: none;
            outline: none;
          }
        }
        .share-feed {
          background-color: get-rgba(map-get($theme-colors, primary), 8);
          @include svg-change-color(map-get($theme-colors, primary));
        }
        .share-facebook {
          background-color: get-rgba(map-get($social, facebook), 8);
          @include svg-change-color(map-get($social, facebook));
        }
        .share-twitter {
          background-color: get-rgba(map-get($social, twitter), 8);
          @include svg-change-color(map-get($social, twitter));
        }
        .share-linkedin {
          background-color: get-rgba(map-get($social, linkedin), 8);
          @include svg-change-color(map-get($social, linkedin));
        }
        .share-email {
          background-color: get-rgba(map-get($social, email), 8);
          @include svg-change-color(map-get($social, email));
        }
        .share-whatsapp {
          background-color: get-rgba(map-get($social, whatsApp), 8);
          @include svg-change-color(map-get($social, whatsApp));
          font-size: 19px;
        }
        .share-link {
          background-color: map-get($neutrals, 400);
        }
      }
    }
  }
}

.btn-esolidar.btn-secondary.codebox-button {
  margin-top: $distance-1;
  margin-bottom: $distance-4;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: map-get($base, black);
  background-color: map-get($background, secondary) !important;
  box-shadow: 0 0 0 1px map-get($neutrals, 200), 0px 2px 2px get-rgba(map-get($base, black), 4);
  @include box-shadow();

  &:focus {
    @include box-shadow(0px 2px 2px get-rgba(map-get($base, black), 4));
  }

  .text {
    width: 100%;
  }

  .codebox {
    width: 100%;
    position: relative;
    display: inline-flex;
    justify-content: space-between;

    &__left {
      max-width: 200px;
      @include text-overflow-ellipsis();
    }
    &__right {
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: map-get($neutrals, 900);
    }
  }
}
