.share-label {
  span {
    font-size: 12px;
    font-weight: 900;
    line-height: 19px;
    color: #455c75;
    text-transform: uppercase;
    letter-spacing: 0;
  }
}

.share-icon {
  margin-right: $distance-1;
  display: inline-block;

  &:focus {
    outline: none;
  }
}

.share-link {
  justify-content: center;
  border-radius: 50%;
  height: 31px;
  width: 31px;
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  border: 0px;
  background-color: map-get($neutrals, 400);
  color: map-get($base, white);
}
