.esolidar-slider {
  display: flex;
  align-items: center;

  .btn-ghost {
    gap: 0;
    min-width: 40px;
  }

  .rc-slider {
    height: 20px;
    margin: 0 $distance-1;
  }

  .rc-slider-rail {
    height: 8px;
    background-color: map-get($neutrals, 100);
    border: none;
  }

  .rc-slider-step {
    height: 8px;
  }

  .rc-slider-track {
    height: 8px;
    background-color: map-get($turquoise, 500);
  }

  .rc-slider-handle {
    margin-top: -6px;
    width: 20px;
    height: 20px;
    background-color: map-get($base, white);
    border: none;
    box-shadow: map-get($elevation, 50);

    &:hover {
      border: none;
    }

    &:active {
      box-shadow: 0px 0px 0px 4px rgba(12, 131, 128, 0.08);
      border: none;
    }
  }
  .rc-slider-handle-click-focused {
    &:focus {
      box-shadow: map-get($elevation, 50);
      border: none;
    }
  }

  .rc-slider-disabled {
    background-color: transparent;
    opacity: 0.5;
  }
}
