.form-group {
  position: relative;
  margin-bottom: $distance-4;

  .input {
    position: relative;

    & .icon {
      position: absolute;
      top: 0;
      bottom: 0;

      display: flex;
      justify-content: center;
      align-items: center;
      color: map-get($theme-colors, dark);

      &.left {
        left: 0;
        padding-left: 16px;
      }

      &.right {
        right: 0;
        padding-right: 16px;
      }
    }

    &__loading {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      padding-right: $distance-5;
    }

    .form-control {
      @include input-form();

      &:hover {
        @include input-hover();
      }

      &:focus {
        @include input-focus();
      }
    }

    .form-control[disabled] {
      @include input-disabled();

      &:hover {
        @include input-disabled-hover();
      }
    }

    .required-field {
      border-color: map-get($theme-colors, danger) !important;
    }
  }

  .footer-label-info {
    font-size: 11px;
    color: map-get($main-text-colors, dark);
    line-height: 19px;
    margin-bottom: 0.5rem;
    letter-spacing: 0;
    display: block;
  }

  input::placeholder,
  textarea::placeholder {
    color: map-get($neutrals, 400);
  }

  &.has-error {
    .form-control {
      @include input-form-error();
    }
  }
}
