.textfield-number {
  position: relative;

  &__arrows {
    position: absolute;
    top: 0px;
    right: 0px;
    display: flex;
    align-items: flex-end;
    flex-direction: column !important;

    button {
      border: none;
      border-left: 1px solid map-get($neutrals, 200);
      background: transparent;
      width: 20px;
      height: 19px;
      padding: 0;
      line-height: 0;

      &:first-child {
        border-bottom: 1px solid map-get($neutrals, 200);
      }

      &:focus-visible,
      &:focus {
        outline: none;
      }
    }
  }
}
