.form-group {
  position: relative;
  margin-bottom: $distance-4;

  .size-sm {
    max-width: map-get($widths, sm);
  }
  .size-md {
    max-width: map-get($widths, md);
  }
  .size-lg {
    max-width: map-get($widths, lg);
  }

  .help {
    font-size: 13px;
    color: map-get($main-text-colors, dark);
    line-height: 19px;
    margin-bottom: $distance-2;
    letter-spacing: 0;
    display: block;
  }

  .input {
    position: relative;

    & .icon {
      position: absolute;
      top: 0.2rem;
      width: 2rem;
      height: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      color: map-get($theme-colors, dark);

      &.left {
        left: 0.2rem;
      }

      &.right {
        right: 0.2rem;
      }
    }

    .form-control {
      @include input-form();

      &:hover {
        @include input-hover();
      }

      &:focus {
        @include input-focus();
      }
    }

    .form-control[disabled] {
      @include input-disabled();
    }

    .required-field {
      border-color: map-get($theme-colors, danger) !important;
    }
  }

  .control-label {
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    color: map-get($base, black);
    letter-spacing: 0;
    display: block;
    margin-bottom: $distance-1;
  }

  .label-optional {
    padding-left: 5px;
    font-size: 11px;
    color: map-get($main-text-colors, dark);
    text-transform: lowercase;
    font-weight: 100;
  }

  .footer-label-info {
    font-size: 11px;
    color: map-get($main-text-colors, dark);
    line-height: 19px;
    margin-bottom: 0.5rem;
    letter-spacing: 0;
    display: block;
  }

  input::placeholder,
  textarea::placeholder {
    color: map-get($neutrals, 400);
  }

  &.has-error {
    .form-control {
      @include input-form-error();
    }
    .help-block {
      color: map-get($negative, 500) !important;
      font-size: 14px !important;
      line-height: 20px !important;
      font-weight: 400 !important;
      padding-top: $distance-1;
    }
  }
}
