.text-area-field {
  &.width-sm {
    max-width: 320px;
  }
  &.width-md {
    max-width: 420px;
  }
  &.width-lg {
    max-width: 720px;
  }

  .relative {
    position: relative;

    .footer-maxlength {
      display: none;
      position: absolute;
      bottom: $distance-1;
      right: $distance-2;
    }

    & .form-control {
      @include input-form();
      min-height: 160px;

      &:hover {
        @include input-hover();
      }

      &:disabled {
        @include input-disabled();
      }

      &:focus {
        @include input-focus();

        ~ .footer-maxlength {
          display: block;
          color: map-get($neutrals, 400);
        }
      }

      &.footer {
        padding-bottom: 40px;
      }
    }
  }

  &.has-error {
    .footer-maxlength {
      display: block;

      color: map-get($negative, 500);
    }

    .footer-maxlength {
      color: map-get($negative, 500);
    }
  }
}
