.component-title {
  &__back {
    color: map-get($theme-colors, primary);
    font-size: 14px;
    width: fit-content;
    border: 0px;
    background: transparent;

    &:hover,
    &:focus,
    &:active {
      color: map-get($theme-colors, primary);
      text-decoration: underline;
      outline: none;
    }
  }

  &__h1 {
    position: relative;
    font-size: 26px;
    color: map-get($grays, 900);
    font-weight: 600;
    margin: 0;
    padding: 0;
  }

  &__icon {
    color: map-get($theme-colors, primary);
    text-decoration: none;
    position: absolute;
    top: 2px;
    margin-left: $distance-1;
    font-size: 20px;

    &:hover,
    &:focus,
    &:active {
      color: map-get($theme-colors, primary);
      text-decoration: none;
    }
  }

  &__subtitle {
    font-size: 14px;
  }

  &__supporting {
    font-size: 14px;
    color: map-get($grays, 700);

    &-href {
      margin-left: $distance-1;
      color: map-get($grays, 700);
      font-weight: 600;
      font-size: 15px;

      &:hover {
        color: map-get($theme-colors, primary);
      }
    }

    &-name {
      margin-left: $distance-1;
      font-weight: 700;
      font-size: 15px;
    }
  }
}
