.component-title {
  &__back {
    color: map-get($theme-colors, primary);
    font-size: 14px;
    width: fit-content;
    border: 0px;
    background: transparent;

    &:hover,
    &:focus,
    &:active {
      color: map-get($theme-colors, primary);
      text-decoration: underline;
      outline: none;
    }
  }

  &__main {
    display: flex;
    align-items: center;
    margin-bottom: $distance-1;
    gap: $distance-1;

    &--h1 {
      // position: relative;
      font-size: 26px;
      color: map-get($grays, 900);
      font-weight: 600;
      margin: 0;
      // padding: 0;
    }

    &--rating {
      display: flex;
      align-items: center;
      gap: $distance-1 / 2;
      @include svg-change-color(map-get($warning, 200));

      & > p {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        margin-bottom: 0;
        color: map-get($neutrals, 700);

        &.has-rating::first-letter {
          color: map-get($base, black);
        }
      }
    }

    &--icon,
    &--icon--disabled {
      color: map-get($theme-colors, primary);
      text-decoration: none;
      font-size: 20px;

      &:hover,
      &:focus,
      &:active {
        color: map-get($theme-colors, primary);
        text-decoration: none;
      }

      &--disabled {
        color: map-get($neutrals, 700);

        &:hover,
        &:focus,
        &:active {
          color: map-get($neutrals, 700);
        }
      }
    }
  }

  &__subtitle {
    font-size: 14px;
  }

  &__supporting {
    font-size: 14px;
    color: map-get($grays, 700);

    &-href {
      margin-left: $distance-1;
      color: map-get($grays, 700);
      font-weight: 600;
      font-size: 15px;

      &:hover {
        color: map-get($theme-colors, primary);
      }
    }

    &-name {
      margin-left: $distance-1;
      font-weight: 700;
      font-size: 15px;
    }
  }
}
