.component-title {
  &-back {
    color: map-get($turquoise, 500);
    text-decoration: underline;
  }

  &-h1 {
    font-size: 36px;
    color: map-get($grays, 900);
    margin: 0;
    padding: 0;
  }

  &-subtitle {
    font-size: 14px;
  }

  &-supporting {
    font-size: 14px;
    color: map-get($grays, 700);

    &-href {
      margin-left: $distance-1;
      color: map-get($turquoise, 500);
      font-weight: 700;
      font-size: 15px;
    }

    &-name {
      margin-left: $distance-1;
      font-weight: 700;
      font-size: 15px;
    }
  }
}
