.esolidar-user-menu {
  margin-left: $distance-1;

  .dropdown-toggle {
    color: map-get($theme-colors, primary) !important;
    background-color: transparent !important;
    border: none;

    &:hover,
    &:active,
    &:focus {
      color: map-get($theme-colors, primary);
      box-shadow: none !important;
      background-color: transparent;
      border: none;
    }

    &::after {
      display: inline-block;
      margin-left: 0.255em;
      vertical-align: 0;
      content: '';
      border-top: 0.3em solid;
      border-right: 0.3em solid transparent;
      border-bottom: 0;
      border-left: 0.3em solid transparent;
    }

    > img {
      height: 40px;
      border-radius: 50%;

      @media (max-width: map-get($breakpoints, xs)) {
        height: 30px;
        margin-right: 0;
      }
    }
  }

  .dropdown-menu {
    border-radius: 18px;
    text-align: left;
    padding: $distance-2 0px;
    top: 20px !important;
    position: absolute !important;
    inset: 0px auto auto 0px;
    margin: 0px !important;
    transform: translate(-129px, 46px) !important;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    &:before {
      @include dropdown-arrow-before(84%, 81%);
    }

    &:after {
      @include dropdown-arrow-after(84%, 81%);
    }

    .dropdown-item {
      padding: $distance-1 $distance-3 $distance-1 $distance-3;
      font-size: 16px;
      border-radius: 8px;
      color: map-get($main-text-colors, title);

      &:hover {
        background-color: map-get($background, secondary);
        color: map-get($main-text-colors, title);
      }
    }

    .dropdown-divider {
      margin: $distance-1 $distance-3;
    }

    .user-top-menu-option {
      margin-top: -13px;
      font-size: 14px;
      color: map-get($turquoise, 500);
    }
  }
}
