.esolidar-user-menu {
  margin-left: $distance-1;

  &-title {
    font-weight: bold;
    padding: $distance-1 $distance-3 $distance-1 $distance-3;
    white-space: nowrap;
  }

  .dropdown-toggle {
    color: map-get($theme-colors, primary) !important;
    background-color: transparent !important;
    border: none;

    &:hover,
    &:active,
    &:focus {
      color: map-get($theme-colors, primary);
      box-shadow: none !important;
      background-color: transparent;
      border: none;
    }

    &::after {
      display: none;
    }

    > img {
      height: 48px;
      border-radius: 50%;
      margin-right: 13px;

      @media (max-width: map-get($breakpoints, xs)) {
        height: 30px;
        margin-right: 0;
      }
    }
  }

  .dropdown-menu {
    border-radius: 18px;
    text-align: left;
    padding: $distance-2 0px;
    top: 67px !important;
    position: absolute !important;
    margin: 0px !important;
    box-shadow: map-get($elevation, 100);

    .dropdown-item {
      padding: $distance-1 $distance-3 $distance-1 $distance-3;
      font-size: 16px;
      border-radius: 8px;
      color: map-get($neutrals, 900);

      &:hover {
        background-color: transparent;
        color: map-get($turquoise, 500);
      }
    }

    .dropdown-divider {
      margin: $distance-1 $distance-3;
      border-color: map-get($neutrals, 400);
    }

    .user-top-menu-option {
      margin-top: -13px;
      font-size: 14px;
      color: map-get($turquoise, 500);
    }
  }
}
