.validate-telephone {
  .form-control {
    @include input-form();

    &[disabled] {
      @include input-disabled();
    }

    &:hover {
      @include input-hover();
    }

    &:focus {
      @include input-focus();
    }
  }

  label {
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    color: map-get($base, black);
    letter-spacing: 0;
    display: block;
    margin-bottom: $distance-1;
    text-transform: none;
  }

  .help,
  .sms-message {
    font-size: 13px;
    color: map-get($main-text-colors, dark);
    line-height: 19px;
    margin-bottom: $distance-2;
    letter-spacing: 0;
    display: block;
  }

  .phone-box {
    display: flex;
    gap: $distance-2;

    .input-phone-validation {
      display: flex;
      gap: 10px;
      align-items: center;

      button {
        outline: transparent !important;
        background-color: transparent;
      }

      &.input-phone-disabled {
        .selected-flag {
          cursor: default;

          .arrow {
            display: none;
          }
        }
      }
    }

    .react-tel-input {
      .selected-flag {
        border-radius: $border-radius-1 0 0 $border-radius-1;
      }

      .flag-dropdown.open-dropdown,
      .country-list {
        border-radius: $border-radius-1;
      }

      .flag-dropdown {
        border-radius: $border-radius-1;

        .selected-flag {
          background: transparent;
        }
      }
    }

    .react-tel-input input[type='tel'] {
      height: 40px;
      background-color: map-get($colors, white);
      border: 2px solid map-get($grays, 400);
      border-radius: $border-radius-1;
      box-shadow: none;
      -webkit-box-shadow: none;
      -moz-appearance: none;
      font-size: 15px;
      letter-spacing: -0.31px;
      line-height: 24px;
      padding-top: 10px;
      padding-left: 80px;
      padding-left: 70px;

      @include input-form();

      &:hover {
        @include input-hover();
      }

      &:focus {
        @include input-focus();
      }
    }

    .phone-verified {
      width: 24px;
      height: 24px;
      background: url('#{$cdn-static-url}/frontend/icons/ic-verified.svg') 50% 50% no-repeat;
    }

    .btn-validate-phone {
      border: 2px solid map-get($colors, green);
      color: map-get($colors, green);
      background: map-get($colors, white);
      border-radius: 100px;
      padding-left: 30px;
      padding-right: 30px;

      font-size: 17px;
      -webkit-transition: all 700ms cubic-bezier(0.115, 0.65, 0.215, 1);
      -webkit-transition: all 700ms cubic-bezier(0.115, 0.65, 0.215, 1.005);
      -moz-transition: all 700ms cubic-bezier(0.115, 0.65, 0.215, 1.005);
      -o-transition: all 700ms cubic-bezier(0.115, 0.65, 0.215, 1.005);
      transition: all 700ms cubic-bezier(0.115, 0.65, 0.215, 1.005);
      -webkit-transition-timing-function: cubic-bezier(0.115, 0.65, 0.215, 1);
      -webkit-transition-timing-function: cubic-bezier(0.115, 0.65, 0.215, 1.005);
      -moz-transition-timing-function: cubic-bezier(0.115, 0.65, 0.215, 1.005);
      -o-transition-timing-function: cubic-bezier(0.115, 0.65, 0.215, 1.005);
      transition-timing-function: cubic-bezier(0.115, 0.65, 0.215, 1.005);

      &:hover {
        background: map-get($colors, green);
        border-color: map-get($colors, green);
        color: map-get($colors, white) !important;
      }
    }
  }

  .verify-box {
    display: inline-block;
    padding: 15px;
    margin-top: 20px;
    background: map-get($grays, 100);

    h3 {
      padding: 0;
      margin: 0;

      font-size: 15px;
      letter-spacing: 0;
      margin-bottom: 15px;

      img {
        margin-right: 15px;
      }
    }

    input {
      text-align: center;
      border-radius: 8px;
      font-size: 21px;
      color: map-get($grays, 500);
      letter-spacing: 2.8px;
      line-height: 26px;
    }

    .btn-verify-phone {
      border: 2px solid map-get($colors, green);
      color: map-get($colors, green) !important;
      background: map-get($colors, white);
      border-radius: 100px;
      padding-left: 30px;
      padding-right: 30px;
      font-size: 17px;
      margin-top: $distance-2;
      width: 100%;
      @include animate();
    }

    .has-error {
      margin-bottom: $distance-1;
    }
  }

  .thumb-box {
    width: 100%;
    display: inline-block;

    .thumb {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      float: left;
      background-size: cover;
      background-position: 50% 50%;
    }

    .thumbInput {
      float: left;
      width: 230px;
    }
  }
}
