.view-comment {
  background: map-get($colors, white);
  padding: $distance-3;
  border: 1px solid map-get($neutrals, 200);
  border-radius: $distance-1;
  display: flex;
  flex-direction: column;
  gap: $distance-2;

  &__header {
    display: flex;
    gap: 16px;
    justify-content: space-between;
  }

  &__content {
    color: map-get($base, black);
  }

  &__social {
    font-size: 14px;
    font-weight: 300;
    color: map-get($neutrals, 700);
  }

  &__line {
    width: 100%;
    height: 1px;
    background: map-get($neutrals, 200);
  }

  &--inline {
    display: flex;
    gap: $distance-2;
  }

  .dropzone-box {
    display: none;
  }

  &--liked {
    .text {
      color: map-get($turquoise, 500) !important;
    }
    
    svg path {
      fill: map-get($turquoise, 500) !important;
    }
  }
}