.component-comment {
  &__body {
    font-size: 15px;
    line-height: 22px;
    color: map-get($neutrals, 400);
    padding-top: $distance-1;
    padding-left: $distance-6;
  }

  &__footer {
    display: flex;
    align-items: center;
    padding-left: $distance-6;
    margin-bottom: $distance-2;

    @media (max-width: map-get($breakpoints, xs)) {
      align-items: flex-start;
      flex-direction: column;
    }

    &--reply {
      padding: 0;
      margin-right: $distance-2;

      @media (max-width: map-get($breakpoints, xs)) {
        margin-right: 0;
      }
    }

    &--see-replies {
      padding: 0;
    }
  }
  &__replies {
    margin-left: $distance-6;
  }
}
