.mdPrivateCode {
  width     : 600px;
  min-height: 300px;
  z-index   : 999;
  background: #fff;
  border    : 1px solid #e7eaed;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05);
  padding   : 25px 50px;

  h3 {
    font-family   : $fontLight;
    font-size     : 24px;
    color         : #05c6e5;
    letter-spacing: -1px;
    line-height   : 40px;
    margin        : auto;
  }

  .private-code {
    width : 300px;
    margin: auto;
  }

}

.auction-modal-bid,
.auction-modal-subscribe {

  .modal-body {
    @media(max-width: 425px) {
      padding: 0px !important;
    }
  }

  .modal-title {
    color: $mainColor;
  }

  h2 {
    color: $mainColor;
  }

  label {
    font-size     : 15px !important;
    margin        : 5px 0 !important;
    text-transform: inherit !important;
    color         : #455C75 !important;
    font-weight   : inherit !important;

    span {
      font-weight: inherit !important;
    }
  }

  .hasError {
    span {
      color: red;
    }
  }
}

.auction-detail {

  .sticky-sidebar {
    z-index: 9;
  }

  @-webkit-keyframes blink {
    0% {
      color  : #000;
      opacity: 1;
    }

    100% {
      background-color: $mainColor;
    }
  }

  .blink {
    -webkit-animation-name           : blink;
    -webkit-animation-duration       : 900ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
  }

  .mobile-countdown {
    .countdown {
      margin: 15px 15px 0 15px;
    }
  }

  .readmore-button {
    display: none;
  }

  .auction-supported {
    font-family   : $fontFamily;
    font-size     : 15px;
    color         : #a2adba;
    letter-spacing: -.31px;
    line-height   : 26px;
    margin-bottom : 10px;
  }

  h1 {
    font-family   : $fontLight;
    font-size     : 27px;
    color         : $mainColor;
    letter-spacing: 0;
    line-height   : 40px;
    margin-bottom : 50px;

    img {
      width        : 40px;
      height       : 40px;
      border-radius: 50%;
      margin-right : 15px;
    }
  }

  h2 {
    font-family   : $fontLight;
    font-size     : 23px;
    color         : $mainTextColorLight;
    letter-spacing: 0;
    line-height   : 39px;
    margin        : 0;

    @media(max-width: 425px) {
      text-align: center;
      margin-top: 30px;
    }
  }

  .end-date {
    font-size     : 12px;
    color         : $mainTextColorLight;
    letter-spacing: -.25px;
    line-height   : 26px;
    margin-bottom : 30px;
  }

  .box {
    background-color: #FFFFFF;
    box-shadow      : 0 1px 1px 0 rgba(0, 0, 0, 0.05);
    border          : 1px solid #E7EAED;
    border-radius   : 4px;
    padding         : 40px;

    @media(max-width: 425px) {
      margin    : 0;
      margin-top: 0;
      padding   : 15px;
    }
  }

  .open-lightbox {
    border    : none;
    background: transparent;
    padding   : 0;
    margin    : 0;
  }

  .slider-image {
    background-size    : cover;
    background-position: 50% 50%;
    background-repeat  : no-repeat;
    height             : 470px;

    @media (max-width: 425px) {
      height: 250px;
    }
  }

  .slick-dots {
    bottom: -15px !important;
  }

  .slick-slider {
    margin-bottom: 40px;

    @media (max-width: 425px) {
      margin-bottom: 0;
      display      : grid;

      .slick-thumb {
        display: none !important;
      }
    }

    .prev-arrow {
      width            : 40px;
      height           : 90px;
      background       : #000 url($cdn_static_url + '/frontend/icons/ic-slide-left.svg') 50% 50% no-repeat;
      position         : absolute;
      display          : block;
      line-height      : 0;
      font-size        : 0;
      cursor           : pointer;
      color            : transparent;
      top              : 50%;
      -webkit-transform: translate(0, -50%);
      -ms-transform    : translate(0, -50%);
      transform        : translate(0, -50%);
      padding          : 0;
      border           : none;
      outline          : none;
      z-index          : 9;
      opacity          : 0.4;
      border-radius    : 0 3px 3px 0;

      &:hover {
        opacity: 0.8;
      }
    }

    .next-arrow {
      width            : 40px;
      height           : 90px;
      background       : #000 url($cdn_static_url + '/frontend/icons/ic-slide-right.svg') 50% 50% no-repeat;
      position         : absolute;
      display          : block;
      line-height      : 0;
      font-size        : 0;
      cursor           : pointer;
      color            : transparent;
      top              : 50%;
      -webkit-transform: translate(0, -50%);
      -ms-transform    : translate(0, -50%);
      transform        : translate(0, -50%);
      padding          : 0;
      border           : none;
      outline          : none;
      z-index          : 9;
      right            : 0;
      opacity          : 0.4;
      border-radius    : 3px 0 0 3px;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .countdown {
    margin-top     : -75px;
    margin-bottom  : 10px;
    display        : flex;
    justify-content: center;
    padding        : 0px;

    @media (max-width: 768px) {
      margin-top: -55px;
    }

    .CountdownBox {
      display        : flex;
      align-items    : center;
      justify-content: center;
    }
  }

  .txt-price-t {
    font-size     : 30px;
    color         : $mainTextColorDark;
    letter-spacing: -.72px;
    line-height   : 33px;
    display       : inline-block;
  }

  .auction-title {
    font-family       : $fontFamily;
    font-size         : 23px;
    color             : #455c75;
    letter-spacing    : -1px;
    margin-top        : 0;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow          : hidden;
    text-overflow     : ellipsis;
    display           : -webkit-box;
    height            : 100px;
    line-height       : 33px !important;
    -webkit-line-clamp: 3 !important;
  }

  .auction-content-label {
    font-family   : $fontHeavy;
    font-size     : 12px;
    color         : $mainColor;
    letter-spacing: 0;
    text-transform: uppercase;
    display       : block;
    margin-top    : 20px;
    margin-bottom : 10px;
  }

  .txt-bid-aprox {
    font-size     : 12px;
    color         : #738598;
    letter-spacing: -.25px;
    line-height   : 26px;
    display       : inline-block;
  }

  .end-auction {
    font-family   : $fontFamily;
    display       : block;
    height        : 96px;
    font-size     : 15px;
    color         : $mainTextColorLight;
    letter-spacing: -.31px;
    line-height   : 26px;
  }

  .auction-box {
    border       : 1px solid #e7eaed;
    padding      : 10px 20px;
    margin-top   : 10px;
    margin-bottom: 5px;
    display      : flex;

    .npo-thumb {
      background   : #f6f9f9;
      border       : 1px solid #e7eaed;
      width        : 60px;
      height       : 60px;
      border-radius: 30px;
      float        : left;
      margin-right : 20px;
    }
  }

  .has-error {
    .bid-input {
      input {
        border: 2px solid red !important;
      }
    }
  }

  .subscribe-auction {

    a,
    button {
      color          : $grayDark;
      text-decoration: underline;
      padding        : 0px;
    }

  }

  .btn-esolidar {
    width     : 100%;
    text-align: center;
  }

  .description-text {
    opacity       : 0.9;
    font-family   : $fontFamily;
    font-size     : 15px;
    color         : $mainTextColorLight;
    letter-spacing: 0;
    line-height   : 26px;
    margin-right  : 30px;
    width         : 100%;

    @media (max-width: 425px) {
      margin            : 0;
      overflow          : hidden;
      display           : -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;

      span {
        word-break: break-word;
      }
    }
  }

  .description-show-all {
    @media (max-width: 425px) {
      margin            : 0;
      margin-top        : 0;
      overflow          : auto;
      display           : inline-block;
      -webkit-line-clamp: initial;
      -webkit-box-orient: initial;
    }
  }

  .recipient {
    .box {
      overflow: auto;

      @media (max-width: 425px) {
        margin: 0;
      }

      img {
        width        : 40px;
        height       : 40px;
        border-radius: 50%;
        float        : left;
        margin-right : 45px;
        margin-top   : 8px;
        margin-left  : 20px;
      }

      .recipient-label {
        font-family   : $fontFamily;
        font-size     : 15px;
        color         : $mainTextColorLight;
        letter-spacing: 0;
        line-height   : 26px;
      }

      .recipient-name {
        font-family   : $fontFamily;
        font-size     : 21px;
        color         : $mainColor;
        letter-spacing: -0.5px;
        line-height   : 33px;
      }
    }

    @media (max-width: 425px) {
      .recipient-box {
        text-align: center;
        padding   : 20px;

        img {
          margin: 0;
          width : 80px;
          height: 80px;
          float : none;
        }

        .recipient-label {
          display: none;
        }

        .btn-support-cause {
          float        : none;
          margin-bottom: 20px;
        }
      }
    }
  }

  .no-contributions {
    padding-top   : 25px;
    font-family   : $fontFamily;
    font-size     : 14px;
    color         : $mainTextColorLight;
    letter-spacing: 0;
    line-height   : 26px;
  }

  .comments-box {
    background   : #fff;
    border       : 1px solid #e7eaed;
    box-shadow   : 0 1px 1px 0 rgba(0, 0, 0, .05);
    border-radius: 2px;
    padding      : 30px 70px;

    @media (max-width: 425px) {
      margin : 15px;
      padding: 15px 15px;
    }

    h3 {
      color: $grayDark;
    }
  }

  .support-cause {
    background: #fff;
    border    : 1px solid #e7eaed;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05);
    margin-top: 50px;
    padding   : 30px 70px;

    .npo-thumb {
      width        : 60px;
      height       : 60px;
      border-radius: 60px;
      margin-right : 20px;
      margin-bottom: 70px;
    }

    .npo-name {
      font-size     : 24px;
      color         : #05c6e5;
      letter-spacing: -.72px;
      line-height   : 38px;
      margin        : 0;
      padding       : 0;
    }

    .npo-summary {
      font-size     : 15px;
      color         : #738598;
      letter-spacing: -.31px;
      line-height   : 26px;
      margin        : 0;
      padding       : 0;
    }
  }

  .other-auctions {
    h4 {
      font-family   : $fontLight;
      margin-bottom : 55px;
      margin-top    : 25px;
      font-size     : 42px;
      color         : #05c6e5;
      letter-spacing: -1px;
      line-height   : 58px;
    }
  }

  .hasError {
    span {
      color: red;
    }
  }
}