.btn-esolidar {
  cursor                            : pointer;
  display                           : inline-block;
  font-weight                       : 600;
  padding                           : 6px 16px;
  min-width                         : 64px;
  border-radius                     : .25rem;
  font-family                       : $fontFamily;
  white-space                       : nowrap;
  box-shadow                        : 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  -webkit-transition                : all 700ms cubic-bezier(0.115, 0.65, 0.215, 1);
  -webkit-transition                : all 700ms cubic-bezier(0.115, 0.65, 0.215, 1.005);
  -moz-transition                   : all 700ms cubic-bezier(0.115, 0.65, 0.215, 1.005);
  -o-transition                     : all 700ms cubic-bezier(0.115, 0.65, 0.215, 1.005);
  transition                        : all 700ms cubic-bezier(0.115, 0.65, 0.215, 1.005);
  -webkit-transition-timing-function: cubic-bezier(0.115, 0.65, 0.215, 1);
  -webkit-transition-timing-function: cubic-bezier(0.115, 0.65, 0.215, 1.005);
  -moz-transition-timing-function   : cubic-bezier(0.115, 0.65, 0.215, 1.005);
  -o-transition-timing-function     : cubic-bezier(0.115, 0.65, 0.215, 1.005);
  transition-timing-function        : cubic-bezier(0.115, 0.65, 0.215, 1.005);

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    outline        : none;
  }

  &:disabled {
    opacity: 0.5;
    cursor : not-allowed;
  }

  &.disabled {
    opacity: 0.5;
    cursor : not-allowed;
  }

  &.rounded {
    border-radius: 100px !important;
  }

  &.full-width {
    width: 100%;
  }

  &.btn {
    &-info {
      color           : $btnInfo;
      background-color: #fff;
      border          : 1px solid $btnInfo;
      box-shadow      : none;

      &:hover {
        color           : white;
        background-color: $btnInfo;
        border-color    : $btnInfo;
      }
    }

    &-dark {
      color           : $btnDark;
      background-color: #fff;
      border          : 1px solid $btnDark;
      box-shadow      : none;

      &:hover {
        color           : white;
        background-color: $btnDark;
        border-color    : $btnDark;
      }

      &.disabled {
        opacity: 0.5;
        cursor : not-allowed;
      }
    }

    &-success {
      color           : $btnSuccess;
      background-color: #fff;
      border          : 1px solid $btnSuccess;
      box-shadow      : none;

      &:hover {
        color           : white;
        background-color: $btnSuccess;
        border-color    : $btnSuccess;
      }
    }

    &-danger {
      color           : $btnDanger;
      background-color: #fff;
      border          : 1px solid $btnDanger;
      box-shadow      : none;

      &:hover {
        color           : white;
        background-color: $btnDanger;
        border-color    : $btnDanger;
      }
    }

    &-warning {
      color           : $btnWarning;
      background-color: #fff;
      border          : 1px solid $btnWarning;
      box-shadow      : none;

      &:hover {
        color           : white;
        background-color: $btnWarning;
        border-color    : $btnWarning;
      }
    }

    &-info-full {
      border          : 1px solid $btnInfo;
      color           : #fff !important;
      background-color: $btnInfo;

      &:hover {
        background-color: darken($btnInfo, 22%);
        border-color    : darken($btnInfo, 22%);
      }
    }

    &-dark-full {
      border          : 1px solid $btnDark;
      color           : #fff !important;
      background-color: $btnDark;

      &:hover {
        background-color: darken($btnDark, 22%);
        border-color    : darken($btnDark, 22%);
      }
    }

    &-success-full {
      border          : 1px solid $btnSuccess;
      color           : #fff !important;
      background-color: $btnSuccess;

      &:hover {
        background-color: darken($btnSuccess, 22%);
        border-color    : darken($btnSuccess, 22%);
      }
    }

    &-danger-full {
      border          : 1px solid $btnDanger;
      color           : #fff !important;
      background-color: $btnDanger;

      &:hover {
        background-color: darken($btnDanger, 22%);
        border-color    : darken($btnDanger, 22%);
      }
    }

    &-warning-full {
      border          : 1px solid $btnWarning;
      color           : #fff !important;
      background-color: $btnWarning;

      &:hover {
        background-color: darken($btnWarning, 22%);
        border-color    : darken($btnWarning, 22%);
      }
    }

    &-link {
      color           : $mainColor;
      background-color: transparent;
      box-shadow      : none;

      &:hover {
        color           : $mainColorDark;
        text-decoration : underline;
        background-color: transparent;
        border-color    : transparent;
      }
    }
  }
}