.button-group {
  & button {
    border     : 1px solid $graySemiDark;
    background : transparent;
    color      : $graySemiDark;
    font-size  : 12px;
    font-weight: 600;

    &.active {
      border    : 1px solid $mainColor;
      background: $mainColor;
      color     : white;
    }
  }
}