.request-comment {
  margin-bottom: 20px;
  margin-left: 30px;

  .header {
    display: inline-block;
    width: 100%;

    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      float: left;
      margin-right: 15px;
    }

    .company-name {
      font-family: $fontHeavy;
      font-size: 15px;
      color: $mainTextColorDark;
      letter-spacing: 0;
      line-height: 38px;
      float: left;

      span {
        font-size: 12px;
      }
    }

    .date {
      float: right;
      font-size: 12px;
      color: #455c75;
      letter-spacing: 0;
      line-height: 36px;
    }

    .options-reply {
      float: right;

      .options-dropdown {
        border: none;
        float: right;
        margin-left: 10px;
        padding: 10px;
        -webkit-box-shadow: none;
        box-shadow: none;

        .caret {
          display: none;
        }

        img {
          width: 10px;
          height: 8px;
          border-radius: 0;
          margin: 0;
        }

        &:hover {
          background: transparent;
        }

        &:focus {
          background: transparent;
        }

        &::after {
          display: none;
        }
      }

      .dropdown-menu {
        button {
          background: transparent;
          border: none;
          cursor: pointer;
        }
      }

      .dropdown-menu {
        &.show {
          left: auto !important;
          right: -4px;
          top: 1px !important;
        }
      }
    }
  }

  .content {
    margin-left: 20px;
    padding-left: 35px;
    border-left: 1px solid $grayLight;
    font-size: 15px;
    color: $mainTextColorDark;
    letter-spacing: 0;
    line-height: 22px;
  }

  .content-reply {
    margin-left: 20px;
    padding-left: 35px;
    border-left: 1px solid $grayLight;

    .btn-add-comment-reply {
      padding: 0;
      margin-top: 5px;
      background: transparent;
      border: none;
      font-size: 15px;
      color: $mainColor;
      letter-spacing: 0;
      line-height: 22px;
      text-decoration: underline;

      img {
        margin-right: 10px;
      }
    }

    .add-reply {
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        float: left;
        margin-top: 25px;
        margin-right: 10px;
      }
      .input {
        height: 50px;
        background-repeat: no-repeat;
        background-position: 97% 50%;
      }
      .reply-as-company {
        float: left;
        margin-top: 25px;

        button {
          border: none;

          &:hover {
            background: transparent;
          }

          &:focus {
            background: transparent;
          }

          img {
            width: 25px;
            height: 25px;
            border-radius: 50%;
          }
        }

        .dropdown-toggle {
          -webkit-box-shadow: none;
          box-shadow: none;
          background: transparent;

          .caret {
            margin-left: 3px;
          }
        }

        .dropdown-menu {
          left: 0;
          top: 45px;

          .dropdown-header {
            button {
              background: #fff;

              img {
                margin-right: 10px;
              }
            }
          }

          &:after {
            left: 23px;
          }

          &:before {
            left: 23px;
          }
        }
      }

      .input {
        background-color: #ffffff;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
        border: 1px solid $grayExtraLight;
        border-radius: 4px;
        width: 100%;
        margin-top: 20px;
        font-size: 15px;
        color: $mainTextColorDark;
        letter-spacing: 0;
        line-height: 26px;
        padding: 10px 15px;
        outline: none;
        outline-offset: -2px;
        margin-left: 7px;
      }

      textarea {
        width: 80% !important;
      }
    }

    .comment-replies {
      .request-comment {
        border-top: 1px solid $grayExtraLight;
        margin: 15px 0;
        padding-top: 20px;

        .content {
          padding-left: 35px;
          border-left: none;
        }

        .btn-add-comment-reply {
          padding: 0;
          margin-top: 5px;
          background: transparent;
          border: none;
          font-size: 15px;
          color: $mainTextColorDark;
          letter-spacing: 0;
          line-height: 22px;
          text-decoration: underline;
          margin-left: 55px;

          img {
            margin-right: 10px;
          }
        }

        .add-reply {
          padding-left: 55px;
        }
      }

      .readmore-box {
        margin: 15px 0;
        background: $grayWhite;
        padding: 15px 0;
        margin-left: -35px;
      }
    }
  }
}
