.cookiesMessage {
  position   : fixed;
  bottom     : 0;
  right      : 0;
  left       : 0;
  background : rgba(0, 0, 0, 0.85);
  text-align : center;
  padding    : 30px 0;
  color      : #fff;
  font-weight: normal;
  font-family: 'AvenirLT-Roman';
  z-index    : 9999999;
}