.CountdownBox {
  display        : flex;
  align-items    : center;
  justify-content: center;
  border-radius  : 3px;
  overflow       : hidden;
  max-width      : 450px;

  @media(max-width: 425px) {
    width: 100%;
  }

  .soon {
    background: #05c6e5;
    color     : #fff;
    padding   : 10px;
  }

  .running {
    background: $successColor;
    color     : #fff;
    padding   : 10px;
  }

  .heightHoursLeft {
    background: $warningColor;
    color     : #fff;
    padding   : 10px;
  }

  .ended {
    background: $dangerColor;
    color     : #fff;
    padding   : 10px;
  }

  .Countdown-label {
    display        : flex;
    align-items    : center;
    justify-content: center;
    width          : 33%;
    font-size      : 11px;
    color          : #FFFFFF;
    letter-spacing : 0;
    height         : 70px;
    text-transform : uppercase;
    padding        : 10px;

    &.soon {
      background: #04b1cd;
    }

    &.heightHoursLeft {
      background: #e5aa00;
    }

    &.running {
      background: #31bd79;
    }

    &.ended {
      background: #e54144;
    }
  }

  .Countdown-box {
    width : 67%;
    display        : flex;
    align-items    : center;
    justify-content: center;
    height: 70px;
  }

  @for $i from 1 through 5 {

    span.Countdown-col:first-child:nth-last-child(#{$i}),
    span.Countdown-col:first-child:nth-last-child(#{$i})~span.Countdown-col {
      width: #{100% / $i}
    }
  }

  .Countdown-col {
    display   : inline-block;
    padding   : 0 5px;
    text-align: center;
    position  : relative;

    strong {
      font-size     : 27px;
      color         : #FFFFFF;
      letter-spacing: 0;
      line-height   : 30px;
      display       : inline-block;
      width         : 100%;
      font-weight   : 200;
      position      : relative;
      height        : 30px;
    }

    span {
      font-size     : 12px;
      color         : #FFF;
      letter-spacing: 0;
      line-height   : 100%;
      text-transform: uppercase;
      width         : 100%;
    }

    &:not(:first-child) {
      &:before {
        content  : ':';
        font-size: 27px;
        position : absolute;
        left     : -4px;
        top      : 0;
      }
    }
  }
}