@import './variables';

:export {
  colors: {
    red: map-get($colors, red);
    pink: map-get($colors, pink);
    purple: map-get($colors, purple);
    deep-purple: map-get($colors, deep-purple);
    indigo: map-get($colors, indigo);
    blue-gray: map-get($colors, blue-gray);
    blue: map-get($colors, blue);
    light-blue: map-get($colors, light-blue);
    cyan: map-get($colors, cyan);
    teal: map-get($colors, teal);
    green: map-get($colors, green);
    light-green: map-get($colors, light-green);
    lime: map-get($colors, lime);
    yellow: map-get($colors, yellow);
    sunglow: map-get($colors, sunglow);
    amber: map-get($colors, amber);
    orange: map-get($colors, orange);
    deep-orange: map-get($colors, deep-orange);
    danger: map-get($colors, danger);
    brown: map-get($colors, brown);
    gray: map-get($colors, gray);
    black: map-get($colors, black);
    white: map-get($colors, white);
    white-smoke: map-get($colors, white-smoke);
  }
  grays: {
    _50: map-get($grays, 50);
    _100: map-get($grays, 100);
    _200: map-get($grays, 200);
    _300: map-get($grays, 300);
    _400: map-get($grays, 400);
    _500: map-get($grays, 500);
    _600: map-get($grays, 600);
    _700: map-get($grays, 700);
    _800: map-get($grays, 800);
    _900: map-get($grays, 900);
  }
  base: {
    black: map-get($base, black);
    white: map-get($base, white);
  }
  background: {
    primary: map-get($background, primary);
    secondary: map-get($background, secondary);
  }
  neutrals: {
    _100: map-get($neutrals, 100);
    _200: map-get($neutrals, 200);
    _300: map-get($neutrals, 300);
    _400: map-get($neutrals, 400);
  }
  turquoise: {
    _0: map-get($turquoise, 0);
    _50: map-get($turquoise, 50);
    _100: map-get($turquoise, 100);
    _150: map-get($turquoise, 150);
    _200: map-get($turquoise, 200);
    _300: map-get($turquoise, 300);
    _400: map-get($turquoise, 400);
    _500: map-get($turquoise, 500);
    _600: map-get($turquoise, 600);
    _700: map-get($turquoise, 700);
    _800: map-get($turquoise, 800);
    _900: map-get($turquoise, 900);
  }
  blue: {
    _0: map-get($blue, 0);
    _50: map-get($blue, 50);
    _100: map-get($blue, 100);
    _150: map-get($blue, 150);
    _200: map-get($blue, 200);
    _300: map-get($blue, 300);
    _400: map-get($blue, 400);
    _500: map-get($blue, 500);
    _600: map-get($blue, 600);
    _700: map-get($blue, 700);
    _800: map-get($blue, 800);
    _900: map-get($blue, 900);
  }
  watermelon: {
    _0: map-get($watermelon, 0);
    _50: map-get($watermelon, 50);
    _100: map-get($watermelon, 100);
    _150: map-get($watermelon, 150);
    _200: map-get($watermelon, 200);
    _300: map-get($watermelon, 300);
    _400: map-get($watermelon, 400);
    _500: map-get($watermelon, 500);
    _600: map-get($watermelon, 600);
    _700: map-get($watermelon, 700);
    _800: map-get($watermelon, 800);
    _900: map-get($watermelon, 900);
  }
  golden-tainoi: {
    _0: map-get($golden-tainoi, 0);
    _50: map-get($golden-tainoi, 50);
    _100: map-get($golden-tainoi, 100);
    _150: map-get($golden-tainoi, 150);
    _200: map-get($golden-tainoi, 200);
    _300: map-get($golden-tainoi, 300);
    _400: map-get($golden-tainoi, 400);
    _500: map-get($golden-tainoi, 500);
    _600: map-get($golden-tainoi, 600);
    _700: map-get($golden-tainoi, 700);
    _800: map-get($golden-tainoi, 800);
    _900: map-get($golden-tainoi, 900);
  }
  negative: {
    _0: map-get($negative, 0);
    _50: map-get($negative, 50);
    _100: map-get($negative, 100);
    _150: map-get($negative, 150);
    _200: map-get($negative, 200);
    _300: map-get($negative, 300);
    _400: map-get($negative, 400);
    _500: map-get($negative, 500);
    _600: map-get($negative, 600);
    _700: map-get($negative, 700);
    _800: map-get($negative, 800);
    _900: map-get($negative, 900);
  }
  positive: {
    _0: map-get($positive, 0);
    _50: map-get($positive, 50);
    _100: map-get($positive, 100);
    _150: map-get($positive, 150);
    _200: map-get($positive, 200);
    _300: map-get($positive, 300);
    _400: map-get($positive, 400);
    _500: map-get($positive, 500);
    _600: map-get($positive, 600);
    _700: map-get($positive, 700);
    _800: map-get($positive, 800);
    _900: map-get($positive, 900);
  }
  warning: {
    _0: map-get($warning, 0);
    _50: map-get($warning, 50);
    _100: map-get($warning, 100);
    _150: map-get($warning, 150);
    _200: map-get($warning, 200);
    _300: map-get($warning, 300);
    _400: map-get($warning, 400);
    _500: map-get($warning, 500);
    _600: map-get($warning, 600);
    _700: map-get($warning, 700);
    _800: map-get($warning, 800);
    _900: map-get($warning, 900);
  }
  elevation: {
    _0: map-get($elevation, 0);
    _100: map-get($elevation, 100);
    _200: map-get($elevation, 200);
    _300: map-get($elevation, 300);
    _400: map-get($elevation, 400);
    _500: map-get($elevation, 500);
  }

  main-text-colors: {
    light: map-get($main-text-colors, light);
    dark: map-get($main-text-colors, dark);
    title: map-get($main-text-colors, title);
  }
  theme-colors: {
    primary: map-get($theme-colors, primary);
    secondary: map-get($theme-colors, secondary);
    success: map-get($theme-colors, success);
    info: map-get($theme-colors, info);
    warning: map-get($theme-colors, warning);
    danger: map-get($theme-colors, danger);
    dark: map-get($theme-colors, dark);
  }
  theme-colors-light: {
    primary: map-get($theme-colors-light, primary);
    secondary: map-get($theme-colors-light, secondary);
    success: map-get($theme-colors-light, success);
    info: map-get($theme-colors-light, info);
    warning: map-get($theme-colors-light, warning);
    danger: map-get($theme-colors-light, danger);
    dark: map-get($theme-colors-light, dark);
  }
  theme-colors-dark: {
    primary: map-get($theme-colors-dark, primary);
    secondary: map-get($theme-colors-dark, secondary);
    success: map-get($theme-colors-dark, success);
    info: map-get($theme-colors-dark, info);
    warning: map-get($theme-colors-dark, warning);
    danger: map-get($theme-colors-dark, danger);
    dark: map-get($theme-colors-dark, dark);
  }
  status-colors: {
    active: map-get($status-colors, active);
    pending: map-get($status-colors, pending);
    ended: map-get($status-colors, ended);
    deleted: map-get($status-colors, deleted);
    declined: map-get($status-colors, declined);
  }
  input: {
    label-color: map-get($input, label-color);
    text-color: map-get($input, text-color);
    border-color: map-get($input, border-color);
    background-color: map-get($input, background-color);
    box-shadow: map-get($input, box-shadow);
    box-shadow-hover: map-get($input, box-shadow-hover);
  }
  fonts: {
    main: map-get($fonts, main);
    light: map-get($fonts, light);
    heavy: map-get($fonts, heavy);
    notification: map-get($fonts, notification);
    serif: map-get($fonts, serif);
  }
  breakpoints: {
    xs: map-get($breakpoints, xs);
    sm: map-get($breakpoints, sm);
    md: map-get($breakpoints, md);
    lg: map-get($breakpoints, lg);
    xl: map-get($breakpoints, xl);
    xxl: map-get($breakpoints, xxl);
  }
  footer-link-color: $footer-link-color;
  facebook-color: $facebook-color;
  error-color: $error-color;
  table-header-text-color: $table-header-text-color;
  ended-color: $ended-color;
  running-color: $running-color;
  soon-color: $soon-color;
  pending-color: $pending-color;

  distance-1: $distance-1;
  distance-2: $distance-2;
  distance-3: $distance-3;
  distance-4: $distance-4;
  distance-5: $distance-5;
  distance-16: $distance-16;
}
