@font-face {
  font-family: 'icomoon';
  src        : url('~@esolidar/toolkit/lib/assets/fonts/icomoon.eot');
  src        : url('~@esolidar/toolkit/lib/assets/fonts/icomoon.eot') format('embedded-opentype'),
    url('~@esolidar/toolkit/lib/assets/fonts/icomoon.ttf') format('truetype'),
    url('~@esolidar/toolkit/lib/assets/fonts/icomoon.woff') format('woff'),
    url('~@esolidar/toolkit/lib/assets/fonts/icomoon.svg') format('svg');
  font-weight : normal;
  font-style  : normal;
  font-display: block;
}