[class^="icon-"], 
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-camera:before {
  content: "\e900";
}
.icon-cheveron-down:before {
  content: "\e901";
}
.icon-cheveron-left:before {
  content: "\e902";
}
.icon-cheveron-right:before {
  content: "\e903";
}
.icon-cheveron-up:before {
  content: "\e904";
}
.icon-close:before {
  content: "\e905";
}
.icon-down-arrow:before {
  content: "\e906";
}
.icon-facebook:before {
  content: "\e907";
}
.icon-globe:before {
  content: "\e908";
}
.icon-go-home:before {
  content: "\e909";
}
.icon-google:before {
  content: "\e90a";
}
.icon-google-plus:before {
  content: "\e90b";
}
.icon-google-plus3:before {
  content: "\e90c";
}
.icon-hamburger:before {
  content: "\e90d";
}
.icon-headphones:before {
  content: "\e90e";
}
.icon-heart:before {
  content: "\e90f";
}
.icon-home:before {
  content: "\e910";
}
.icon-httpslock:before {
  content: "\e911";
}
.icon-ic-box-calendar-white:before {
  content: "\e912";
}
.icon-ic-box-clock-timer-white:before {
  content: "\e913";
}
.icon-ic-browser-chrome:before {
  content: "\e914";
}
.icon-ic-browser-opera:before {
  content: "\e915";
}
.icon-ic-browser-safari:before {
  content: "\e916";
}
.icon-ic-cause-white:before {
  content: "\e917";
}
.icon-ic-charities-benefited:before {
  content: "\e918";
}
.icon-ic-comment:before {
  content: "\e919";
}
.icon-ic-crowdfunding:before {
  content: "\e91a";
}
.icon-ic-doc:before {
  content: "\e91b";
}
.icon-ic-donations:before {
  content: "\e91c";
}
.icon-ic-edit-request:before {
  content: "\e91d";
}
.icon-ic-employees-involved:before {
  content: "\e91e";
}
.icon-ic-facebook:before {
  content: "\e91f";
}
.icon-ic-feed:before {
  content: "\e920";
}
.icon-ic-file:before {
  content: "\e921";
}
.icon-ic-file-upload:before {
  content: "\e922";
}
.icon-ic-go-back:before {
  content: "\e923";
}
.icon-ic-goods:before {
  content: "\e924";
}
.icon-ic-hourglass-ended:before {
  content: "\e925";
}
.icon-ic-hours:before {
  content: "\e926";
}
.icon-ic-im-in:before {
  content: "\e927";
}
.icon-ic-instagram:before {
  content: "\e928";
}
.icon-ic-location:before {
  content: "\e929";
}
.icon-ic-menu-auctions:before {
  content: "\e92a";
}
.icon-ic-menu-donations:before {
  content: "\e92b";
}
.icon-ic-menu-manage-store:before {
  content: "\e92c";
}
.icon-ic-menu-payments:before {
  content: "\e92d";
}
.icon-ic-menu-requests-gray:before {
  content: "\e92e";
}
.icon-ic-menu-store:before {
  content: "\e92f";
}
.icon-ic-notification-bell:before {
  content: "\e930";
}
.icon-icon-delete:before {
  content: "\e931";
}
.icon-icon-faq:before {
  content: "\e932";
}
.icon-icon-feed:before {
  content: "\e933";
}
.icon-icon-giftcards:before {
  content: "\e934";
}
.icon-icon-growdfunding:before {
  content: "\e935";
}
.icon-icon-ic-volunteering:before {
  content: "\e936";
}
.icon-icon-manage-employees:before {
  content: "\e937";
}
.icon-icon-payments:before {
  content: "\e938";
}
.icon-icons-manage-employees:before {
  content: "\e939";
}
.icon-icon-statistics:before {
  content: "\e93a";
}
.icon-icon-volunteering:before {
  content: "\e93b";
}
.icon-ic-ppt:before {
  content: "\e93c";
}
.icon-ic-request-goods-gray:before {
  content: "\e93d";
}
.icon-ic-settings:before {
  content: "\e93e";
}
.icon-ic-status-comments:before {
  content: "\e93f";
}
.icon-ic-status-volunteers:before {
  content: "\e940";
}
.icon-ic-survey:before {
  content: "\e941";
}
.icon-ic-txt:before {
  content: "\e942";
}
.icon-ic-up:before {
  content: "\e943";
}
.icon-ic-verification-phone-code:before {
  content: "\e944";
}
.icon-ic-view-request:before {
  content: "\e945";
}
.icon-ic-volunteering:before {
  content: "\e946";
}
.icon-ic-website:before {
  content: "\e947";
}
.icon-ic-xls:before {
  content: "\e948";
}
.icon-import-employees:before {
  content: "\e949";
}
.icon-instagram:before {
  content: "\e94a";
}
.icon-left-arrow:before {
  content: "\e94b";
}
.icon-linkedin2:before {
  content: "\e94c";
}
.icon-mail4:before {
  content: "\e94d";
}
.icon-menu-mobile:before {
  content: "\e94e";
}
.icon-pdf:before {
  content: "\e94f";
}
.icon-pinterest:before {
  content: "\e950";
}
.icon-right:before {
  content: "\e951";
}
.icon-right-arrow:before {
  content: "\e952";
}
.icon-star-full:before {
  content: "\e953";
}
.icon-telegram:before {
  content: "\e954";
}
.icon-twitter:before {
  content: "\e955";
}
.icon-up-arrow:before {
  content: "\e956";
}
.icon-vimeo:before {
  content: "\e957";
}
.icon-youtube:before {
  content: "\e958";
}
.icon-file-picture:before {
  content: "\e959";
}
