@mixin button($textColor, $borderColor, $bgColor) {
  border: 2px solid $borderColor;
  color: $textColor !important;
  background: $bgColor;
  border-radius: 100px;
  padding: 9px 60px;

  font-size: 20px;
  @include animate();

  &:hover {
    background: darken($bgColor, 10%);
    border-color: darken($bgColor, 10%);
  }

  &:focus {
    outline: none;
  }
}

@mixin buttonWhite($textColor, $borderColor, $bgColor) {
  border: 2px solid $borderColor;
  color: $textColor;
  background: $bgColor;
  border-radius: 100px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 17px;
  /*    line-height: 21px;*/
  @include animate();

  &:hover {
    background: $textColor;
    border-color: $textColor;
    color: map-get($colors, white) !important;

    span {
      color: map-get($colors, white) !important;
    }
  }
}

@mixin button-small($textColor, $borderColor, $bgColor) {
  border: 2px solid $borderColor;
  color: $textColor !important;
  background: $bgColor;
  border-radius: 100px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 17px;
  /*    line-height: 21px;*/
  @include animate();

  &:hover {
    background: darken($bgColor, 10%);
    border-color: darken($bgColor, 10%);
  }

  &:focus {
    outline: none;
  }
}

@mixin button-x-small($textColor, $borderColor, $bgColor) {
  border: 2px solid $borderColor;
  color: $textColor !important;
  background: $bgColor;
  border-radius: 100px;
  padding-left: 30px;
  padding-right: 30px;

  font-size: 12px;
  text-transform: uppercase;
  @include animate();

  &:hover {
    background: darken($bgColor, 10%);
    border-color: darken($bgColor, 10%);
  }

  &:focus {
    outline: none;
  }
}

@mixin animate($prop: all, $ms: 700ms) {
  -webkit-transition: $prop $ms cubic-bezier(0.115, 0.65, 0.215, 1);
  /* older webkit */
  -webkit-transition: $prop $ms cubic-bezier(0.115, 0.65, 0.215, 1.005);
  -moz-transition: $prop $ms cubic-bezier(0.115, 0.65, 0.215, 1.005);
  -o-transition: $prop $ms cubic-bezier(0.115, 0.65, 0.215, 1.005);
  transition: $prop $ms cubic-bezier(0.115, 0.65, 0.215, 1.005);
  -webkit-transition-timing-function: cubic-bezier(0.115, 0.65, 0.215, 1);
  /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.115, 0.65, 0.215, 1.005);
  -moz-transition-timing-function: cubic-bezier(0.115, 0.65, 0.215, 1.005);
  -o-transition-timing-function: cubic-bezier(0.115, 0.65, 0.215, 1.005);
  transition-timing-function: cubic-bezier(0.115, 0.65, 0.215, 1.005);
}

@mixin text-overflow-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@mixin text-multiline-ellipsis($lines) {
  text-overflow: ellipsis;
  overflow: hidden;
  // Addition lines for 2 line or multiline ellipsis
  display: -webkit-box !important;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  white-space: normal;
}

@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}

@mixin dropdown-arrow-before($left: 91%, $left-xs: 79%) {
  bottom: 100%;
  left: $left;
  border: solid transparent;
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(199, 199, 199, 0);
  border-bottom-color: #c7c7c7;
  border-width: 11px;
  margin-left: -11px;

  @media (max-width: map-get($breakpoints, xs)) {
    left: $left-xs;
  }
}

@mixin dropdown-arrow-after($left: 91%, $left-xs: 79%) {
  bottom: 100%;
  left: $left;
  border: solid transparent;
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: map-get($colors, white);
  border-width: 10px;
  margin-left: -10px;

  @media (max-width: map-get($breakpoints, xs)) {
    left: $left-xs;
  }
}

@mixin thin-scroll-bar() {
  ::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }

  ::-webkit-scrollbar-button {
    width: 0;
    height: 0;
  }

  ::-webkit-scrollbar-thumb {
    background: #9f9f9f;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #858585;
  }

  ::-webkit-scrollbar-thumb:active {
    background: #6a6a6a;
  }

  ::-webkit-scrollbar-track {
    background: #f0f0f0;
  }

  ::-webkit-scrollbar-track:hover {
    background: #e8e8e8;
  }

  ::-webkit-scrollbar-track:active {
    background: #c8c8c8;
  }

  ::-webkit-scrollbar-corner {
    background: transparent;
  }
}

@mixin border($color: $turquoise) {
  border: 2px solid map-get($color, 500);
}

@mixin input-focus() {
  border: none;
  box-sizing: border-box;
  outline: 2px solid map-get($turquoise, 500) !important;
  box-shadow: 0px 0px 0px 4px rgba(12, 131, 128, 0.08);
  @include animate();
}

@mixin input-hover() {
  border: none;
  outline: 2px solid map-get($turquoise, 500);
  @include animate(all, 50ms);
}

@mixin input-disabled() {
  border: none;
  color: map-get($neutrals, 700) !important;
  border: none !important;
  background-color: map-get($background, secondary) !important;
  outline: 1px solid map-get($neutrals, 200);
  @include animate();
}

@mixin input-disabled-hover() {
  border: none;
  outline: 1px solid map-get($neutrals, 200);
}

@mixin input-form() {
  border: none;
  font-size: 16px;
  font-weight: 400;
  color: map-get($neutrals, 900);
  resize: none;
  box-shadow: none;
  line-height: 1.8;
  outline: 1px solid map-get($neutrals, 200);
  border-radius: $border-radius-1 !important;
  @include animate();
}

@mixin input-form-error() {
  border: none;
  outline: 2px solid map-get($negative, 500);
  @include animate();
}

@mixin line-clamp($lines: 4) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
}
