.project-filters {
  h3 {
    font-size     : 27px;
    color         : $mainTextColorDark;
    letter-spacing: 0;
    line-height   : 39px;
  }

  input.form-control {
    background  : #ffffff url('https://s3-eu-west-1.amazonaws.com/esolidar.com/frontend/icons/icon-search.svg') no-repeat 10px 50%;
    padding-left: 35px;
  }

  .filters {
    .filter-button {
      border      : none;
      background  : transparent;
      width       : 100%;
      padding     : 0;
      margin      : 0;
      text-align  : left;
      margin-top  : 20px;

      &:focus {
        outline: none;
      }

      h4 {
        font-size     : 15px;
        letter-spacing: 0;
        line-height   : 26px;
      }

      img {
        float     : right;
        margin-top: 7px;
      }
    }
  }
}