.radio-inline {
  position     : relative;
  margin-bottom: 10px;
  padding      : 0;

  .form-group {
    margin-bottom: 0;

    input[type=radio] {
      position  : absolute;
      visibility: hidden;
    }

    input[type=radio]:checked~.checkbox {
      &:after {
        content   : '';
        position  : absolute;
        left      : 0;
        top       : 0;
        width     : 16px;
        height    : 16px;
        background: url(https://s3-eu-west-1.amazonaws.com/esolidar.com/frontend/assets/checkbox.svg) 0 -16px no-repeat;
      }
    }

    label {
      position    : relative;
      padding-left: 25px;
      width       : 100%;
    }

    .checkbox {
      content   : '';
      position  : absolute;
      left      : 0;
      top       : 1px;
      width     : 16px;
      height    : 16px;
      background: url(https://s3-eu-west-1.amazonaws.com/esolidar.com/frontend/assets/checkbox.svg) 0 0 no-repeat;
    }
  }

  .help-block {
    color: $dangerColor;
  }

  .message {
    font-size: 13px;
    color    : #8e8e8e;
  }
}