.share-label {
  font-size: 12px;
  color: #738598;
  letter-spacing: 0;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}

.share-icon {
  margin-right: 10px;
  width: 40px;
  display: inline-block;
}