.slider-images-landing {
  .slider {
    padding-bottom: 60px;
  }

  .title {
    font-family: "AvenirLT-Roman";
    color: $mainColor;
    font-size: 30px;
    letter-spacing: -0.5px;
    line-height: 50px;
    text-align: center;
    margin: 65px 0px 40px 0px;
  }

  .image {
    height: auto;
    margin-left : auto;
    margin-right: auto;
  }
}