.survey {
  margin: 90px 0 25px 0;

  .loading-logo {
    min-height: 350px;
  }

  .survey-form-title {
    margin-bottom: 15px;
    color        : $mainTextColorDark;
  }

  h5 {
    font-family: $fontHeavy;
    font-size  : 14px;
    line-height: 24px;
    color      : $mainTextColorDark;
  }

  .control-label {
    font-family   : $fontHeavy;
    text-transform: none;
    font-size     : 14px;
    font-weight   : normal;
    line-height   : 24px;
  }

  .radio-wrap {
    position: relative;
  }

  .button-label {
    margin     : 0 5px 0 0;
    display    : inline-block;
    cursor     : pointer;
    background : $grayWhite;
    transition : 0.3s;
    user-select: none;
    border     : 1px solid $grayExtraLight;
    position   : relative;
    width      : 40px;
    height     : 40px;

    h3 {
      font-family      : $fontHeavy;
      font-size        : 14px;
      line-height      : 40px;
      color            : $mainTextColorDark;
      border-bottom    : none;
      margin           : 0;
      position         : absolute;
      left             : 50%;
      transform        : translateX(-50%);
      -webkit-transform: translateX(-50%);
      width            : 40px;
      text-align       : center;
    }

    input[type="radio"]:checked+h3,
    input[type="radio"]:hover+h3 {
      background-color: $mainTextColorDark;
      font-size       : 14px;
      color           : white;
      font-weight     : bold;
      border          : none;
    }
  }

  .survey-disabled {
    h3 {
      color : $mainTextColorDark;
      margin: 30px;
    }
  }

  @media (max-width: 425px) {
    margin-top: 15px;
    padding   : 0;
  }

  .hidden {
    display: none !important;
  }

  .btn-submit-servey {
    border                            : 2px solid $successColor;
    color                             : #fff !important;
    background                        : $successColor;
    border-radius                     : 4px;
    font-family                       : $fontFamily;
    font-size                         : 17px;
    -webkit-transition                : all .7s cubic-bezier(.115, .65, .215, 1.005);
    transition                        : all .7s cubic-bezier(.115, .65, .215, 1.005);
    -webkit-transition-timing-function: cubic-bezier(.115, .65, .215, 1);
    -webkit-transition-timing-function: cubic-bezier(.115, .65, .215, 1.005);
    -moz-transition-timing-function   : cubic-bezier(.115, .65, .215, 1.005);
    -o-transition-timing-function     : cubic-bezier(.115, .65, .215, 1.005);
    transition-timing-function        : cubic-bezier(.115, .65, .215, 1.005);
    margin-top                        : 15px;
  }
}

.btn-submit-servey {
  margin-top: 15px;
}

.loading-box {
  min-height: 350px;
}

.survey-value-label-1 {
  padding-right: 15px;
  color        : $mainTextColorDark;
  display      : inline-block;
  font-size    : 12px;

  @media (max-width: 425px) {
    width  : 100%;
    padding: 0;
  }
}

.survey-value-label-2 {
  padding-left: 15px;
  color       : $mainTextColorDark;
  display     : inline-block;
  font-size   : 12px;

  @media (max-width: 425px) {
    width  : 100%;
    padding: 0;
  }
}

@media (max-width: 425px) {
  #form-survey {
    .box {
      padding: 20px;
    }

    .text-right {
      text-align: center;
    }
  }
}