.ticketCard {
  background-color: #fff;
  border          : 1px solid #E7EBED !important;
  .card-title {
    padding      : 0px 15px 15px 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid #E7EBED;
  }
  .comment-date {
    display    : block;
    line-height: 40px;
    font-family: 'AvenirLTStd-Heavy';
    font-size  : 12px;
    color      : #455C75;
  }
  .header {
    .thumb {
      width        : 40px;
      border-radius: 50%;
      float        : left;
      margin-right : 15px;
    }
    .user-post {
      font-family: 'AvenirLT-Roman';
      font-size  : 20px;
      font-weight: 300;
      line-height: 40px;
      color      : $mainColor;
      display    : inline-block;
    }
  }
  h6 {
    color: #6C757D;
  }
  p {
    margin-bottom: 20px;
  }
}
.tickets-page {
  table tbody tr {
    cursor: pointer;
  }
}
.w-100 {
  width: 100%;
}
.border-top {
  border-top: 1px solid #ccc;
  text-align: right;
  padding   : 20px 0 20px 0;
}
.files-list {
  background: #F6F9F9;
  padding   : 15px 40px;
  max-height: 320px;
  overflow  : auto;
  margin-top: 15px;
  width     : 100%;
  .file-list-imported {
    border-bottom: 1px solid #D0D6DD;
    padding      : 15px 0;
    .checkbox-label {
      width      : 100%;
      font-weight: normal;
    }
    .name {
      font-family   : 'AvenirLTStd-Heavy';
      font-size     : 15px;
      color         : #455C75;
      letter-spacing: 0;
    }
  }
}
.editSelectField,
.react-bs-table-container {
  .form-group {
    float: left;
    .control-label {
      color         : #6C757D;
      text-transform: capitalize;
      font-size     : 1rem;
      font-weight   : 500;
    }
    .form-control {
      border      : 0px;
      width       : auto;
      padding-left: 0px;
      option:empty {
        display: none;
      }
    }
  }
  i {
    float       : left;
    position    : relative;
    top         : 15px;
    margin-right: 5px;
    font-weight : bold;
    font-size   : 13px;
  }
  .states {
    font-size     : 15px;
    color         : #455C75;
    letter-spacing: -0.31px;
    line-height   : 24px;
    border-radius : 3px;
    padding       : 10px;
    min-height    : 40px;
    float         : left;
  }
  span.orange {
    color           : $pendingColor;
    background-color: rgba(255, 165, 0, 0.3);
  }
  span.green {
    color           : $green;
    background-color: rgba(0, 100, 0, 0.3);
  }
  span.greenLight {
    color           : $btnSuccess;
    background-color: rgba(52, 199, 127, 0.3);
  }
  span.gray {
    color           : $grayDark;
    background-color: rgba(115, 133, 152, 0.3);
  }
  span.yellow {
    color      : $btnWarning;
    font-weight: bold;
  }
  span.blue {
    color           : $infoColor;
    background-color: rgba(5, 198, 229, 0.3);
  }
  .red {
    color: red;
  }
  .danger {
    color: $btnDanger;
  }
  .orange {
    color: $pendingColor;
  }
  .green {
    color: #6C757D;
  }
  .greenLight {
    color: $btnSuccess;
  }
  .gray {
    color: $grayDark;
  }
  .yellow {
    color: $btnWarning;
  }
  .blue {
    color: $infoColor;
  }
  .border-blue {
    border: 2px solid $infoColor !important;
  }
  .border-red {
    border: 2px solid red !important;
  }
  .border-danger {
    border: 2px solid $btnDanger !important;
  }
  .border-orange {
    border: 2px solid $pendingColor !important;
  }
  .border-green {
    border: 2px solid $green !important;
  }
  .border-greenLight {
    border: 2px solid $btnSuccess !important;
  }
  .border-gray {
    border: 2px solid $grayDark !important;
  }
  .border-yellow {
    border: 2px solid $btnWarning !important;
  }
}
.react-bs-table-container {
  span.states {
    padding   : 3px 10px 3px;
    min-height: auto;
  }
  i {
    top: 10px;
  }
}

.header-import {
  padding: 25px;
  padding-bottom: 0;

  .upload-file {
    border       : 1px solid $mainTextColorLight;
    padding      : 0;
    text-align   : center;
    margin-bottom: 25px;

    p {
      padding: 30px 25px;
      margin : 0;
      color  : $mainTextColorLight;

      .error {
        font-size: 12px;
      }
    }

    .Loading {
      min-height: 122px;
    }
  }
}

.thumb-box {
  float : left;
  margin: 15px !important;

  .checkbox-label {
    padding-left: 0 !important;
  }

  .file-thumb {
    width              : 120px;
    height             : 130px;
    background-size    : cover;
    background-position: 50% 50%;
    border             : 1px solid #cecece;
    position           : relative;

    &:hover {
      .thumb-box-hover {
        display: block;
      }
    }
  }

  .thumb-box-hover {
    display   : none;
    position  : absolute;
    top       : 0;
    left      : 0;
    right     : 0;
    bottom    : 0;
    background: rgba(0, 0, 0, 0.4);
    font-size : 11px;
    word-break: break-all;
    padding   : 10px;
    z-index   : 1;
    color     : #fff
  }

  .thumb-box-file {
    position  : absolute;
    top       : 0;
    left      : 0;
    right     : 0;
    bottom    : 0;
    font-size : 11px;
    word-break: break-all;
    background: rgba(0, 0, 0, 0.1);
    padding   : 10px;
    z-index   : 1;
  }

  .checkbox {
    z-index: 9;
    bottom : 15px;
    top    : auto !important;
    right  : 15px;
    left   : auto !important;
  }

  input[type=checkbox]:checked~.file-thumb {
    border: 2px solid red;
  }
}

.attachments-box {
  background   : #f5f5f5;
  padding      : 15px;
  border       : 2px solid #d0d6dd;
  margin-bottom: 15px;

  .attachments-row {
    border-bottom: 1px solid #d0d6dd;

    .remove-file {
      float        : right;
      border       : 1px solid gray;
      background   : transparent;
      color        : gray;
      border-radius: 50%;
      width        : 22px;
      padding      : 0;
      line-height  : 20px;
      margin-top   : 6px;
    }

    a {
      padding: 5px 0;
      display: inline-block;
    }
  }
}

.import-files {
  .modal-dialog {
    .modal-body {
      padding: 0;
    }
  }
}