/*
  Font Face
*/
$fontLight: 'AvenirLTStd-Light';
$fontRoman: 'AvenirLT-Roman';
$fontHeavy: 'AvenirLTStd-Heavy';

/*
  Colors
*/
$backgroundColor: #f6f9f9;

/* Blue */
$mainColor: #04C7E5;
$mainColorLight: #b3EEF7;
$mainColorDark: #163352;

/* Grays */
$slateGray: #738598;
$gullGray: #A2ADBA;
$mischka: #D0D6DD;
$porcelainDark: #E7EBED;
$porcelainMedium: #F6F9F9;
$porcelainLight: #FBFCFC;

/* Input Label Color */
$inputLabelColor: #455C75;

/* Footer */
$footerLinkColor: #B3EEF7;

$mainTextColor: #455C75;
$greenColor: #34C77F;
$facebookColor: #39579B;
$errorColor: #FF494C;
$tableHeaderTextColor: #B3EEF7;

$successColor: #34C77F;
$warningColor: #FFBE00;
$dangerColor: #ff494c;
$infoColor: #05c6e5;

/* Status Colors*/
$statusActiveColor: #34C77F;
$statusPendingColor: #FFBE00;
$statusEndedColor: $mainColor;
$statusRevieredColor: #fd4b51;
$statusDeletedColor: #fd4b51;
$statusDeclinedColor: #738598;

$endedColor: #ff494c;
$runningColor: #31BD79;
$soonColor: #05c6e5;
$pendingColor: orange;

// Dimensions
$mobileWidth: 425px;


