/*
  Font Face
*/
$fontFamily: 'AvenirLT-Roman' !default;


/* Blue */
$mainColor     : #04C7E5 !default;
$mainColorLight: #b3EEF7 !default;
$mainColorDark : #163352 !default;


/* Grays */
$grayDark       : #738598 !default;
$graySemiDark   : #A2ADBA !default;
$grayLight      : #D0D6DD !default;
$grayExtraLight : #E7EBED !default;
$grayWhite      : #F6F9F9 !default;
$grayWhiteLight : #FBFCFC !default;

/* Warnings */
$infoColor   : #05c6e5 !default;
$successColor: #34C77F !default;
$warningColor: #FFBE00 !default;
$dangerColor : #ff494c !default;

/* Status Colors*/
$statusActiveColor  : #34C77F !default;
$statusPendingColor : #FFBE00 !default;
$statusEndedColor   : $mainColor !default;
$statusRevieredColor: #fd4b51 !default;
$statusDeletedColor : #fd4b51 !default;
$statusDeclinedColor: #738598 !default;

/* Forms */
$inputLabelColor: #455C75;